Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Extend Disableable Actions List
  src/waldur_mastermind/marketplace/enums.py
Due: Run unit tests, Run migration test

feat: Add VIEW_DETAILS, SYNCHRONIZE, and VERSION_HISTORY actions to ResourceAction enum.
  src/waldur_mastermind/marketplace/enums.py
Due: Run unit tests, Run migration test

[WAL-9680] Add event logs for deleted verifications
  src/waldur_core/logging/enums.py
  src/waldur_core/onboarding/apps.py
  src/waldur_core/onboarding/handlers.py
  src/waldur_core/onboarding/models.py
  src/waldur_core/onboarding/tasks.py
  src/waldur_core/onboarding/tests/test_event_logs.py
  src/waldur_core/onboarding/views.py
Due: Run unit tests, Run migration test

Fix nullable partition field in NestedSoftwareCatalogSerializer for SDK compatibility
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

[WAL-9655] Add support for logging and managing of all AI assistant chat
  src/waldur_core/logging/enums.py
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/chat/extension.py
  src/waldur_mastermind/chat/migrations/0002_chatsession_threadsession_message_and_more.py
  src/waldur_mastermind/chat/models.py
  src/waldur_mastermind/chat/serializers.py
  src/waldur_mastermind/chat/tasks.py
  src/waldur_mastermind/chat/tests/test_chat_session.py
  src/waldur_mastermind/chat/tests/test_cleanup.py
  src/waldur_mastermind/chat/tests/test_messages.py
  src/waldur_mastermind/chat/tests/test_persistence_rbac.py
  src/waldur_mastermind/chat/tests/test_streamer.py
  src/waldur_mastermind/chat/urls.py
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

feat: prevent non-staff users from updating offering's disabled resource actions and add related tests.
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_resource_display_options.py
Due: Run unit tests, Run migration test

feat: implement the check for pending orders when updating resource options
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_options.py
Due: Run unit tests, Run migration test

Add invoice finalization grace period [HPCMP-412]
  docs/admin/scheduled.md
  docs/guides/billing-and-invoicing.md
  src/waldur_mastermind/invoices/compensations.py
  src/waldur_mastermind/invoices/extension.py
  src/waldur_mastermind/invoices/handlers.py
  src/waldur_mastermind/invoices/migrations/0023_add_pending_finalization_state.py
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/invoices/tasks.py
  src/waldur_mastermind/invoices/tests/test_grace_period.py
  src/waldur_mastermind/invoices/tests/test_import_usage.py
  src/waldur_mastermind/invoices/views.py
  src/waldur_mastermind/marketplace/billing.py
  src/waldur_mastermind/marketplace/billing_usage.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/promotions/handlers.py
  tests/generate-pipeline.sh
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/scheduled.md
  docs/events.md
  docs/handlers.md
Due: none

Backfill initial version history entries [HPCMP-415]
  pyproject.toml
  src/waldur_mastermind/marketplace/migrations/0205_backfill_initial_revisions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_options.py
  src/waldur_mastermind/marketplace/views.py
  uv.lock
Due: Run unit tests, Run migration test

[WAL-9365] Introduce a separate permission CUSTOMER_CONTACT_UPDATE.
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/enums.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_customer.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test, Try building docker image

feat: Allow service providers to update resource options during order approval.
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_options.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

[WAL-9618] Implement a mechanism to inform invitation creator about duplicate invitation.
  src/waldur_core/users/serializers.py
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_core/users/utils.py
  src/waldur_core/users/views.py
Due: Run unit tests, Run migration test

Add estimate_renewal endpoint with detailed cost breakdown
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/views.py
  src/waldur_core/user_actions/filters.py
  src/waldur_core/user_actions/serializers.py
  src/waldur_core/user_actions/tasks.py
  src/waldur_core/user_actions/views.py
  src/waldur_mastermind/marketplace/demo_presets/presets/resource_renewal.json
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/scheduled.md
Due: none

Fix SDK for approve_by_provider
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

[WAL-9689] Move eduTEAMS refresh token rotation to Celery Beat
  docs/admin/configuration-guide.md
  docs/admin/scheduled.md
  src/waldur_auth_social/extension.py
  src/waldur_auth_social/tasks.py
  src/waldur_auth_social/tests/test_eduteams.py
  src/waldur_auth_social/tests/test_token_rotation.py
  src/waldur_auth_social/utils.py
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Add organization registry code field to user profile
  src/waldur_auth_social/const.py
  src/waldur_core/core/migrations/0022_user_organization_registry_code.py
  src/waldur_core/core/models.py
  src/waldur_core/core/tests/test_user_attributes.py
  src/waldur_core/core/user_attributes.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/serializers.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

feat: Add custom_text to GroupInvitation, hide creator on public invitations
  src/waldur_core/logging/enums.py
  src/waldur_core/users/migrations/0023_add_group_invitation_custom_text.py
  src/waldur_core/users/models.py
  src/waldur_core/users/serializers.py
  src/waldur_core/users/tests/test_group_invitation.py
  src/waldur_core/users/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/events.md
Due: none

[WAL-9658] Add Identity Bridge API for push-based ISD user attribute sync
  docs/identity-bridge.md
  docs/user-profile-attributes.md
  src/waldur_auth_social/serializers.py
  src/waldur_auth_social/tests/test_eduteams.py
  src/waldur_auth_social/tests/test_identity_bridge.py
  src/waldur_auth_social/urls.py
  src/waldur_auth_social/utils.py
  src/waldur_auth_social/views.py
  src/waldur_core/core/features.py
  src/waldur_core/core/handlers.py
  src/waldur_core/core/migrations/0023_user_identity_bridge_fields.py
  src/waldur_core/core/models.py
  src/waldur_core/core/tests/test_user_attributes.py
  src/waldur_core/core/user_attributes.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/features.md
Due: none

Add ENABLE_PROJECT_DIGEST setting and feature toggle
  src/waldur_core/core/features.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/digest_tasks.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Reduce test suite warnings
  src/waldur_core/core/tests/unittests/test_models.py
  src/waldur_core/structure/tests/factories.py
  src/waldur_mastermind/invoices/tests/test_invoices.py
  src/waldur_mastermind/marketplace/tests/factories.py
  src/waldur_mastermind/marketplace/tests/test_tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_permissions.py
  src/waldur_mastermind/marketplace_support/tests/test_create_issue_if_membership_changed.py
  src/waldur_mastermind/policy/tests/test_customer_component_usage.py
  src/waldur_mastermind/proposal/tests/factories.py
  src/waldur_mastermind/proposal/tests/fixtures.py
  src/waldur_mastermind/proposal/tests/test_proposals.py
  src/waldur_mastermind/proposal/tests/test_rounds.py
  src/waldur_openstack/tests/factories.py
  src/waldur_vmware/tests/factories.py
Due: Run unit tests, Run migration test

Fix cost policy bypass for first resource allocation
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/signals.py
  src/waldur_mastermind/policy/apps.py
  src/waldur_mastermind/policy/handlers.py
  src/waldur_mastermind/policy/tests/test_actions.py
  src/waldur_mastermind/support/tests/fixtures.py
  src/waldur_mastermind/support/tests/smax_base.py
Due: Run unit tests, Run migration test

[WAL-9365] Delete address from contact endpoint.
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_customer.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/handlers.md
Due: none

[WAL-9706] Enable more filters for onboarding models
  src/waldur_core/onboarding/filters.py
Due: Run unit tests, Run migration test

Add disclaimer area feature toggle, logo and text settings
  src/waldur_core/core/features.py
  src/waldur_core/core/logos.py
  src/waldur_core/core/tests/test_disclaimer_area.py
  src/waldur_core/server/constance_settings.py
  src/waldur_openstack/tests/unittests/test_backend.py
Due: Run unit tests, Run migration test

feat: Add two-way provider-consumer messaging on pending orders [WAL-9704]
  docs/admin/notifications.md
  docs/core-concepts/marketplace-orders.md
  docs/core-concepts/offering.md
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/marketplace/migrations/0206_order_provider_consumer_messages.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/templates/marketplace/notify_consumer_about_provider_info_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/notify_consumer_about_provider_info_message.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notify_consumer_about_provider_info_subject.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notify_provider_about_consumer_info_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/notify_provider_about_consumer_info_message.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notify_provider_about_consumer_info_subject.txt
  src/waldur_mastermind/marketplace/tests/test_order_provider_consumer_info.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/admin/notifications.md
  docs/admin/templates.md
  docs/marketplace_provision.mmd
Due: none

Expose ordering user's email, organization, and registry code in Order API
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace_rancher/tests/test_import.py
Due: Run unit tests, Run migration test

Use mirrored and pinned docker:27-dind to avoid ECR rate limits
  .gitlab-ci.yml
Due: none

Add a feature to disable marketplace UI for end users setting
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

[WAL-9682 Step 1] Delete django-admin-tools and django-fluent-dashboard.
  docker_build.sh
  pyproject.toml
  src/waldur_core/server/admin/dashboard.py
  src/waldur_core/server/admin/menu.py
  src/waldur_core/server/admin/settings.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/doc_settings.py
  src/waldur_core/server/urls.py
  src/waldur_core/structure/management/commands/print_notifications.py
  src/waldur_core/templates/admin/base.html
  src/waldur_core/templates/admin/base_site.html
  src/waldur_core/templates/admin/dashboard/erred_link_list.html
  uv.lock
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/features.md
Due: none

Trigger SLURM policy re-evaluation when resource limits increase on downscaled/paused resource
  src/waldur_mastermind/marketplace/callbacks.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/tests/test_callbacks.py
Due: Run unit tests, Run migration test
