Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Emit glauth groups as [[groups]] array-of-tables
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_offering_user.py
Due: Run unit tests, Run migration test

[WAL-9985] Allow editing maintenance announcements while scheduled
  src/waldur_mastermind/marketplace/tests/test_maintenance_announcement.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Force through end-date-triggered resource termination past a stuck approval
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_tasks.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Scope integration-test trigger; forward TRIGGER_SOURCE
  .gitlab-ci.yml
Due: none

feat: add managed_isds field to user import
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Add per-offering role-based consumer approval skip
  docs/offering-visibility.md
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_restricted_offering.py
Due: Run unit tests, Run migration test

Notify customer contact and notification emails on permission request [ONS-1263]
  docs/admin/notifications.md
  docs/core-concepts/invitations.md
  src/waldur_core/structure/notifications.py
  src/waldur_core/users/tasks.py
  src/waldur_core/users/tests/test_group_invitation.py
  src/waldur_core/users/utils.py
Due: Run unit tests, Run migration test

Add limit-based components to discounts demo preset [WAL-10026]
  scripts/generate_discounts_affiliates_preset.py
  src/waldur_mastermind/marketplace/demo_presets/presets/discounts_and_affiliates.json
Due: Run unit tests, Run migration test

Remove unstable quota-full and quota-75% notifications
  docs/admin/notifications.md
  docs/admin/templates.md
  docs/handlers.md
  src/waldur_core/core/migrations/0038_remove_quota_notifications.py
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/templates/marketplace/notification_quota_75_percent_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/notification_quota_75_percent_message.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notification_quota_75_percent_subject.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notification_quota_full_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/notification_quota_full_message.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notification_quota_full_subject.txt
  src/waldur_mastermind/marketplace/tests/test_quota_75_percent_notification.py
  src/waldur_mastermind/marketplace/tests/test_quota_full_notification.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/events.md
  docs/handlers.md
  docs/marketplace_provision.mmd
Due: none

Source OpenStack instance ComponentUsage from Placement allocations [WAL-9901]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace_openstack/__init__.py
  src/waldur_mastermind/marketplace_openstack/tests/test_placement_billing.py
  src/waldur_mastermind/marketplace_openstack/utils.py
Due: Run unit tests, Run migration test

[WAL-9986] Backend support for maintenance overrun metrics, ordering and bucket filter
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_announcement.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_announcement_filters.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Add OpenStack duplicate-offering diagnostics and self-heal/SMAX logging
  src/waldur_core/core/features.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_openstack/management/commands/dedupe_tenant_offerings.py
  src/waldur_mastermind/marketplace_openstack/serializers.py
  src/waldur_mastermind/marketplace_openstack/tests/test_dedupe_tenant_offerings.py
  src/waldur_mastermind/marketplace_openstack/tests/test_duplicate_offerings_api.py
  src/waldur_mastermind/marketplace_openstack/urls.py
  src/waldur_mastermind/marketplace_openstack/utils.py
  src/waldur_mastermind/marketplace_openstack/views.py
  src/waldur_mastermind/support/backend/smax_utils.py
  src/waldur_mastermind/support/tests/test_smax_users.py
Due: Run unit tests, Run migration test

Fix certificate .pem extension validation [gh-87]
  src/waldur_core/media/tests/test_validators.py
  src/waldur_core/media/validators.py
  src/waldur_core/structure/migrations/0078_alter_servicesettings_certificate.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/handlers.md
Due: none

Raise default log level to INFO to quiet debug boot noise
  docker/rootfs/etc/waldur/logging.conf.py
Due: Try building docker image

Fix tenant creation race condition with dependent resource provisioning [WAL-10073]
  src/waldur_openstack/tasks.py
Due: Run unit tests, Run migration test

Surface per-user personal groups in glauth tree view
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_glauth_tree.py
Due: Run unit tests, Run migration test

Remove deprecated skip_rabbitmq_messages middleware aliases (no callers)
  src/waldur_core/core/middleware.py
Due: Run unit tests, Run migration test

Add multi-user uid/gid propagation tests for glauth role groups
  src/waldur_mastermind/marketplace_site_agent/tests/test_glauth_tree.py
Due: Run unit tests, Run migration test

Exclude personal groups from role-group assertions in glauth tree tests
  src/waldur_mastermind/marketplace_site_agent/tests/test_glauth_tree.py
Due: Run unit tests, Run migration test

Correct stale limit_usage docstrings [WAL-10083]
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Use the offering username as the GLAuth account name [WAL-10030]
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_glauth_tree.py
Due: Run unit tests, Run migration test

Manage user SSH public keys over inbound SCIM
  src/waldur_core/server/constance_settings.py
  src/waldur_core/users/scim/server/mapping.py
  src/waldur_core/users/scim/server/patch.py
  src/waldur_core/users/scim/server/ssh_keys.py
  src/waldur_core/users/scim/server/users_view.py
  src/waldur_core/users/scim/server/views.py
  src/waldur_core/users/tests/scim/test_discovery.py
  src/waldur_core/users/tests/scim/test_users.py
Due: Run unit tests, Run migration test

Allow patching in progress maintenance fields
  src/waldur_mastermind/marketplace/tests/test_maintenance_announcement.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

Add CHECK_FOR_UPDATES toggle to disable GitHub version check
  src/waldur_core/core/tests/test_version.py
  src/waldur_core/core/views.py
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Render non-string dict keys instead of raising on serialization [WAL-10085]
  src/waldur_core/core/renderers.py
  src/waldur_core/core/tests/test_renderers.py
Due: Run unit tests, Run migration test

Notify project creators on auto-create-project permission requests
  src/waldur_core/users/tests/test_group_invitation.py
  src/waldur_core/users/utils.py
Due: Run unit tests, Run migration test

Mark restore-order support tickets as restorations [WAL-10086]
  src/waldur_mastermind/marketplace_support/tests/test_format_description.py
  src/waldur_mastermind/marketplace_support/tests/test_processors.py
  src/waldur_mastermind/marketplace_support/utils.py
  src/waldur_mastermind/marketplace_support/views.py
Due: Run unit tests, Run migration test

Let organization owners appoint Call organizers [call-audit F1.1/F1.2]
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/enums.py
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
  src/waldur_mastermind/proposal/tests/test_call_organizer_grant.py
Due: Run unit tests, Run migration test, Try building docker image

Make all profile attributes admin-selectable in USER_ATTRIBUTE_CHOICES
  src/waldur_core/core/tests/test_user_attributes.py
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Export call_organizer scope-type key to frontend permission enums
  src/waldur_core/permissions/print_permission_enums.py
Due: Run unit tests, Run migration test

Pin typescript peer in SDK generation to unbreak develop
  scripts/generate-ts-sdk.sh
Due: none

Expose opt-in HEAD count operations for nested and detail-list endpoints
  CLAUDE.md
  docs/guides/openapi.md
  src/waldur_core/core/nested_routers.py
  src/waldur_core/core/openapi_inspector.py
  src/waldur_core/core/schema_hooks.py
  src/waldur_core/core/tests/test_openapi_inspector.py
  src/waldur_core/core/views.py
  src/waldur_core/permissions/tests/test_count_head_validation.py
  src/waldur_core/permissions/views.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Make the proposal workflow engine drivable and provisioning [call-audit A1/A4/F1.8]
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/enums.py
  src/waldur_core/permissions/fixtures.py
  src/waldur_mastermind/proposal/handlers.py
  src/waldur_mastermind/proposal/permissions.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/tests/test_workflow.py
  src/waldur_mastermind/proposal/utils.py
  src/waldur_mastermind/proposal/views.py
  src/waldur_mastermind/proposal/workflow_service.py
Due: Run unit tests, Run migration test, Try building docker image

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/handlers.md
Due: none

Seed workflow-engine state in the call_management preset [call-audit]
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
Due: Run unit tests, Run migration test
