Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

feat: Disable update and partial update actions for ServerGroupViewSet.
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Add offering-level backend_id validation rules [HPCMP-424]
  docs/core-concepts/offering.md
  src/waldur_core/core/models.py
  src/waldur_core/core/validators.py
  src/waldur_mastermind/marketplace/migrations/0207_offering_backend_id_rules.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

[WAL-9723] Allow service providers to set resource state to OK
  src/waldur_mastermind/marketplace/tests/test_provider_resource_actions.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

[Feature] Add feature toggle to allow hide organization information in UI
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

Filter first_name and last_name together with full_name in GDPR config [WAL-9725]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
Due: Run unit tests, Run migration test

Fix command
  src/waldur_core/structure/management/commands/print_notifications.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/features.md
  docs/marketplace_catalog.mmd
Due: none

Allow service providers to activate offerings via feature flag
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

Expand SP offering config to gate all lifecycle operations
  docs/admin/configuration-guide.md
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Remove run_before dependency from migration
  src/waldur_mastermind/marketplace/migrations/0205_backfill_initial_revisions.py
  src/waldur_mastermind/marketplace/migrations/0207_offering_backend_id_rules.py
Due: Run unit tests, Run migration test

[WAL-9702] Add AI assistant chat logs to the frontend support view
  src/waldur_mastermind/chat/models.py
  src/waldur_mastermind/chat/serializers.py
  src/waldur_mastermind/chat/tests/test_chat_session.py
  src/waldur_mastermind/chat/tests/test_messages.py
  src/waldur_mastermind/chat/tests/test_persistence_rbac.py
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

Expand SP offering management config to gate all lifecycle operations
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Add OIDC email-based failover user matching
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/utils.py
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

[WAL-9707] Replace `is_equal` task deduplication with cache-based locking for background tasks.
  docs/core-concepts/tasks-and-executors.md
  src/waldur_core/core/tasks.py
  src/waldur_core/core/tests/test_background_tasks.py
  src/waldur_core/structure/tasks.py
  src/waldur_openstack/tasks.py
Due: Run unit tests, Run migration test

Add consumer and provider rejection comment fields to Order
  src/waldur_mastermind/marketplace/migrations/0208_order_rejection_comments.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/templates/marketplace/notification_to_user_that_order_been_rejected_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/notification_to_user_that_order_been_rejected_message.txt
  src/waldur_mastermind/marketplace/tests/test_order_review.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Fix N+1 queries on /api/users/ list endpoint
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/utils_data_access.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/notifications.md
  docs/admin/templates.md
  docs/marketplace_provision.mmd
Due: none

Scope customer detail data to user-visible projects
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_customer_visibility.py
  src/waldur_core/structure/views.py
  src/waldur_mastermind/billing/serializers.py
Due: Run unit tests, Run migration test

Fix N+1 query issues in service provider endpoints and usage task
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/utils_data_access.py
  src/waldur_core/structure/views.py
  src/waldur_mastermind/billing/serializers.py
  src/waldur_mastermind/invoices/utils.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Cache system role lookups to fix N+1 queries on public offerings endpoint
  conftest.py
  src/waldur_auth_social/tests/test_eduteams.py
  src/waldur_core/permissions/models.py
  tests/select_tests.py
Due: Run unit tests, Run migration test

Add restrict_deletion_with_active_resources plugin option [HPCMP-428]
  docs/core-concepts/offering.md
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/views.py
  tests/generate-pipeline.sh
Due: Run unit tests, Run migration test

Fix Arrow vendor offering mapping serializer to accept UUIDs
  docs/admin/arrow-integration.md
  src/waldur_mastermind/waldur_arrow/backend.py
  src/waldur_mastermind/waldur_arrow/migrations/0006_add_plan_to_vendor_offering_mapping.py
  src/waldur_mastermind/waldur_arrow/migrations/0007_add_invoice_item_prefix.py
  src/waldur_mastermind/waldur_arrow/models.py
  src/waldur_mastermind/waldur_arrow/serializers.py
  src/waldur_mastermind/waldur_arrow/tasks.py
  src/waldur_mastermind/waldur_arrow/tests/test_consumption_sync.py
  src/waldur_mastermind/waldur_arrow/tests/test_tasks.py
  src/waldur_mastermind/waldur_arrow/views.py
Due: Run unit tests, Run migration test

PoC for collecting and displaying latest logs in Mastermind [WAL-9593]
  docker/rootfs/etc/waldur/logging.conf.py
  src/waldur_auth_social/utils.py
  src/waldur_core/logging/admin.py
  src/waldur_core/logging/filters.py
  src/waldur_core/logging/log.py
  src/waldur_core/logging/migrations/0022_systemlog.py
  src/waldur_core/logging/models.py
  src/waldur_core/logging/serializers.py
  src/waldur_core/logging/tasks.py
  src/waldur_core/logging/tests/factories.py
  src/waldur_core/logging/tests/test_system_log.py
  src/waldur_core/logging/urls.py
  src/waldur_core/logging/views.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/celery_settings.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/server/dev_settings.py
Due: Run unit tests, Run migration test, Try building docker image

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/scheduled.md
Due: none

Add LLM-friendly documentation generation for Python SDK
  .gitlab-ci.yml
  scripts/generate_llm_docs.py
Due: none

Publish OFFERING_USER events on User profile attribute changes
  docs/core-concepts/event-based-order-processing.md
  docs/core-concepts/offering-users.md
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/tests/test_offering_user_events.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/handlers.md
Due: none

Temporarily disable SBOM generation to save space in docs
  .gitlab-ci.yml
Due: none

Add schema hook to mark optional request bodies explicitly
  src/waldur_core/core/schema_hooks.py
  src/waldur_core/server/openapi_settings.py
Due: Run unit tests, Run migration test

Add is_extension filter to software package API
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/tests/test_software_catalogs.py
Due: Run unit tests, Run migration test

Fix null date_created in revision backfill migration
  src/waldur_mastermind/marketplace/migrations/0205_backfill_initial_revisions.py
Due: Run unit tests, Run migration test

Filter OfferingUser visibility by user attribute completeness
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Use shallow clones in CI postdeploy jobs to speed up pipeline
  .gitlab-ci.yml
Due: none

Expose view name / operation ID for UUID/URL fields [WAL-8386]
  src/waldur_aws/filters.py
  src/waldur_azure/filters.py
  src/waldur_core/checklist/filters.py
  src/waldur_core/core/filters.py
  src/waldur_core/core/schema_hooks.py
  src/waldur_core/core/tests/test_schema_hooks.py
  src/waldur_core/logging/filters.py
  src/waldur_core/onboarding/filters.py
  src/waldur_core/permissions/filters.py
  src/waldur_core/permissions/views.py
  src/waldur_core/server/openapi_settings.py
  src/waldur_core/structure/filters.py
  src/waldur_core/user_actions/filters.py
  src/waldur_core/users/filters.py
  src/waldur_freeipa/filters.py
  src/waldur_lexis/filters.py
  src/waldur_mastermind/billing/views.py
  src/waldur_mastermind/booking/filters.py
  src/waldur_mastermind/chat/serializers.py
  src/waldur_mastermind/chat/views.py
  src/waldur_mastermind/invoices/filters.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_remote/filters.py
  src/waldur_mastermind/marketplace_site_agent/filters.py
  src/waldur_mastermind/policy/filters.py
  src/waldur_mastermind/promotions/filters.py
  src/waldur_mastermind/proposal/filters.py
  src/waldur_mastermind/support/filters.py
  src/waldur_mastermind/waldur_arrow/filters.py
  src/waldur_openportal/filters.py
  src/waldur_openstack/filters.py
  src/waldur_openstack_replication/filters.py
  src/waldur_rancher/filters.py
  src/waldur_slurm/filters.py
  src/waldur_vmware/filters.py
Due: Run unit tests, Run migration test

Expose setting publicly
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Remove deprecated MQTT support, keep only STOMP
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  pyproject.toml
  src/waldur_core/logging/tasks.py
  src/waldur_core/logging/utils.py
  src/waldur_core/server/base_settings.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_agent_identity.py
  uv.lock
Due: Run unit tests, Run migration test

[WAL-9682 Step 2] Bump Django version from 4.2 to 5.2.
  pyproject.toml
  src/waldur_core/core/admin.py
  src/waldur_core/core/management/commands/set_constance_image.py
  src/waldur_core/core/management/commands/set_login_logo_language.py
  src/waldur_core/core/tests/test_multilingual_logo.py
  src/waldur_core/core/tests/unittests/test_admin.py
  src/waldur_core/core/utils.py
  src/waldur_core/permissions/tests/test_time_based_roles.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/structure/executors.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_invoice.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
  src/waldur_mastermind/marketplace_remote/tests/test_maintenance_sync.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/support/handlers.py
  src/waldur_mastermind/support/tests/unittests/test_handlers.py
  src/waldur_openstack/backend.py
  src/waldur_openstack/utils.py
  uv.lock
Due: Run unit tests, Run migration test

Add profile_field_warnings endpoint to OfferingUsersViewSet
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_profile_field_warnings.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
