Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Report one message for an invalid subnet gateway IP
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_subnet_gateway_ip.py
Due: Run unit tests, Run migration test

Stop role API tests assuming an empty roles table [#392]
  src/waldur_core/permissions/tests/test_roles.py
Due: Run unit tests, Run migration test

Update registration_method on OAuth login for existing users
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/utils.py
Due: Run unit tests, Run migration test

Record how and by what right an event consumer was registered [#326]
  docs/design/pubsub-architecture.md
  docs/events.md
  docs/guides/agent-pubsub.md
  src/waldur_core/core/auth_utils.py
  src/waldur_core/core/tests/helpers.py
  src/waldur_core/logging/enums.py
  src/waldur_core/logging/event_dispatch.py
  src/waldur_core/logging/migrations/0029_eventconsumer_auth_attribution.py
  src/waldur_core/logging/models.py
  src/waldur_core/logging/serializers.py
  src/waldur_core/logging/tests/test_delivery_blocked_reason.py
  src/waldur_core/logging/tests/test_event_consumer_attribution.py
  src/waldur_core/logging/tests/test_event_consumer_events.py
  src/waldur_core/logging/utils.py
  src/waldur_core/logging/views.py
  src/waldur_mastermind/marketplace_site_agent/serializers.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_agent_queue.py
  src/waldur_mastermind/marketplace_site_agent/views.py
Due: Run unit tests, Run migration test

Let a consumer route a subnet shared with it over RBAC [#394]
  src/waldur_openstack/backend.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_live_rbac_router_interface.py
  src/waldur_openstack/tests/test_rbac_router_interface.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/scheduled.md
  docs/handlers.md
Due: none

Pin matrix-dev Tuwunel to v1.9.0 [#18]
  docker/matrix-dev/docker-compose.yml
Due: Try building docker image

Keep the address pool Neutron allocated for a new subnet [#390]
  src/waldur_openstack/backend.py
  src/waldur_openstack/migrations/0084_subnet_allocation_pools_default.py
  src/waldur_openstack/models.py
  src/waldur_openstack/tests/test_live_subnet_allocation_pools.py
  src/waldur_openstack/tests/test_router.py
  src/waldur_openstack/tests/test_subnet_allocation_pools.py
Due: Run unit tests, Run migration test

Load operator-defined custom roles on deployment
  docker/rootfs/etc/waldur/custom-roles.yaml
  docker/rootfs/usr/local/bin/initdb
  docs/guides/waldur-permissions.md
Due: Try building docker image

Do not send an updated notification when a ticket is created [#374]
  src/waldur_mastermind/support/handlers.py
  src/waldur_mastermind/support/tests/test_issue_updated_notification.py
Due: Run unit tests, Run migration test

Share user accounts across a service provider's offerings [#355]
  src/waldur_core/logging/enums.py
  src/waldur_core/logging/serializers.py
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/migrations/0286_service_provider_account.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/posix_ids.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/factories.py
  src/waldur_mastermind/marketplace/tests/test_consumer_scope_bindings.py
  src/waldur_mastermind/marketplace/tests/test_handlers.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
  src/waldur_mastermind/marketplace/tests/test_invoice.py
  src/waldur_mastermind/marketplace/tests/test_offering_components.py
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_mastermind/marketplace/tests/test_provider_account_adoption.py
  src/waldur_mastermind/marketplace/tests/test_provider_account_api_surface.py
  src/waldur_mastermind/marketplace/tests/test_provider_account_delegation.py
  src/waldur_mastermind/marketplace/tests/test_provider_account_lifecycle.py
  src/waldur_mastermind/marketplace/tests/test_provider_account_write_paths.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/tests/test_upfront_billing.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_openportal/handlers.py
  src/waldur_mastermind/marketplace_openportal/tests/test_offering_user_creation.py
  src/waldur_mastermind/marketplace_openportal_remote/handlers.py
  src/waldur_mastermind/marketplace_openportal_remote/tests/test_offering_user_creation.py
  src/waldur_mastermind/marketplace_rancher/handlers.py
  src/waldur_mastermind/marketplace_rancher/tests/test_offering_user_creation.py
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_tasks.py
Due: Run unit tests, Run migration test

[#174] Apply INVITATION_DISABLE_MULTIPLE_ROLES to direct role grants
  src/waldur_core/core/tests/test_public_settings.py
  src/waldur_core/permissions/tests/test_utils.py
  src/waldur_core/permissions/utils.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/tests/test_project_permissions.py
  src/waldur_core/users/tests/test_group_invitation.py
Due: Run unit tests, Run migration test

Unwrap list-valued OIDC lookup claims instead of storing their repr [#401]
  src/waldur_auth_social/migrations/0016_unwrap_list_lookup_values.py
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/tests/test_unwrap_list_lookup_values_migration.py
  src/waldur_auth_social/utils.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/handlers.md
Due: none

Assign organization roles from OIDC claims, with SCIM-style reconciliation [#391]
  docs/autoprovisioning.md
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/utils.py
  src/waldur_autoprovisioning/apps.py
  src/waldur_autoprovisioning/evaluators.py
  src/waldur_autoprovisioning/handlers.py
  src/waldur_autoprovisioning/management/__init__.py
  src/waldur_autoprovisioning/management/commands/__init__.py
  src/waldur_autoprovisioning/management/commands/reconcile_autoprovisioned_roles.py
  src/waldur_autoprovisioning/migrations/0010_rule_claims_and_customer_role.py
  src/waldur_autoprovisioning/models.py
  src/waldur_autoprovisioning/reconciliation.py
  src/waldur_autoprovisioning/serializers.py
  src/waldur_autoprovisioning/tests/factories.py
  src/waldur_autoprovisioning/tests/test_evaluator.py
  src/waldur_autoprovisioning/tests/test_handlers.py
  src/waldur_autoprovisioning/tests/test_reconciliation.py
  src/waldur_autoprovisioning/tests/test_serializers.py
  src/waldur_autoprovisioning/tests/test_views.py
  src/waldur_core/core/models.py
  src/waldur_core/core/signals.py
  src/waldur_core/permissions/migrations/0028_userrole_source.py
  src/waldur_core/permissions/mixins.py
  src/waldur_core/permissions/models.py
  src/waldur_core/permissions/serializers.py
  src/waldur_core/permissions/utils.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_user.py
  src/waldur_core/users/scim/pull/service.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/core_permissions.mmd
  docs/handlers.md
Due: none

Report claims no identity provider passes through [#391]
  src/waldur_autoprovisioning/evaluators.py
  src/waldur_autoprovisioning/serializers.py
  src/waldur_autoprovisioning/tests/test_views.py
Due: Run unit tests, Run migration test

Protect built-in and child-offering components [#404]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_child_offering_components.py
  src/waldur_mastermind/marketplace/tests/test_offering_components.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Fix glauth toml generation to render customattributes as a list
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_offering_user.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_robot_account.py
Due: Run unit tests, Run migration test

Correct stale references in the auto-provisioning developer guide [#391]
  docs/autoprovisioning.md
Due: none

Report malformed and silently global roles [waldur/waldur-homeport#321]
  docs/guides/waldur-permissions.md
  src/waldur_core/permissions/enums.py
  src/waldur_core/permissions/hygiene.py
  src/waldur_core/permissions/management/commands/check_role_names.py
  src/waldur_core/permissions/serializers.py
  src/waldur_core/permissions/tests/test_role_hygiene.py
  src/waldur_core/permissions/views.py
Due: Run unit tests, Run migration test

[#395] Resolve "Service provider manager is denied its own provider's offerings, stat and revenue"
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/tests/test_service_provider_manager_access.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Let provider tickets and stats be scoped to one helpdesk [#407]
  src/waldur_mastermind/support/filters.py
  src/waldur_mastermind/support/serializers.py
  src/waldur_mastermind/support/tests/test_provider_api.py
  src/waldur_mastermind/support/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
Due: none

Resolve each billing mode's component units for the plan form [waldur/waldur-homeport#251]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_billing_mode.py
Due: Run unit tests, Run migration test

Remove the retired Azure SQL Server offering [#409]
  pyproject.toml
  src/waldur_azure/admin.py
  src/waldur_azure/backend.py
  src/waldur_azure/client.py
  src/waldur_azure/executors.py
  src/waldur_azure/filters.py
  src/waldur_azure/migrations/0027_delete_sql_server.py
  src/waldur_azure/models.py
  src/waldur_azure/serializers.py
  src/waldur_azure/tests/factories.py
  src/waldur_azure/tests/fixtures.py
  src/waldur_azure/tests/test_delete_sql_server_migration.py
  src/waldur_azure/urls.py
  src/waldur_azure/validators.py
  src/waldur_azure/views.py
  src/waldur_mastermind/marketplace_azure/__init__.py
  src/waldur_mastermind/marketplace_azure/apps.py
  src/waldur_mastermind/marketplace_azure/processors.py
  src/waldur_mastermind/marketplace_azure/tests/test_order.py
  uv.lock
Due: Run unit tests, Run migration test

Add a browser web shell for staff on development deployments [#411]
  Dockerfile
  docker/rootfs/etc/waldur/settings.py
  docker_build.sh
  pyproject.toml
  src/waldur_core/core/management/commands/web_shell.py
  src/waldur_core/core/metadata.py
  src/waldur_core/core/views.py
  src/waldur_core/server/dev_settings_web_shell.py
  src/waldur_core/server/urls.py
  src/waldur_core/web_shell/__init__.py
  src/waldur_core/web_shell/assets.py
  src/waldur_core/web_shell/server.py
  src/waldur_core/web_shell/static/app.js
  src/waldur_core/web_shell/static/index.html
  src/waldur_core/web_shell/static/style.css
  src/waldur_core/web_shell/tests/__init__.py
  src/waldur_core/web_shell/tests/test_server.py
  src/waldur_core/web_shell/tests/test_tickets.py
  src/waldur_core/web_shell/tests/test_views.py
  src/waldur_core/web_shell/tickets.py
  src/waldur_core/web_shell/views.py
  uv.lock
Due: Run unit tests, Run migration test, Try building docker image

Import instance metadata when its resource is linked [#412]
  src/waldur_mastermind/marketplace_openstack/handlers.py
  src/waldur_mastermind/marketplace_openstack/tests/test_metadata.py
Due: Run unit tests, Run migration test

Warn when a fractional limit will not survive the site agent [#402]
  src/waldur_mastermind/marketplace/plugins.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace_site_agent/apps.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_limit_precision_advisory.py
  src/waldur_mastermind/marketplace_site_agent/utils.py
Due: Run unit tests, Run migration test

Defer order/resource/account STOMP events to transaction.on_commit [#405]
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/tests/test_offering_user_events.py
  src/waldur_mastermind/marketplace/tests/test_state_change_events.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/handlers.md
Due: none

Derive anonymized usernames from the POSIX uid [#413]
  docs/core-concepts/offering.md
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0290_anonymized_username_from_uid.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_provider_account_api_surface.py
  src/waldur_mastermind/marketplace/tests/test_provider_account_lifecycle.py
  src/waldur_mastermind/marketplace/tests/test_username_generation.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_offering_user.py
Due: Run unit tests, Run migration test

Restore a departed member's account under the same name on re-grant [#413]
  docs/core-concepts/offering-users.md
  docs/core-concepts/offering.md
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_handlers.py
  src/waldur_mastermind/marketplace/tests/test_offering_user_restore.py
  src/waldur_mastermind/marketplace/tests/test_provider_account_lifecycle.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Provision rule projects for existing accounts at login, and expose the project name template [#375]
  docs/autoprovisioning.md
  src/waldur_autoprovisioning/evaluators.py
  src/waldur_autoprovisioning/handlers.py
  src/waldur_autoprovisioning/reconciliation.py
  src/waldur_autoprovisioning/serializers.py
  src/waldur_autoprovisioning/tests/test_handlers.py
  src/waldur_autoprovisioning/tests/test_serializers.py
  src/waldur_autoprovisioning/tests/test_views.py
Due: Run unit tests, Run migration test

Suggest the anchored regex when an email pattern is a wildcard [#375]
  docs/autoprovisioning.md
  src/waldur_autoprovisioning/tests/test_serializers.py
  src/waldur_core/core/models.py
Due: Run unit tests, Run migration test

Document overwriting a built-in role's permissions via custom-roles.yaml
  docker/rootfs/etc/waldur/custom-roles.yaml
  docs/guides/waldur-permissions.md
Due: Try building docker image

[#396] Allow user with only CUSTOMER.MANAGER and no other customer roles to...
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/managers.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/tests/test_service_provider_manager_access.py
Due: Run unit tests, Run migration test

Match email patterns against the whole address wherever they grant access [#415]
  docs/autoprovisioning.md
  src/waldur_auth_social/utils.py
  src/waldur_autoprovisioning/tests/test_handlers.py
  src/waldur_core/core/models.py
  src/waldur_core/structure/tests/test_user_restrictions.py
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_mastermind/proposal/tests/test_call_eligibility.py
Due: Run unit tests, Run migration test

Make resource limit change requests an opt-in offering feature [#416]
  src/waldur_mastermind/marketplace/migrations/0291_enable_limit_change_requests_where_used.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_enable_limit_change_requests_migration.py
  src/waldur_mastermind/marketplace/tests/test_offering_integration_plugin_options.py
  src/waldur_mastermind/marketplace/tests/test_resource_limit_change_request.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_remote/constants.py
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_local_plugin_options.py
  src/waldur_mastermind/marketplace_remote/utils.py
Due: Run unit tests, Run migration test

Add reprovision_matrix_rooms management command [#18]
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_mastermind/matrix_chat/management/commands/reprovision_matrix_rooms.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_reprovision_command.py
  src/waldur_mastermind/matrix_chat/tests/test_views.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
