Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Clamp set_limits values to the offering bounds [#398]
  src/waldur_mastermind/marketplace/tests/test_invoice.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Extend the call management demo preset with scenarios for round closing, drafts, awards and team roles [#575]
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
Due: Run unit tests, Run migration test

Look up OIDC users by email ignoring case [#599]
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/utils.py
Due: Run unit tests, Run migration test

Let an offering option require values unique across its resources [#497]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_option_unique.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Prepare Constance settings for replacement [#323]
  src/waldur_core/core/management/commands/print_settings_description.py
  src/waldur_core/core/management/commands/set_constance_image.py
  src/waldur_core/core/management/commands/set_login_logo_language.py
  src/waldur_core/core/migrations/0014_squashed_0014_0024.py
  src/waldur_core/core/migrations/0024_remove_constance_site_logo.py
  src/waldur_core/core/migrations/0025_rename_llm_chat_constance_keys.py
  src/waldur_core/core/tests/test_multilingual_logo.py
  src/waldur_core/core/tests/test_set_constance_image.py
  src/waldur_core/core/tests/test_settings_metadata.py
  src/waldur_core/core/utils.py
  src/waldur_core/core/views.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/marketplace/migrations/0226_squashed_0263.py
  src/waldur_mastermind/marketplace/migrations/0258_derive_service_access_mode.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

Show OpenStack instance and tenant names next to their UUIDs in order tickets [#606]
  src/waldur_mastermind/marketplace_support/tests/test_format_description.py
  src/waldur_mastermind/marketplace_support/utils.py
Due: Run unit tests, Run migration test

Bump urllib3 to 2.8.0
  uv.lock
Due: none

Show the impersonated user's token on /users/me again [#303]
  src/waldur_core/passkeys/tests/test_enforcement.py
  src/waldur_core/structure/serializers.py
Due: Run unit tests, Run migration test

Allow owners to create Matrix rooms and backfill existing projects [#18]
  docker/rootfs/etc/waldur/permissions.yaml
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_core/permissions/enums.py
  src/waldur_core/permissions/migrations/0032_owner_create_matrix_room.py
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/matrix_chat/apps.py
  src/waldur_mastermind/matrix_chat/handlers.py
  src/waldur_mastermind/matrix_chat/management/commands/provision_matrix_rooms.py
  src/waldur_mastermind/matrix_chat/room_provisioning.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/fixtures.py
  src/waldur_mastermind/matrix_chat/tests/test_handlers.py
  src/waldur_mastermind/matrix_chat/tests/test_management_commands.py
  src/waldur_mastermind/matrix_chat/tests/test_room_permission.py
  src/waldur_mastermind/matrix_chat/tests/test_room_provisioning.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_views.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test, Try building docker image

Let the proposal list be narrowed to one of the reader's roles [waldur/waldur-homeport#337]
  src/waldur_mastermind/proposal/filters.py
  src/waldur_mastermind/proposal/tests/test_as_role_filter.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/handlers.md
Due: none

Hide non-consenting users from service providers on robot accounts and provider team role lists
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_user_roles.py
  src/waldur_mastermind/marketplace/tests/test_robot_accounts.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Grant provider invoice items and consumer users by permission [ONS-1420]
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/tests/test_invoice.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/tests/test_provider_operator_role.py
  src/waldur_mastermind/marketplace/tests/test_service_provider_manager_access.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Make the deadline reminder test independent of the time of day
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/tests/test_notification_rules.py
Due: Run unit tests, Run migration test

Reject private service settings of another organization for resources [#260]
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_resource.py
  src/waldur_core/structure/utils.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_mastermind/marketplace/tests/test_project.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_openstack/tests/test_security_groups.py
Due: Run unit tests, Run migration test

List the users a robot account may link on the provider resource [#615]
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/tests/test_robot_accounts.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Expose per-catalog CPU targets for offering software catalog configuration
  docs/guides/marketplace-software-catalogs.md
  src/waldur_mastermind/marketplace/catalog_loaders/__init__.py
  src/waldur_mastermind/marketplace/catalog_loaders/eessi.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_software_catalogs.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Allocate one POSIX group per project at a service provider [#614]
  docs/events.md
  docs/posix-id-pools.md
  src/waldur_core/logging/enums.py
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/management/commands/backfill_provider_project_groups.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/migrations/0300_provider_project_groups.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/posix_ids.py
  src/waldur_mastermind/marketplace/project_groups.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_provider_project_group_review.py
  src/waldur_mastermind/marketplace/tests/test_provider_project_group_scenarios.py
  src/waldur_mastermind/marketplace/tests/test_provider_project_groups.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Join and leave Matrix rooms through the appservice [#433]
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_credentials.py
  src/waldur_mastermind/matrix_chat/tests/test_integration.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Gate provider offering reports by provider permissions instead of ownership [#618]
  src/waldur_mastermind/marketplace/tests/test_offering_state_counters.py
  src/waldur_mastermind/marketplace/tests/test_service_provider_manager_access.py
  src/waldur_mastermind/marketplace/tests/test_stats.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Manage resource API keys one by one: request, assign, cap, pause, resume, delete [#485]
  docs/events.md
  docs/resource-api-keys.md
  src/waldur_core/logging/enums.py
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/extension.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/log.py
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/migrations/0301_resource_api_key_management.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/resource_api_keys.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_offering_integration_plugin_options.py
  src/waldur_mastermind/marketplace/tests/test_resource_api_key.py
  src/waldur_mastermind/marketplace/tests/test_resource_api_key_management.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Pin the VM size in the VMware order tests
  src/waldur_mastermind/marketplace_vmware/tests/test_order.py
Due: Run unit tests, Run migration test

Add short-lived Matrix web chat sessions and a room open endpoint [#433]
  src/waldur_core/server/base_settings.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_integration.py
  src/waldur_mastermind/matrix_chat/tests/test_sessions.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
  src/waldur_mastermind/matrix_chat/urls.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

End Matrix web chat sessions when a user is deactivated [#433]
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_course_accounts.py
  src/waldur_mastermind/matrix_chat/apps.py
  src/waldur_mastermind/matrix_chat/handlers.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_handlers.py
  src/waldur_mastermind/matrix_chat/tests/test_integration.py
  src/waldur_mastermind/matrix_chat/tests/test_sessions.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Accept security groups by URL on port create and send them to Neutron [#625]
  src/waldur_openstack/backend.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_port.py
  src/waldur_openstack/tests/test_port_security_groups.py
Due: Run unit tests, Run migration test

Keep a key's assignee visible when per-key management is off [#485]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_api_key_management.py
Due: Run unit tests, Run migration test

Move resource API key backfill out of 0301 into its own migration [#485]
  src/waldur_mastermind/marketplace/migrations/0301_resource_api_key_management.py
  src/waldur_mastermind/marketplace/migrations/0302_resource_api_key_backfill.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/scheduled.md
  docs/handlers.md
Due: none

Point the API key backfill test at the migration that now holds it [#485]
  src/waldur_mastermind/marketplace/tests/test_resource_api_key_management.py
Due: Run unit tests, Run migration test

Publish a STOMP event when a provider project group changes [#626]
  src/waldur_core/logging/enums.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/project_groups.py
  src/waldur_mastermind/marketplace/tests/test_provider_project_group_events.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/handlers.md
Due: none

Expose which provider account backs an offering user [#631]
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_provider_account_api_surface.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Let service provider managers list and review their provider's orders [#616]
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/migrations/0033_service_provider_manager_orders.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/tests/test_order_review.py
  src/waldur_mastermind/marketplace/tests/test_service_provider_manager_orders.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test, Try building docker image

Accept ServiceProvider-scoped roles for provider create checks [waldur/waldur-homeport#353]
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_groups.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/tests/test_service_provider_manager_access.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/promotions/models.py
  src/waldur_mastermind/promotions/serializers.py
  src/waldur_mastermind/promotions/tests/test_campaigns.py
  src/waldur_mastermind/promotions/views.py
Due: Run unit tests, Run migration test

Let service provider managers report usage for their offerings [#632]
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_service_provider_manager_usage.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test, Try building docker image

Let provider-side managers see the usage of their offerings [#632]
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_service_provider_manager_usage.py
Due: Run unit tests, Run migration test

Break custom metrics down by resource, and report a resource's own figures [#634]
  src/waldur_mastermind/marketplace_metrics/query.py
  src/waldur_mastermind/marketplace_metrics/serializers.py
  src/waldur_mastermind/marketplace_metrics/tests/test_catalogue.py
  src/waldur_mastermind/marketplace_metrics/tests/test_read_and_goals.py
  src/waldur_mastermind/marketplace_metrics/urls.py
  src/waldur_mastermind/marketplace_metrics/views.py
Due: Run unit tests, Run migration test

Hand out no Matrix tokens and rename the external login setting [#433]
  docker/matrix-dev/tuwunel.toml
  src/waldur_core/core/migrations/0052_rename_matrix_login_method.py
  src/waldur_core/core/tests/test_matrix_external_login_method.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_course_accounts.py
  src/waldur_mastermind/matrix_chat/management/commands/reprovision_matrix_rooms.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/migrations/0004_remove_matrixuserprofile_access_token.py
  src/waldur_mastermind/matrix_chat/models.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_credentials.py
  src/waldur_mastermind/matrix_chat/tests/test_integration.py
  src/waldur_mastermind/matrix_chat/tests/test_reprovision_command.py
  src/waldur_mastermind/matrix_chat/tests/test_sessions.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
