Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Add per-project opt-in for credit and usage dashboard reports [#270]
  src/waldur_core/structure/migrations/0082_project_display_credit_reports.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_project.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/core_structure.mmd
Due: none

Expose marketplace resource behind offering scope
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_openstack/tests/test_offering.py
Due: Run unit tests, Run migration test

Use dedicated invitation emails for calls and proposals [#50]
  docs/admin/notifications.md
  src/waldur_core/core/migrations/0042_call_and_proposal_invitation_notifications.py
  src/waldur_core/core/tests/test_invitation_notification_seed.py
  src/waldur_core/structure/notifications.py
  src/waldur_core/users/tasks.py
  src/waldur_core/users/templates/users/call_invitation_created_message.html
  src/waldur_core/users/templates/users/call_invitation_created_message.txt
  src/waldur_core/users/templates/users/call_invitation_created_subject.txt
  src/waldur_core/users/templates/users/proposal_invitation_created_message.html
  src/waldur_core/users/templates/users/proposal_invitation_created_message.txt
  src/waldur_core/users/templates/users/proposal_invitation_created_subject.txt
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_core/users/utils.py
Due: Run unit tests, Run migration test

Disable server-side cursors in user revision backfill migration
  src/waldur_core/core/migrations/0041_backfill_user_initial_revisions.py
Due: Run unit tests, Run migration test

Point the agent instructions at GitLab issues, not Jira
  CLAUDE.md
Due: none

Declare POSIX and organization fields on Identity Bridge serializer [#269]
  src/waldur_auth_social/serializers.py
  src/waldur_auth_social/tests/test_identity_bridge.py
Due: Run unit tests, Run migration test

Bump Django to 6.0.8 to fix a GeoDjango denial of service
  uv.lock
Due: none

Add missing usage policy to component usage reporting [#271]
  src/waldur_mastermind/invoices/apps.py
  src/waldur_mastermind/invoices/handlers.py
  src/waldur_mastermind/invoices/tests/unittests/test_carried_over_usage.py
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/migrations/0271_missing_usage_policy.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_export_structure.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_tasks.py
  src/waldur_mastermind/marketplace_support/tests/test_invoice.py
Due: Run unit tests, Run migration test

Repair malformed UUIDs in hpc_ai_platform preset and reject them on import [#272]
  src/waldur_mastermind/marketplace/demo_presets/manifest.py
  src/waldur_mastermind/marketplace/demo_presets/presets/hpc_ai_platform.json
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_demo_presets.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/templates.md
  docs/handlers.md
Due: none

Notify configured emails and provider roles about new orders [#267]
  docs/admin/notifications.md
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/templates/marketplace/notify_about_new_order_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/notify_about_new_order_message.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notify_about_new_order_subject.txt
  src/waldur_mastermind/marketplace/tests/test_order_notifications.py
  src/waldur_mastermind/marketplace/tests/test_secret_options.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Allow a plan component price of zero for the next month [#273]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_plans.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Allow filtering component usage by missing usage policy [#271]
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
Due: Run unit tests, Run migration test

Record credit drawdown in the ledger, per project and split by kind
  docs/admin/credit-ledger-backfill.md
  docs/affiliate-program.md
  docs/credit-ledger.md
  docs/guides/billing-and-invoicing.md
  src/waldur_mastermind/invoices/apps.py
  src/waldur_mastermind/invoices/compensations.py
  src/waldur_mastermind/invoices/filters.py
  src/waldur_mastermind/invoices/handlers.py
  src/waldur_mastermind/invoices/ledger.py
  src/waldur_mastermind/invoices/management/__init__.py
  src/waldur_mastermind/invoices/management/commands/__init__.py
  src/waldur_mastermind/invoices/management/commands/backfill_credit_ledger.py
  src/waldur_mastermind/invoices/migrations/0028_credittransaction_billing_period_and_more.py
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/invoices/serializers.py
  src/waldur_mastermind/invoices/tests/test_backfill_credit_ledger.py
  src/waldur_mastermind/invoices/tests/test_credit_drawdown_ledger.py
  src/waldur_mastermind/invoices/tests/test_credit_ledger.py
  src/waldur_mastermind/invoices/views.py
Due: Run unit tests, Run migration test

Add validation tests and field-scoped errors for Promotions campaign serializer
  src/waldur_mastermind/promotions/tests/test_campaigns.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/templates.md
  docs/handlers.md
Due: none

Fix conflicting invoices migration leaf nodes
  src/waldur_mastermind/invoices/migrations/0029_alter_credittransaction_options_and_more.py
  src/waldur_mastermind/invoices/migrations/0030_alter_affiliatefeeaccrual_options.py
Due: Run unit tests, Run migration test

Bind gunicorn on the IPv6 wildcard when the kernel has IPv6 [#278]
  docker/rootfs/etc/waldur/gunicorn.conf.py
Due: Try building docker image

Date credit expiry to the month the balance was forfeited
  src/waldur_mastermind/invoices/tasks.py
  src/waldur_mastermind/invoices/tests/test_credits.py
Due: Run unit tests, Run migration test

Give the credit scenarios preset an expired credit, and let it show
  src/waldur_mastermind/marketplace/demo_presets/credit_history.py
  src/waldur_mastermind/marketplace/demo_presets/presets/credit_scenarios.json
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Spell out the order in the new-order notification [waldur/waldur-homeport#214]
  docs/admin/notifications.md
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/templates/marketplace/notify_about_new_order_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/notify_about_new_order_message.txt
  src/waldur_mastermind/marketplace/tests/test_order_notifications.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Share one POSIX identity per user across a provider's offerings [#268]
  docs/admin/cli-guide.md
  docs/posix-id-pools.md
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/management/commands/collapse_posix_identities.py
  src/waldur_mastermind/marketplace/migrations/0276_posix_identity_principals.py
  src/waldur_mastermind/marketplace/migrations/_posix_identity_principals.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/posix_ids.py
  src/waldur_mastermind/marketplace/posix_maintenance.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_user_posix_allocations.py
  src/waldur_mastermind/marketplace/tests/test_offering_user_posix_id_override.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/tests/test_posix_external_id_sources.py
  src/waldur_mastermind/marketplace/tests/test_posix_id_allocator.py
  src/waldur_mastermind/marketplace/tests/test_posix_identity_collapse.py
  src/waldur_mastermind/marketplace/tests/test_posix_identity_filters.py
  src/waldur_mastermind/marketplace/tests/test_posix_identity_sharing.py
  src/waldur_mastermind/marketplace/tests/test_posix_pool_repoint.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Use Marketplace.Slurm in the efp and reporting presets
  src/waldur_mastermind/marketplace/demo_presets/presets/efp.json
  src/waldur_mastermind/marketplace/demo_presets/presets/reporting.json
Due: Run unit tests, Run migration test

Skip submitted-request email for auto-approving invitations
  src/waldur_core/users/handlers.py
  src/waldur_core/users/tests/test_group_invitation.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/templates.md
Due: none

Gate secret options read on the permission that writes them [#279]
  src/waldur_core/core/serializers.py
  src/waldur_core/permissions/utils.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Fix requires reconsent filter to check the ToS versions
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Gate provider-only offering fields per row [#281]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
Due: Run unit tests, Run migration test

Add field user_has_offering_user to offering detail serializer
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
Due: Run unit tests, Run migration test

Make disable_autoapprove override owner self-approval
  docs/core-concepts/offering.md
  docs/offering-visibility.md
  src/waldur_mastermind/marketplace/order_approval.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_order_auto_approval.py
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_openstack_replication/serializers.py
  src/waldur_openstack_replication/tests/test_migration.py
Due: Run unit tests, Run migration test

Keep release-tag pipelines from being auto-cancelled
  .gitlab-ci.yml
Due: none

Allow service providers to see creation_order field in the resource response
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_project_visibility.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Upgrade Celery to 5.6.3 and kombu to 5.6.2 [gl-10]
  pyproject.toml
  uv.lock
Due: Run unit tests, Run migration test

Declare Celery control-plane queues as exclusive [gl-10]
  src/waldur_core/core/tests/test_celery_config.py
  src/waldur_core/server/celery_settings.py
Due: Run unit tests, Run migration test

Prepare RabbitMQ 4.3 upgrade compatibility [gl-10]
  .devcontainer/docker-compose.yml
  .devcontainer/rabbitmq-enabled-plugins
  .devcontainer/rabbitmq.conf
  .pre-commit-config.yaml
  src/waldur_mastermind/marketplace_script/utils.py
Due: Run unit tests, Run migration test

Wire the dependency licence gate into CI [#285]
  .gitlab-ci.yml
Due: none

Deprecate html2text and replace with markdownify
  pyproject.toml
  src/waldur_mastermind/support/tasks.py
  src/waldur_mastermind/support/tests/test_smax_comments.py
  src/waldur_mastermind/support/tests/test_smax_issues.py
  uv.lock
Due: Run unit tests, Run migration test

Infer the backfilled floor-draw month in the deployment timezone
  src/waldur_mastermind/invoices/management/commands/backfill_credit_ledger.py
  src/waldur_mastermind/invoices/tests/test_backfill_credit_ledger.py
Due: Run unit tests, Run migration test

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
