Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Refuse admin floating IP allocation without an IPv4 external subnet [#457]
  src/waldur_openstack/admin.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_admin.py
  src/waldur_openstack/utils.py
Due: Run unit tests, Run migration test

Accept IPv6 allowed address pairs within ULA or the port's subnets [#443]
  src/waldur_openstack/backend.py
  src/waldur_openstack/enums.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_instance_allowed_address_pairs.py
  src/waldur_openstack/tests/test_port_allowed_address_pairs.py
Due: Run unit tests, Run migration test

Attach every subnet of a dual-stack network to the router [#450]
  src/waldur_openstack/backend.py
  src/waldur_openstack/tests/test_dual_stack_router_interface.py
Due: Run unit tests, Run migration test

Keep the floating address when attaching a floating IP to a port [#451]
  src/waldur_openstack/backend.py
  src/waldur_openstack/tests/test_backend.py
Due: Run unit tests, Run migration test

Fix import_roles ignoring is_active: false
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/management/commands/import_roles.py
  src/waldur_core/permissions/tests/test_import_roles.py
Due: Run unit tests, Run migration test, Try building docker image

Apply the shared grant validation to SCIM group sync [#460]
  src/waldur_core/users/scim/server/groups_view.py
  src/waldur_core/users/tests/scim/test_groups.py
Due: Run unit tests, Run migration test

Patch LOGGING in the image config instead of replacing it [#458]
  docker/rootfs/etc/waldur/logging.conf.py
  docs/settings-policy.md
  src/waldur_core/logging/log.py
  src/waldur_core/logging/tests/test_system_log.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/celeryconf.py
  src/waldur_core/server/tests/test_celery_logging.py
  src/waldur_core/server/tests/test_image_logging_config.py
Due: Run unit tests, Run migration test, Try building docker image

Raise support tickets on behalf of a reachable person [#449]
  docs/core-concepts/proposals.md
  src/waldur_mastermind/marketplace_support/tests/test_issue_caller.py
  src/waldur_mastermind/marketplace_support/utils.py
  src/waldur_mastermind/proposal/enums.py
  src/waldur_mastermind/proposal/migrations/0080_call_support_ticket_caller.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_calls.py
Due: Run unit tests, Run migration test

Allow offering managers to approve and reject provider orders [#400]
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/tests/test_offering_user_attribute_config.py
  src/waldur_mastermind/marketplace/tests/test_order_provider_consumer_info.py
  src/waldur_mastermind/marketplace/tests/test_order_review.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test, Try building docker image

Let the offering make the Kubernetes load balancer optional [#471]
  src/waldur_mastermind/marketplace/demo_presets/presets/research_institution.json
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_k8s_default_configuration.py
Due: Run unit tests, Run migration test

Accept SRAM SCIM pushes on /scim/v2/sram
  docs/admin/scim-identity-provider.md
  pyproject.toml
  src/waldur_core/core/features.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/server/urls.py
  src/waldur_core/users/scim/server/users_view.py
  src/waldur_sram/__init__.py
  src/waldur_sram/admin.py
  src/waldur_sram/apps.py
  src/waldur_sram/extension.py
  src/waldur_sram/mapping.py
  src/waldur_sram/migrations/0001_initial.py
  src/waldur_sram/migrations/__init__.py
  src/waldur_sram/models.py
  src/waldur_sram/tests/__init__.py
  src/waldur_sram/tests/payloads.py
  src/waldur_sram/tests/test_scim.py
  src/waldur_sram/urls.py
  src/waldur_sram/views.py
Due: Run unit tests, Run migration test

Match SCIM users to accounts by a configurable attribute pair
  docs/admin/scim-identity-provider.md
  src/waldur_core/core/serializers.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/users/scim/server/matching.py
  src/waldur_core/users/scim/server/users_view.py
  src/waldur_core/users/tests/scim/test_matching.py
  src/waldur_sram/mapping.py
  src/waldur_sram/tests/test_scim.py
  src/waldur_sram/views.py
Due: Run unit tests, Run migration test

Gate team listing on a view-team permission instead of any role
  conftest.py
  docker/rootfs/etc/waldur/permissions.yaml
  docs/guides/organization-roles.md
  docs/guides/waldur-permissions.md
  src/waldur_core/permissions/enums.py
  src/waldur_core/permissions/migrations/0029_view_team_permissions.py
  src/waldur_core/permissions/tests/test_team_visibility.py
  src/waldur_core/permissions/tests/test_view_team_migration.py
  src/waldur_core/permissions/views.py
  src/waldur_mastermind/marketplace/tests/test_resource_project_visibility.py
Due: Run unit tests, Run migration test, Try building docker image

Map SRAM organisations to organizations
  docs/admin/scim-identity-provider.md
  src/waldur_sram/admin.py
  src/waldur_sram/management/__init__.py
  src/waldur_sram/management/commands/__init__.py
  src/waldur_sram/management/commands/sram_resync.py
  src/waldur_sram/migrations/0002_sramgroup_customer.py
  src/waldur_sram/models.py
  src/waldur_sram/organizations.py
  src/waldur_sram/tests/base.py
  src/waldur_sram/tests/test_organizations.py
  src/waldur_sram/tests/test_scim.py
  src/waldur_sram/views.py
Due: Run unit tests, Run migration test

Create a placeholder role per SRAM collaboration and group
  docs/admin/scim-identity-provider.md
  src/waldur_core/server/constance_settings.py
  src/waldur_sram/apps.py
  src/waldur_sram/handlers.py
  src/waldur_sram/migrations/0003_sramgroup_role.py
  src/waldur_sram/models.py
  src/waldur_sram/roles.py
  src/waldur_sram/tests/test_roles.py
  src/waldur_sram/views.py
Due: Run unit tests, Run migration test

Log SRAM grant sources, skip their emails, count custom roles in user quotas
  docs/admin/scim-identity-provider.md
  docs/guides/waldur-permissions.md
  src/waldur_core/logging/models.py
  src/waldur_core/permissions/handlers.py
  src/waldur_core/permissions/tests/test_quiet_grant_sources.py
  src/waldur_core/permissions/utils.py
  src/waldur_core/structure/handlers.py
  src/waldur_sram/apps.py
  src/waldur_sram/roles.py
  src/waldur_sram/tests/test_roles.py
Due: Run unit tests, Run migration test

Grant project roles to SRAM placeholder holders through staff rules
  docs/admin/scim-identity-provider.md
  src/waldur_core/server/openapi_settings.py
  src/waldur_sram/admin.py
  src/waldur_sram/apps.py
  src/waldur_sram/enums.py
  src/waldur_sram/extension.py
  src/waldur_sram/handlers.py
  src/waldur_sram/management/commands/sram_resync.py
  src/waldur_sram/migrations/0004_sramprojectrule.py
  src/waldur_sram/models.py
  src/waldur_sram/rest_urls.py
  src/waldur_sram/rest_views.py
  src/waldur_sram/rules.py
  src/waldur_sram/serializers.py
  src/waldur_sram/sync.py
  src/waldur_sram/tests/test_rules.py
  src/waldur_sram/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/handlers.md
  docs/mixins.md
Due: none

Keep team visibility for custom roles that exist at upgrade
  docker/rootfs/etc/waldur/custom-roles.yaml
  docs/guides/waldur-permissions.md
  src/waldur_core/permissions/management/commands/import_roles.py
  src/waldur_core/permissions/migrations/0030_view_team_for_existing_roles.py
  src/waldur_core/permissions/tests/test_view_team_existing_roles.py
Due: Run unit tests, Run migration test, Try building docker image

Require scope for marketplace runtime states endpoint
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_runtime_states.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Report existing roles from the invitation duplicate check [waldur/waldur-homeport#137]
  src/waldur_core/users/serializers.py
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_core/users/utils.py
  src/waldur_core/users/views.py
Due: Run unit tests, Run migration test

Show an offering option only when another option has a given value [#474]
  src/waldur_mastermind/common/serializers.py
  src/waldur_mastermind/common/tests.py
  src/waldur_mastermind/marketplace/callbacks.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_option_visibility.py
Due: Run unit tests, Run migration test

Show the plan name once in SAF and SAP report item texts [#475]
  src/waldur_mastermind/invoices/serializers.py
  src/waldur_mastermind/invoices/tests/test_report.py
Due: Run unit tests, Run migration test

Reconcile idempotent immediate actions on already-fired policies [#470]
  src/waldur_mastermind/policy/policy_actions.py
  src/waldur_mastermind/policy/tasks.py
  src/waldur_mastermind/policy/tests/test_actions.py
  src/waldur_mastermind/policy/utils.py
Due: Run unit tests, Run migration test

Let the provider set the Kubernetes cluster topology on the k8s user input [#473]
  src/waldur_mastermind/common/serializers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_k8s_default_configuration.py
Due: Run unit tests, Run migration test

Seed the language list instead of overriding it on boot [#418]
  docker/rootfs/usr/local/bin/init-whitelabeling
  src/waldur_mastermind/marketplace_support/management/commands/override_constance_settings.py
  src/waldur_mastermind/support/tests/test_constance_override.py
Due: Run unit tests, Run migration test, Try building docker image

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/scheduled.md
  docs/mixins.md
Due: none

Fix email diagnostics for display-name sender addresses
  src/waldur_core/core/email_diagnostics.py
  src/waldur_core/logging/tests/test_email_diagnostics.py
Due: Run unit tests, Run migration test

Gate outbound SCIM entitlements behind an offering plugin option
  docs/admin/configuration-guide.md
  docs/admin/scim-integration.md
  src/waldur_core/users/scim/tasks.py
  src/waldur_core/users/tests/test_scim_tasks.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_integration_plugin_options.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

Bump anyio and soupsieve to fix OSV scan findings
  uv.lock
Due: none

Log when a notification drop silences a mail [#424]
  src/waldur_core/core/tests/unittests/test_broadcast_mail.py
  src/waldur_core/core/utils.py
Due: Run unit tests, Run migration test

Reconcile a mistyped status instead of skipping the seed [#419]
  src/waldur_mastermind/support/management/commands/init_service_desk_defaults.py
  src/waldur_mastermind/support/tests/test_init_service_desk_defaults.py
Due: Run unit tests, Run migration test

Store VMware datastore sizes in 64-bit columns [#423]
  src/waldur_vmware/backend.py
  src/waldur_vmware/migrations/0030_alter_datastore_capacity_alter_datastore_free_space.py
  src/waldur_vmware/models.py
  src/waldur_vmware/tests/test_backend_units.py
Due: Run unit tests, Run migration test

Add context-aware changelog system backend [WAL-9853]
  .gitignore
  CHANGELOG.txt
  changelog/schema.json
  contracts/stomp-messages.json
  docs/changelog-system.md
  docs/design/changelog-offline-support.md
  pyproject.toml
  src/waldur_core/changelog/__init__.py
  src/waldur_core/changelog/apps.py
  src/waldur_core/changelog/management/__init__.py
  src/waldur_core/changelog/management/commands/__init__.py
  src/waldur_core/changelog/management/commands/assemble_changelog.py
  src/waldur_core/changelog/migrations/0001_initial.py
  src/waldur_core/changelog/migrations/__init__.py
  src/waldur_core/changelog/models.py
  src/waldur_core/changelog/serializers.py
  src/waldur_core/changelog/tasks.py
  src/waldur_core/changelog/tests/__init__.py
  src/waldur_core/changelog/tests/test_management.py
  src/waldur_core/changelog/tests/test_tasks.py
  src/waldur_core/changelog/tests/test_utils.py
  src/waldur_core/changelog/tests/test_views.py
  src/waldur_core/changelog/utils.py
  src/waldur_core/changelog/views.py
  src/waldur_core/core/metadata.py
  src/waldur_core/core/serializers.py
  src/waldur_core/core/tests/test_version.py
  src/waldur_core/core/views.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/urls.py
  src/waldur_mastermind/marketplace_site_agent/contracts.py
  src/waldur_mastermind/marketplace_site_agent/serializers.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_contracts.py
  uv.lock
Due: Run unit tests, Run migration test

Normalise null values and reject invalid input in offering import [#482]
  src/waldur_mastermind/marketplace/tests/test_offering_export_import.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Offering merge engine: merge record, coverage registry, preview, signal-free executor, undo [#478]
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/management/commands/init_component_usage_reporting.py
  src/waldur_mastermind/marketplace/migrations/0294_offering_merge.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/offering_merge.py
  src/waldur_mastermind/marketplace/offering_merge_coverage.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_offering_merge.py
  src/waldur_mastermind/marketplace/tests/test_offering_merge_coverage.py
  src/waldur_mastermind/marketplace_openstack/tests/test_dedupe_tenant_offerings.py
Due: Run unit tests, Run migration test

Invoice snapshot policy and post-merge verification for offering merges [#479]
  src/waldur_mastermind/marketplace/offering_merge.py
  src/waldur_mastermind/marketplace/tests/test_offering_merge.py
Due: Run unit tests, Run migration test

Staff API and background execution for offering merges [#480]
  docs/events.md
  src/waldur_core/logging/enums.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/log.py
  src/waldur_mastermind/marketplace/migrations/0295_offering_merge_progress.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/offering_merge.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_offering_merge_api.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Resolve duplicate per-tenant OpenStack offerings with the offering merge engine [#481]
  docs/admin/cli-guide.md
  src/waldur_mastermind/marketplace/offering_merge.py
  src/waldur_mastermind/marketplace/offering_merge_coverage.py
  src/waldur_mastermind/marketplace/tests/test_offering_merge.py
  src/waldur_mastermind/marketplace_openstack/management/commands/dedupe_tenant_offerings.py
  src/waldur_mastermind/marketplace_openstack/serializers.py
  src/waldur_mastermind/marketplace_openstack/tests/test_dedupe_tenant_offerings.py
  src/waldur_mastermind/marketplace_openstack/tests/test_duplicate_offerings_api.py
  src/waldur_mastermind/marketplace_openstack/utils.py
  src/waldur_mastermind/marketplace_openstack/views.py
Due: Run unit tests, Run migration test

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
