Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Improve queue handling
  docker/rootfs/etc/waldur-templates/celery.conf
  docker/rootfs/etc/waldur/celery.conf
  docker/rootfs/usr/local/bin/beat
  src/waldur_core/core/executors.py
  src/waldur_core/core/tasks.py
  src/waldur_core/server/celery_settings.py
Due: Run unit tests, Run migration test, Try building docker image

Add orders documentation
  docs/core-concepts/marketplace-orders.md
Due: none

Fix mermaid typos
  docs/core-concepts/marketplace-orders.md
Due: none

Extend migration to handle both broken and new migrations
  src/waldur_core/core/management/commands/migrate_rabbitmq_queues.py
Due: Run unit tests, Run migration test

[WAL-9396-1] Add validation that resources belong to the same offering for limit reallocation
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

[WAL-9400] Request deletion of offeringuser upon removal from project
  src/waldur_core/structure/tests/fixtures.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/extension.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_handlers.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_offering_user.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/scheduled.md
  docs/handlers.md
Due: none

Add support for slugs export-import
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Add support for offering slugs in export-import scripts
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Add checker for uniqueness of backend_id [WAL-9439]
  src/waldur_mastermind/billing/tests/test_customer_serializer_integration.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Allow backfilling usage for resources [WAL-9440]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Expose additional fields for invoice items
  src/waldur_mastermind/invoices/migrations/0020_add_plan_component_field.py
  src/waldur_mastermind/invoices/migrations/0021_populate_plan_component_field.py
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/invoices/serializers.py
  src/waldur_mastermind/invoices/tests/test_invoice_items.py
  src/waldur_mastermind/invoices/tests/test_plan_component_creation.py
  src/waldur_mastermind/marketplace/billing.py
  src/waldur_mastermind/marketplace/billing_limit.py
  src/waldur_mastermind/marketplace/billing_usage.py
  src/waldur_mastermind/marketplace/migrations/0143_clean_logs.py
  src/waldur_mastermind/marketplace/migrations/0180_remove_incorrect_total_billing_2025.py
Due: Run unit tests, Run migration test

[Bugfix] WAL-9441 Add readonly viewset to list checklists for call organizers
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_calls.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Cleanup unused migration
  src/waldur_mastermind/invoices/migrations/0021_populate_plan_component_field.py
Due: Run unit tests, Run migration test

[Bugfix] Fix checklist permissions to allow call organizers and managers to view checlist data
  src/waldur_mastermind/proposal/tests/test_proposal_compliance.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

[Feature] Add ToS API docs
  docs/terms-of-service.md
Due: none

Feature/resource order filter
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_resource_filters.py
Due: Run unit tests, Run migration test

Allow manual update order approval for site agent plugin
  src/waldur_mastermind/marketplace_site_agent/processor.py
Due: Run unit tests, Run migration test

Export project kind, allow disabling rmq signals
  docs/install-from-src.md
  src/waldur_core/core/middleware.py
  src/waldur_core/core/utils.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/management/commands/cleanup_structure.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
Due: Run unit tests, Run migration test

Improve labels for filters
  src/waldur_mastermind/marketplace/filters.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
Due: none

Improve filters labels
  src/waldur_core/structure/filters.py
  src/waldur_openstack/filters.py
Due: Run unit tests, Run migration test

Add filter to exclude transitional resources with early pending orders.
  src/waldur_mastermind/marketplace/filters.py
Due: Run unit tests, Run migration test

Extend export/import of data
  src/waldur_core/permissions/models.py
  src/waldur_core/permissions/utils.py
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/marketplace/management/commands/cleanup_structure.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace_openportal_remote/handlers.py
  src/waldur_mastermind/proposal/utils.py
Due: Run unit tests, Run migration test

Workarkound for changed API
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_tasks.py
Due: Run unit tests, Run migration test

Fix typo
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
Due: Run unit tests, Run migration test

Fix import of structure
  src/waldur_mastermind/marketplace/billing_usage.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
Due: Run unit tests, Run migration test

feat: Introduce resource restore functionality via a new order type and API endpoint.
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/migrations/0197_alter_order_type.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_restore.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_script/serializers.py
Due: Run unit tests, Run migration test

Fix documentation for export/import/cleanup
  src/waldur_mastermind/marketplace/management/commands/cleanup_structure.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Improve subagent instructions for autogen docs
  .claude/agents/docs-writer.md
Due: none

Fix/invitations - Allow multiple parallel roles in different scopes
  docs/core-concepts/invitations.md
  src/waldur_core/server/constance_settings.py
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_core/users/views.py
Due: Run unit tests, Run migration test

refactor: replace `sync` with `sync_all`
  pyproject.toml
  src/waldur_mastermind/marketplace_remote/processors.py
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_invoice_item.py
  src/waldur_mastermind/marketplace_remote/tests/test_remote_status_sync.py
  src/waldur_mastermind/marketplace_remote/tests/test_tasks.py
  src/waldur_mastermind/marketplace_remote/utils.py
  src/waldur_mastermind/marketplace_remote/utils_sync_remote_offerings.py
  src/waldur_mastermind/marketplace_remote/views.py
  uv.lock
Due: Run unit tests, Run migration test

[Bugfix] Fix vat format function to remove dashes
  src/waldur_core/structure/models.py
Due: Run unit tests, Run migration test

Expose billing type info of offering
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
Due: Run unit tests, Run migration test

Disable signals during import
  src/waldur_core/core/middleware.py
  src/waldur_core/permissions/handlers.py
  src/waldur_core/permissions/tasks.py
  src/waldur_core/server/celery_settings.py
  src/waldur_mastermind/marketplace/billing_usage.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/management/commands/cleanup_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/scheduled.md
Due: none

Export/import invitations
  src/waldur_mastermind/marketplace/management/commands/cleanup_structure.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/migrations/0198_alter_softwarecatalog_options_and_more.py
  src/waldur_mastermind/marketplace/tests/test_export_structure.py
Due: Run unit tests, Run migration test

Fix offering user update
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_offering_user_freeipa_state_bug.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
