Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Consolidate allocation policy onto the call workflow; reject on negative outcome [call-audit]
  src/waldur_mastermind/chat/tools/proposals_researcher/guide_proposal.py
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/proposal/enums.py
  src/waldur_mastermind/proposal/migrations/0061_collapse_round_config_to_scheduling.py
  src/waldur_mastermind/proposal/migrations/0062_move_allocation_time_to_workflow_step.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/tests/fixtures.py
  src/waldur_mastermind/proposal/tests/test_proposals.py
  src/waldur_mastermind/proposal/tests/test_review.py
  src/waldur_mastermind/proposal/tests/test_rounds.py
  src/waldur_mastermind/proposal/tests/test_workflow.py
  src/waldur_mastermind/proposal/utils.py
  src/waldur_mastermind/proposal/views.py
  src/waldur_mastermind/proposal/workflow_service.py
Due: Run unit tests, Run migration test

Extend project cost policies with per-resource scope and credit toggle
  src/waldur_mastermind/invoices/compensations.py
  src/waldur_mastermind/invoices/serializers.py
  src/waldur_mastermind/invoices/tests/test_invoice_items.py
  src/waldur_mastermind/invoices/views.py
  src/waldur_mastermind/policy/handlers.py
  src/waldur_mastermind/policy/migrations/0017_projectestimatedcostpolicy_resource_and_more.py
  src/waldur_mastermind/policy/models.py
  src/waldur_mastermind/policy/policy_actions.py
  src/waldur_mastermind/policy/serializers.py
  src/waldur_mastermind/policy/tests/test_resource_scoped_policy.py
Due: Run unit tests, Run migration test

Auto-pause/downscale resources when reported usage reaches component limit [WAL-10094]
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/extension.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0250_resource_usage_limit_restriction.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_usage_limit_restriction.py
  src/waldur_mastermind/marketplace/utils.py
  uv.lock
Due: Run unit tests, Run migration test

Add staff-only per-offering disable_grace_period option
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_disable_grace_period.py
  src/waldur_mastermind/marketplace/tests/test_tasks.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/scheduled.md
  docs/handlers.md
  docs/marketplace_provision.mmd
Due: none

Retire legacy proposal Accept/Reject; guard activation & allocation [call-audit]
  src/waldur_mastermind/proposal/enums.py
  src/waldur_mastermind/proposal/migrations/0063_alter_callworkflowstep_min_score_threshold_and_more.py
  src/waldur_mastermind/proposal/migrations/0064_backfill_stranded_workflow_instances.py
  src/waldur_mastermind/proposal/migrations/_backfill_stranded_workflow_instances.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_allocate_strategy.py
  src/waldur_mastermind/proposal/tests/test_backfill_stranded_workflow.py
  src/waldur_mastermind/proposal/tests/test_calls.py
  src/waldur_mastermind/proposal/tests/test_list_users.py
  src/waldur_mastermind/proposal/tests/test_proposals.py
  src/waldur_mastermind/proposal/tests/test_workflow.py
  src/waldur_mastermind/proposal/utils.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Fix N+1 query in SLURM report-command-result action [CSCS-5JE]
  src/waldur_mastermind/policy/tests/test_slurm_report_command_result.py
  src/waldur_mastermind/policy/views.py
Due: Run unit tests, Run migration test

Guard resource limit formatting and set_limits against orphan keys
  src/waldur_mastermind/marketplace/tests/test_callbacks.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Pre-flight allocation check on OpenStack instance order submission [WAL-9893]
  src/waldur_mastermind/marketplace_openstack/processors.py
  src/waldur_mastermind/marketplace_openstack/tests/test_order.py
Due: Run unit tests, Run migration test

Call-manager-driven step completion + team-at-submit [call-audit Phase 1]
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
  src/waldur_mastermind/proposal/permissions.py
  src/waldur_mastermind/proposal/tests/test_proposals.py
  src/waldur_mastermind/proposal/tests/test_workflow.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Bump django 6.0.6 -> 6.0.7 to fix known vulnerabilities
  uv.lock
Due: none

Aggregate cost-policy cost in the DB (drop per-item Python sum + N+1)
  src/waldur_mastermind/policy/models.py
  src/waldur_mastermind/policy/tests/test_is_triggered_aggregate.py
Due: Run unit tests, Run migration test

Fix cost policy pausing latency, debounce blind window and activity-log resource name
  src/waldur_mastermind/policy/extension.py
  src/waldur_mastermind/policy/handlers.py
  src/waldur_mastermind/policy/policy_actions.py
  src/waldur_mastermind/policy/serializers.py
  src/waldur_mastermind/policy/tests/test_actions.py
  src/waldur_mastermind/policy/tests/test_cost_policy_month_boundary.py
  src/waldur_mastermind/policy/tests/test_multi_policy_project.py
  src/waldur_mastermind/policy/utils.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/scheduled.md
Due: none

Pause on usage-limit: check the per-resource limit, not just component limit_amount
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/tests/test_usage_limit_restriction.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/handlers.md
Due: none

Proposal workflow: checklists, step completion, technical assessment, COI [WAL-9484][WAL-9456][WAL-9337]
  src/waldur_core/checklist/serializers.py
  src/waldur_mastermind/proposal/managers.py
  src/waldur_mastermind/proposal/migrations/0065_review_coi_confirmed_review_coi_confirmed_at.py
  src/waldur_mastermind/proposal/migrations/0066_callworkflowstep_checklist_required.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/permissions.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_list_users.py
  src/waldur_mastermind/proposal/tests/test_proposal_compliance.py
  src/waldur_mastermind/proposal/tests/test_review.py
  src/waldur_mastermind/proposal/tests/test_step_checklist.py
  src/waldur_mastermind/proposal/tests/test_technical_assessment.py
  src/waldur_mastermind/proposal/tests/test_workflow.py
  src/waldur_mastermind/proposal/views.py
  src/waldur_mastermind/proposal/workflow_service.py
Due: Run unit tests, Run migration test

Point review notification link to the review-scoped route
  src/waldur_mastermind/proposal/tasks.py
Due: Run unit tests, Run migration test

Enrich call_management preset: workflow-step checklist + COI [WAL-9337]
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Seed award-response + checklist-gate demo states [WAL-9349]
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
Due: Run unit tests, Run migration test

Preset polish for call-management guide screenshots [WAL-9349]
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
Due: Run unit tests, Run migration test

Exempt submitted-proposal team roles from auto-expiration [WAL-9349]
  src/waldur_core/permissions/tasks.py
  src/waldur_core/permissions/utils.py
  src/waldur_mastermind/proposal/apps.py
  src/waldur_mastermind/proposal/handlers.py
  src/waldur_mastermind/proposal/tests/test_role_expiration.py
Due: Run unit tests, Run migration test

Conceal proposal team-role expiration from reviewers [WAL-9349]
  src/waldur_core/permissions/views.py
  src/waldur_mastermind/proposal/tests/test_reviewer_expiry_concealment.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Fix out-of-range review scores in the call_management preset
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
Due: Run unit tests, Run migration test

Add PROPOSAL.MEMBER description via permissions.yaml [WAL-9917]
  docker/rootfs/etc/waldur/permissions.yaml
Due: Try building docker image

Seed call documents in the call_management preset + loader support
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Enforce archived-call read-only across the edit surface + expose has_proposals
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_archived_enforcement.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/mixins.md
Due: none

Fix public IP mapping not set when floating IP port is attached later [RWA-48]
  src/waldur_mastermind/marketplace_openstack/handlers.py
  src/waldur_mastermind/marketplace_openstack/tests/test_offering.py
  src/waldur_mastermind/marketplace_openstack/utils.py
Due: Run unit tests, Run migration test

Bump click and pillow to patch OSV-flagged vulnerabilities
  uv.lock
Due: none

Add offering, resource and date filtering to backfill_plan_periods command
  src/waldur_mastermind/marketplace/management/commands/backfill_plan_periods.py
  src/waldur_mastermind/marketplace/tests/test_backfill_plan_periods.py
Due: Run unit tests, Run migration test

Resolve plan period for mid-month usage reports so billing is not skipped
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Create plan period on any transition into OK, not only from CREATING
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/tests/test_handlers.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
Due: none

Fix OpenAPI list field types for SDK codegen
  src/waldur_core/structure/serializers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/proposal/serializers.py
Due: Run unit tests, Run migration test

[WAL-10101] Fix integrity error on software catalog cleanup by skipping existing new links
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_catalog_tasks.py
Due: Run unit tests, Run migration test

Move Ansible module generation to generator repository
  .gitlab-ci.yml
  ansible-generator-config.yaml
  scripts/generate_ansible_changelog.py
Due: none

Widen Instance.directly_connected_ips to TextField [WAL-10102]
  src/waldur_openstack/migrations/0077_alter_instance_directly_connected_ips.py
  src/waldur_openstack/models.py
Due: Run unit tests, Run migration test

Bump httplib2 and setuptools to fix OSV vulnerabilities
  uv.lock
Due: none

Warn that OpenStack user_data is plaintext and redact it from logs
  docs/plugins/openstack.md
  src/waldur_mastermind/chat/tools/vm/create_vm.py
  src/waldur_mastermind/chat/tools/vm/plan_vm.py
  src/waldur_openstack/backend.py
  src/waldur_openstack/serializers.py
Due: Run unit tests, Run migration test

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
