Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

[WAL-9078] Add fields for syncing of maintenance announcement task
  src/waldur_mastermind/marketplace/migrations/0175_maintenanceannouncement_backend_id.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Expose setting of project metadata checklists in customer
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_customer.py
Due: Run unit tests, Run migration test

[Bugfix] Fix migration number collision
  src/waldur_mastermind/marketplace/migrations/0177_maintenanceannouncement_backend_id.py
Due: Run unit tests, Run migration test

Publish Ansible module using git commit tag
  .gitlab-ci.yml
Due: none

Exported openAPI spec on release should get release version into metadata [WAL-9107]
  .gitlab-ci.yml
Due: none

Fix yq installation
  .gitlab-ci.yml
Due: none

Allow removal of answers in checklists [WAL-9084]
  docs/core-concepts/checklists.md
  src/waldur_core/checklist/mixins.py
  src/waldur_core/checklist/serializers.py
  src/waldur_core/checklist/tests/test_integration_viewsets.py
Due: Run unit tests, Run migration test

[WAL-9078] Maintenance announcement sync task for remote waldur
  pyproject.toml
  src/waldur_mastermind/marketplace_remote/extension.py
  src/waldur_mastermind/marketplace_remote/processors.py
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_maintenance_sync.py
  src/waldur_mastermind/marketplace_remote/tests/test_tasks.py
  src/waldur_mastermind/marketplace_remote/utils.py
Due: Run unit tests, Run migration test

Fix CI
  .gitlab-ci.yml
Due: none

Fix lock file
  uv.lock
Due: none

Introduce reusable definitions in Ansible generator
  ansible-generator-config.yaml
Due: none

[Bugfix] healthcheck readonlydb error
  docker/rootfs/etc/waldur/settings.py
Due: Try building docker image

Extra endpoints for customer review of project metadata [WAL-8599]
  src/waldur_core/server/urls.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_customer_project_metadata_api.py
  src/waldur_core/structure/tests/test_customer_project_metadata_compliance.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Expose OS SG rule defaults in OAI
  src/waldur_openstack/serializers.py
Due: Run unit tests, Run migration test

Update documentation, cleanup
  docs/project-metadata.md
  src/waldur_core/structure/tests/test_customer_project_metadata_compliance.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

[WAL-8540] Add remote resource state status report
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace_remote/exceptions.py
  src/waldur_mastermind/marketplace_remote/serializers.py
  src/waldur_mastermind/marketplace_remote/tests/test_remote_status_sync.py
  src/waldur_mastermind/marketplace_remote/urls.py
  src/waldur_mastermind/marketplace_remote/utils.py
  src/waldur_mastermind/marketplace_remote/views.py
Due: Run unit tests, Run migration test

Allow to filter SG by tenant in Ansible
  ansible-generator-config.yaml
Due: none

[WAL-8919] Extend proposal approve notification with resource details
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/templates/proposal/proposal_state_changed_message.html
  src/waldur_mastermind/proposal/templates/proposal/proposal_state_changed_message.txt
  src/waldur_mastermind/proposal/tests/test_proposals.py
Due: Run unit tests, Run migration test

Extend project metadata serializers [WAL-8599]
  docs/project-metadata.md
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_customer_project_metadata_compliance.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

fix filter_queryset_for_user logic
  src/waldur_core/structure/managers.py
Due: Run unit tests, Run migration test

Allow generic JSON object for offerings without a predefined schema
  src/waldur_core/core/schema_hooks.py
Due: Run unit tests, Run migration test

Expose min/max values for questions
  docs/project-metadata.md
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_customer_project_metadata_compliance.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

[Bugfix] Check order limits already set for remote order processing
  src/waldur_mastermind/marketplace_remote/processors.py
  src/waldur_mastermind/marketplace_remote/tests/test_order.py
Due: Run unit tests, Run migration test

Add volume and VPC facts modules [WAL-9044]
  ansible-generator-config.yaml
Due: none

Add offering, order, resource fact modules [WAL-9043]
  ansible-generator-config.yaml
Due: none

Add order and offering crud modules [WAL-9046]
  ansible-generator-config.yaml
Due: none

Fix restricted serializer mixin for nested case
  docs/guides/how-to-write-serializers.md
  src/waldur_core/core/serializers.py
  src/waldur_core/core/tests/test_serializers.py
Due: Run unit tests, Run migration test

[WAL-8919] Add Reviewer assigned to review proposal notification
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/templates/proposal/review_assigned_message.html
  src/waldur_mastermind/proposal/templates/proposal/review_assigned_message.txt
  src/waldur_mastermind/proposal/templates/proposal/review_assigned_subject.txt
  src/waldur_mastermind/proposal/tests/test_review.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Allow filtering of resources by multiple offerings
  src/waldur_core/core/filters.py
  src/waldur_mastermind/marketplace/filters.py
Due: Run unit tests, Run migration test

Fix call manager role permissions
  src/waldur_mastermind/proposal/managers.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/fixtures.py
  src/waldur_mastermind/proposal/tests/test_calls.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Fix field extraction for openapi generation
  src/waldur_core/core/openapi_inspector.py
  src/waldur_core/core/serializers.py
  src/waldur_core/structure/serializers.py
Due: Run unit tests, Run migration test

Add OpenAPI documentation
  docs/guides/openapi.md
Due: none

Migrate Django model diagram to mermaid
  .gitlab-ci.yml
  docs/models.md
  gitlab-ci-test/Dockerfile
  src/waldur_core/core/management/commands/generate_mermaid.py
Due: Run unit tests, Run migration test

Render all fields from serializer in OAI generation mode.
  src/waldur_auth_social/serializers.py
  src/waldur_core/structure/serializers.py
  src/waldur_mastermind/invoices/serializers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/support/serializers.py
  src/waldur_openstack/serializers.py
  src/waldur_rancher/serializers.py
Due: Run unit tests, Run migration test

Add guards for race conditions on project deletion [SENTRY-14108]
  src/waldur_core/quotas/handlers.py
  src/waldur_core/structure/models.py
  src/waldur_mastermind/marketplace/handlers.py
Due: Run unit tests, Run migration test

Fix mermaid include
  docs/models.md
Due: none

Feature/fix oai sec groups
  src/waldur_core/core/openapi_extensions.py
Due: Run unit tests, Run migration test

Fix OAI OS VM SG schema
  src/waldur_core/core/openapi_extensions.py
  src/waldur_core/core/schema_hooks.py
Due: Run unit tests, Run migration test

[WAL-8919] Add requested offering decision notification
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/templates/proposal/requested_offering_decision_message.html
  src/waldur_mastermind/proposal/templates/proposal/requested_offering_decision_message.txt
  src/waldur_mastermind/proposal/templates/proposal/requested_offering_decision_subject.txt
  src/waldur_mastermind/proposal/tests/test_requested_offerings.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Relax calculations of quotas on project deletion [SENTRY-14404]
  src/waldur_core/quotas/handlers.py
  src/waldur_core/quotas/tests/test_project_deletion_timeout.py
  src/waldur_core/structure/models.py
Due: Run unit tests, Run migration test
