Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/events.md
Due: none

Add OpenStack cloud demo preset with backend model support
  src/waldur_core/core/tests/test_sdk_client_protection.py
  src/waldur_mastermind/marketplace/demo_presets/presets/openstack_cloud.json
  src/waldur_mastermind/marketplace/management/commands/cleanup_structure.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace_remote/processors.py
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_invoice_item.py
  src/waldur_mastermind/marketplace_remote/utils.py
  src/waldur_mastermind/marketplace_remote/utils_sync_remote_offerings.py
  src/waldur_mastermind/marketplace_remote/views.py
  uv.lock
Due: Run unit tests, Run migration test

Fix duplicate enum names for injection severity in OpenAPI schema
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/chat/injection_detection/base.py
  src/waldur_mastermind/chat/serializers.py
Due: Run unit tests, Run migration test

Add configurable resource name patterns for suggest_name endpoint [HPCMP-407]
  docs/core-concepts/offering.md
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Enhance Constance settings with generic enum and multi-select support
  docs/constance-settings.md
  src/waldur_core/core/management/commands/print_settings_description.py
  src/waldur_core/core/serializers.py
  src/waldur_core/core/tests/test_constance_choices.py
  src/waldur_core/core/views.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/server/openapi_settings.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

Replace underscores with hyphens in suggested resource names
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Make waldur_keycloak 0002_initial migration idempotent
  src/waldur_keycloak/migrations/0002_initial.py
Due: Run unit tests, Run migration test

Fix webhook dispatch race condition in emit()
  src/waldur_core/logging/apps.py
  src/waldur_core/logging/event_logger.py
  src/waldur_core/logging/handlers.py
  src/waldur_core/logging/tests/test_hook_service.py
  src/waldur_core/logging/tests/test_process_hook_handler.py
Due: Run unit tests, Run migration test

Fix EESSI versions mixed across catalogs
  src/waldur_mastermind/marketplace/catalog_loaders/base.py
  src/waldur_mastermind/marketplace/catalog_loaders/eessi.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/fixtures/catalog_data/eessi_software_test.json
  src/waldur_mastermind/marketplace/tests/test_catalog_loaders.py
  src/waldur_mastermind/marketplace/tests/test_catalog_tasks.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/handlers.md
Due: none

[WAL-9097] Migrate mastermind to structured logging.
  docker/rootfs/etc/waldur/logging.conf.py
  docs/core-concepts/logging.md
  pyproject.toml
  src/waldur_core/logging/apps.py
  src/waldur_core/logging/tests/test_structlog_user_uuid.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/celeryconf.py
  src/waldur_core/server/settings.py.example
  uv.lock
Due: Run unit tests, Run migration test, Try building docker image

Bump python sdk to 8.0.5
  pyproject.toml
  uv.lock
Due: Run unit tests, Run migration test

Route django.server, django.request, and axes loggers through structlog
  docker/rootfs/etc/waldur/logging.conf.py
  src/waldur_core/server/base_settings.py
  src/waldur_mastermind/marketplace/management/commands/cleanup_structure.py
Due: Run unit tests, Run migration test, Try building docker image

Extend extra_invitation_text max length to 1000 characters [HPCMP-436]
  src/waldur_core/users/migrations/0024_alter_invitation_extra_invitation_text_max_length.py
  src/waldur_core/users/models.py
  src/waldur_core/users/tests/test_invitation.py
Due: Run unit tests, Run migration test

Reduce token refresh DB load by using adaptive debounce interval
  src/waldur_core/core/authentication.py
  src/waldur_core/core/tests/test_authentication.py
Due: Run unit tests, Run migration test

Allow identity managers to receive OFFERING_USER events scoped by ISD overlap
  src/waldur_mastermind/marketplace/tests/test_offering_user_events.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Extend extra_invitation_text max length to 2000 characters [HPCMP-436]
  src/waldur_core/users/migrations/0024_alter_invitation_extra_invitation_text_max_length.py
  src/waldur_core/users/models.py
  src/waldur_core/users/tests/test_invitation.py
Due: Run unit tests, Run migration test

Allow resubmitting permission requests and staff deletion
  src/waldur_core/users/tests/test_group_invitation.py
  src/waldur_core/users/views.py
Due: Run unit tests, Run migration test

Exclude terminated projects from customer visibility
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/managers.py
  src/waldur_core/structure/tests/test_customer_visibility.py
Due: Run unit tests, Run migration test

Add admin actions to hard delete soft-deleted projects and terminated resources
  src/waldur_core/structure/admin.py
  src/waldur_mastermind/marketplace/admin.py
Due: Run unit tests, Run migration test

Add comprehensive filters and ordering to software catalog endpoints
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/tests/test_software_catalogs.py
Due: Run unit tests, Run migration test

[WAL-9751] Fix resource duplication check preventing any resources to be created
  src/waldur_mastermind/marketplace_remote/processors.py
  src/waldur_mastermind/marketplace_remote/tests/test_duplicate_resource.py
Due: Run unit tests, Run migration test

Add feature flags for resource metadata concealing and staff-only marketplace
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/features.md
Due: none

Expose quota name filter in OpenAPI schema
  src/waldur_core/core/schema_hooks.py
  src/waldur_mastermind/analytics/views.py
Due: Run unit tests, Run migration test

Remove duplicate marketplace_staff_only feature flag
  docs/admin/features.md
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

Make quota name optional
  src/waldur_mastermind/analytics/views.py
Due: Run unit tests, Run migration test

Set OIDC client secret field as secret not just string
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Allow staff to view and manage user passwords
  src/waldur_core/logging/enums.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_user.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Lowercase suggested resource names
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Add feature toggle to conceal audit log from end users
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

[WAL-9735] Move AI assistant thread title generation to Mastermind
  src/waldur_mastermind/chat/context_assembler.py
  src/waldur_mastermind/chat/prompts.py
  src/waldur_mastermind/chat/serializers.py
  src/waldur_mastermind/chat/tests/test_chat.py
  src/waldur_mastermind/chat/tests/test_chat_session.py
  src/waldur_mastermind/chat/tests/test_context_assembler.py
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

Fix GLAuth uidnumber generation to be scoped per offering
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_offering_user.py
Due: Run unit tests, Run migration test

Allow identity managers to list offering users scoped by ISD overlap
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_agent_identity.py
  src/waldur_mastermind/marketplace_site_agent/views.py
Due: Run unit tests, Run migration test, Try building docker image

Add SCIM implementation summary to docs
  docs/admin/scheduled.md
  docs/admin/scim-integration.md
Due: none

Allow offering managers to set order states
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/tests/test_order_set_state.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test, Try building docker image
