Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Reject rescue-tagged images as VM boot images [WAL-8603]
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_instance.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/scheduled.md
  docs/core_structure.mmd
Due: none

[WAL-9263] Implement collection of diagnostics from the site agent.
  src/waldur_core/server/celery_settings.py
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/marketplace_site_agent/enums.py
  src/waldur_mastermind/marketplace_site_agent/filters.py
  src/waldur_mastermind/marketplace_site_agent/migrations/0003_siteagentlog.py
  src/waldur_mastermind/marketplace_site_agent/models.py
  src/waldur_mastermind/marketplace_site_agent/serializers.py
  src/waldur_mastermind/marketplace_site_agent/tasks.py
  src/waldur_mastermind/marketplace_site_agent/tests/factories.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_site_agent_logs.py
  src/waldur_mastermind/marketplace_site_agent/urls.py
  src/waldur_mastermind/marketplace_site_agent/views.py
Due: Run unit tests, Run migration test

Fix permission request notification link for approvers
  src/waldur_core/users/tasks.py
Due: Run unit tests, Run migration test

Fix service provider deletion blocked by auto-created OpenStack child offerings
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
Due: Run unit tests, Run migration test

Flat affiliation_name/code on project serializer [HPCMP-486-2]
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_affiliated_organization.py
Due: Run unit tests, Run migration test

Create helpdesk tickets on resource and resource-project role changes
  src/waldur_mastermind/marketplace_support/handlers.py
  src/waldur_mastermind/marketplace_support/templates/marketplace_support/create_project_membership_update_issue.txt
  src/waldur_mastermind/marketplace_support/templates/marketplace_support/create_resource_membership_update_issue.txt
  src/waldur_mastermind/marketplace_support/tests/test_create_issue_if_resource_membership_changed.py
Due: Run unit tests, Run migration test

Skip pull tasks for service settings without live offerings
  src/waldur_core/server/celery_settings.py
  src/waldur_core/structure/tasks.py
  src/waldur_mastermind/marketplace/extension.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_tasks.py
Due: Run unit tests, Run migration test

Fix OpenStack instance creation racing pull_tenant_ports
  src/waldur_openstack/backend.py
  src/waldur_openstack/tests/test_backend.py
Due: Run unit tests, Run migration test

Make StateMixin begin_* transitions idempotent from target state
  src/waldur_core/core/models.py
  src/waldur_openstack/tests/test_state_mixin_transitions.py
Due: Run unit tests, Run migration test

Allow existing ports beyond status=DOWN in instance create / update_ports [gh-82]
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_instance.py
Due: Run unit tests, Run migration test

Vary usage_periods_demo data and split storage offerings
  src/waldur_mastermind/marketplace/demo_presets/presets/usage_periods_demo.json
Due: Run unit tests, Run migration test

Fix Count related_name in cleanup_site_agent_logs task [WAL-9263]
  src/waldur_mastermind/marketplace_site_agent/tasks.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/scheduled.md
  docs/admin/templates.md
Due: none

Add staff-only adjust_dates action for prepaid resources [WAL-9921]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_adjust_dates.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Bump Django to 6.0.5 to fix osv-scanner CVEs
  uv.lock
Due: none

Re-apply extension settings after override config files [gh-83]
  docker/rootfs/etc/waldur/settings.py
  src/waldur_auth_saml2/extension.py
Due: Run unit tests, Run migration test, Try building docker image

Add per-offering auto-OK and soft delete to ResourceProject [WAL-9922]
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/migrations/0234_resource_project_soft_delete.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_project_auto_ok.py
  src/waldur_mastermind/marketplace/tests/test_resource_project_soft_delete.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Remove 8 unused dependencies
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  Dockerfile
  docs/guides/install-from-src.md
  pyproject.toml
  src/waldur_core/server/doc_settings.py
  tests/Dockerfile
  uv.lock
Due: Run unit tests, Run migration test, Try building docker image

Expose ResourceProject soft-delete audit fields on serializer [WAL-9922]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_project_soft_delete.py
Due: Run unit tests, Run migration test

Hotfix: restore django-auth-ldap to unbreak operator override.conf.py
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  Dockerfile
  docs/guides/install-from-src.md
  pyproject.toml
  tests/Dockerfile
  uv.lock
Due: Run unit tests, Run migration test, Try building docker image

Fix ResourceProject add_user crash when event hooks are active [WAL-9922]
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_resource_project_event_hook.py
Due: Run unit tests, Run migration test

Replace iptools with stdlib ipaddress
  pyproject.toml
  src/waldur_core/core/tests/test_validators.py
  src/waldur_core/core/validators.py
  src/waldur_openstack/serializers.py
  src/waldur_rancher/serializers.py
  uv.lock
Due: Run unit tests, Run migration test

Expose ResourceProject termination_metadata on serializer [WAL-9922]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_project_soft_delete.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/handlers.md
Due: none

Allow prepaid ONE_TIME components as ResourceProject limits
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_project_limits_required.py
Due: Run unit tests, Run migration test

Allow customer owners to approve/reject project-scoped permission requests
  src/waldur_core/users/tests/test_group_invitation.py
  src/waldur_core/users/utils.py
Due: Run unit tests, Run migration test

Allow PATCH to omit mandatory project fields when they aren't being changed
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_project.py
Due: Run unit tests, Run migration test

Bump urllib3 to 2.7.0 to fix CVEs
  uv.lock
Due: none

Fix total component usage showing zero when user usages are non-zero
  src/waldur_mastermind/marketplace/tests/test_usage.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Attribute each expired resource termination independently [WAL-9926]
  src/waldur_mastermind/marketplace/tests/test_tasks.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Document Site Agent partition handling [WAL-9925]
  docs/guides/marketplace-slurm-partitions.md
Due: none

Extend hpc_ai_platform preset with credits, invoices and cost policies
  src/waldur_mastermind/marketplace/demo_presets/presets/hpc_ai_platform.json
Due: Run unit tests, Run migration test

Fix attribute error on user oidc ligin first revision path
  src/waldur_auth_social/tests/test_claim_mapping.py
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/utils.py
Due: Run unit tests, Run migration test

Guard SMAX calls against None entity_id
  src/waldur_mastermind/support/backend/smax.py
  src/waldur_mastermind/support/backend/smax_utils.py
  src/waldur_mastermind/support/tests/test_smax_issues.py
Due: Run unit tests, Run migration test

Guard Issue serialization against stale resource_content_type
  src/waldur_mastermind/support/handlers.py
  src/waldur_mastermind/support/models.py
  src/waldur_mastermind/support/serializers.py
  src/waldur_mastermind/support/tests/test_issues.py
Due: Run unit tests, Run migration test

Demote external-network and configuration failures to WARNING
  src/waldur_core/core/views.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/waldur_arrow/tasks.py
Due: Run unit tests, Run migration test

[WAL-9759] Add OfferingGroup model for grouping related offerings
  docs/offering-groups.md
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/migrations/0234_offeringgroup_offering_offering_group.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/factories.py
  src/waldur_mastermind/marketplace/tests/test_offering_groups.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Fix conflicting migrations
  .gitignore
  src/waldur_mastermind/marketplace/migrations/0235_offeringgroup_offering_offering_group.py
Due: Run unit tests, Run migration test
