Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Update configuration, CLI and developer guide
  docs/admin/scheduled.md
Due: none

Allow ISD managers to create agent identities without offering users
  docs/core-concepts/event-based-order-processing.md
  docs/guides/event-subscription-queues.md
  docs/identity-bridge.md
  src/waldur_core/logging/serializers.py
  src/waldur_core/logging/tests/test_subscription_queue.py
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace_site_agent/migrations/0002_agentidentity_created_by.py
  src/waldur_mastermind/marketplace_site_agent/models.py
  src/waldur_mastermind/marketplace_site_agent/serializers.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_agent_identity.py
  src/waldur_mastermind/marketplace_site_agent/views.py
Due: Run unit tests, Run migration test

Add support ticket creation on SSH key changes
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/marketplace_support/apps.py
  src/waldur_mastermind/marketplace_support/handlers.py
  src/waldur_mastermind/marketplace_support/templates/marketplace_support/ssh_key_change_issue.txt
  src/waldur_mastermind/marketplace_support/tests/test_create_issue_if_ssh_key_changed.py
Due: Run unit tests, Run migration test

Handle corrupt NULL constance values gracefully instead of crashing
  src/waldur_core/core/tests/test_public_settings.py
  src/waldur_core/core/views.py
Due: Run unit tests, Run migration test

Restrict SSH key types via Constance settings
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_ssh_keys.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/templates.md
  docs/handlers.md
Due: none

Fix OpenAPI schema generation error, migrate docs repo link for uploading schemas
  .gitlab-ci.yml
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Add missing ENABLE_ISSUES_FOR_USER_SSH_KEY_CHANGES to constance fieldsets
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

Adjust credit import to auto-fix end_date to first day of next month
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Fix missing return in create_offering_attributes_schema
  src/waldur_core/core/schema_hooks.py
  src/waldur_core/core/tests/test_schema_hooks.py
Due: Run unit tests, Run migration test

Preserve Ansible module changelogs across pipeline runs
  .gitlab-ci.yml
Due: none

Fix Ansible server group policy type and add instance resolver
  ansible-generator-config.yaml
Due: none

Fix N+1 query in ComponentUsage set_user_usage endpoint
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Fix N+1 query in service provider project_permissions endpoint
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Fix slow DB query in marketplace orders endpoint
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Remove broken links
  docs/admin/scim-integration.md
Due: none

Squash migrations for 5 safe apps to speed up fresh DB setup
  src/waldur_core/core/migrations/0014_squashed_0014_0024.py
  src/waldur_core/logging/migrations/0016_squashed_0016_0022.py
  src/waldur_core/users/migrations/0012_squashed_0012_0024.py
  src/waldur_mastermind/marketplace_openstack/migrations/0001_squashed_0001_0018.py
  src/waldur_mastermind/proposal/migrations/0034_squashed_0034_0049.py
Due: Run unit tests, Run migration test

Fix N+1 query in marketplace robot accounts endpoint
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Use safe constance values in plugin settings to avoid TypeError on NULL entries
  src/waldur_core/core/tests/test_public_settings.py
  src/waldur_core/core/views.py
Due: Run unit tests, Run migration test

[WAL-9682 Step 3] Bump Django version from 5.2 to 6.0.2.
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  Dockerfile
  pyproject.toml
  src/waldur_core/core/models.py
  src/waldur_core/core/renderers.py
  src/waldur_core/core/tests/test_schema_hooks.py
  src/waldur_core/core/tests/test_serializers.py
  src/waldur_core/core/tests/types.py
  src/waldur_core/logging/serializers.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/managers.py
  src/waldur_core/structure/notifications.py
  src/waldur_core/structure/tests/test_project.py
  src/waldur_core/structure/tests/test_ssh_keys.py
  src/waldur_freeipa/tests/test_groups.py
  src/waldur_mastermind/proposal/migrations/0048_reviewer_system_and_assignments.py
  src/waldur_openstack/tests/test_flavor_change.py
  uv.lock
Due: Run unit tests, Run migration test, Try building docker image

Skip non-version GitHub tags in version endpoint
  src/waldur_core/core/views.py
Due: Run unit tests, Run migration test

Add user_uuid filter to ProjectFilter for role-based project lookup
  src/waldur_core/structure/filters.py
Due: Run unit tests, Run migration test

Support OpenStack Application Credentials authentication
  docs/plugins/openstack.md
  src/waldur_openstack/discovery_serializers.py
  src/waldur_openstack/discovery_views.py
  src/waldur_openstack/openstack_discovery.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/session.py
  src/waldur_openstack/tests/test_session.py
Due: Run unit tests, Run migration test

Fix consecutive DB queries in projects_limits_grouped_by_industry_flag...
  src/waldur_mastermind/marketplace/tests/test_stats.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

feat: Implement quarterly limit period for resource usage aggregation and add a corresponding test.
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
Due: Run unit tests, Run migration test

[WAL-9727] Refactor AI Assistant tool definitions and system prompt for more clarity.
  src/waldur_mastermind/chat/apps.py
  src/waldur_mastermind/chat/context_assembler.py
  src/waldur_mastermind/chat/prompts.py
  src/waldur_mastermind/chat/tests/test_injection_integration.py
  src/waldur_mastermind/chat/tests/test_tool_executor.py
  src/waldur_mastermind/chat/tests/test_tools.py
  src/waldur_mastermind/chat/tool_executor.py
  src/waldur_mastermind/chat/tools.py
  src/waldur_mastermind/chat/tools/__init__.py
  src/waldur_mastermind/chat/tools/base.py
  src/waldur_mastermind/chat/tools/executor.py
  src/waldur_mastermind/chat/tools/registry.py
  src/waldur_mastermind/chat/tools/show_user_resources.py
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

feat: Add test for total limit period usage aggregation for marketplace components.
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
Due: Run unit tests, Run migration test

[WAL-9645] Implement sensitive data detection for chat input
  src/waldur_core/logging/enums.py
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/chat/context_assembler.py
  src/waldur_mastermind/chat/injection_detection/__init__.py
  src/waldur_mastermind/chat/injection_detection/base.py
  src/waldur_mastermind/chat/injection_detection/service.py
  src/waldur_mastermind/chat/input_guards/__init__.py
  src/waldur_mastermind/chat/input_guards/base.py
  src/waldur_mastermind/chat/input_guards/injection_detector.py
  src/waldur_mastermind/chat/input_guards/injection_patterns.py
  src/waldur_mastermind/chat/input_guards/pii_context.py
  src/waldur_mastermind/chat/input_guards/pii_credential_patterns.py
  src/waldur_mastermind/chat/input_guards/pii_detector.py
  src/waldur_mastermind/chat/input_guards/service.py
  src/waldur_mastermind/chat/input_guards/validators.py
  src/waldur_mastermind/chat/migrations/0004_remove_message_injection_score_message_action_taken_and_more.py
  src/waldur_mastermind/chat/models.py
  src/waldur_mastermind/chat/serializers.py
  src/waldur_mastermind/chat/tests/test_injection_detection.py
  src/waldur_mastermind/chat/tests/test_injection_integration.py
  src/waldur_mastermind/chat/tests/test_pii_detector.py
  src/waldur_mastermind/chat/tests/test_pii_integration.py
  src/waldur_mastermind/chat/tests/test_pii_validators.py
  src/waldur_mastermind/chat/tests/test_tool_executor.py
  src/waldur_mastermind/chat/tools/executor.py
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/events.md
Due: none

Fix ambiguous SQL in table growth sampling and add trigger endpoint
  src/waldur_core/core/serializers.py
  src/waldur_core/core/tasks.py
  src/waldur_core/core/tests/test_table_growth.py
  src/waldur_core/core/views.py
Due: Run unit tests, Run migration test

Add offering_user_auto_deletion plugin option and sync restoration
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_handlers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Bump dependencies to fix known security vulnerabilities
  pyproject.toml
  uv.lock
Due: Run unit tests, Run migration test

[Bugfix] Implement fix for invalid auth state
  src/waldur_auth_social/views.py
Due: Run unit tests, Run migration test

Fix 500 error when X-Forwarded-For contains a hostname
  src/waldur_core/structure/tests/test_user_data_access.py
  src/waldur_core/structure/utils_data_access.py
Due: Run unit tests, Run migration test

Fix duplicate role creation via group invitation auto-approval
  docs/core-concepts/invitations.md
  src/waldur_core/users/models.py
  src/waldur_core/users/tests/test_group_invitation.py
  src/waldur_core/users/views.py
Due: Run unit tests, Run migration test

Add router external gateway management actions [RWA-2]
  docs/plugins/openstack.md
  src/waldur_core/permissions/enums.py
  src/waldur_openstack/backend.py
  src/waldur_openstack/executors.py
  src/waldur_openstack/migrations/0067_router_external_gateway.py
  src/waldur_openstack/models.py
  src/waldur_openstack/permissions.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/fixtures.py
  src/waldur_openstack/tests/test_router.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Add staff-only force-period-reset API action for SLURM policies
  docs/admin/scheduled.md
  docs/guides/slurm-periodic-usage-policy-configuration.md
  src/waldur_mastermind/policy/extension.py
  src/waldur_mastermind/policy/models.py
  src/waldur_mastermind/policy/tasks.py
  src/waldur_mastermind/policy/tests/test_monthly_period_reset.py
  src/waldur_mastermind/policy/tests/test_slurm_periodic_policy_basic.py
  src/waldur_mastermind/policy/tests/test_slurm_periodic_usage_actions.py
  src/waldur_mastermind/policy/views.py
  tests/generate-pipeline.sh
Due: Run unit tests, Run migration test

Add staff-only force-period-reset API action for SLURM policies [HPCMP-453]
  conftest.py
  src/waldur_mastermind/policy/tests/test_slurm_policy_load.py
  tests/waldur-test
Due: Run unit tests, Run migration test
