Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Improve SDK
  src/waldur_firecrest/serializers.py
  src/waldur_firecrest/urls.py
  src/waldur_firecrest/views.py
Due: Run unit tests, Run migration test

Drop unused serializer
  src/waldur_openstack/serializers.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Improve OAI SDK
  src/waldur_mastermind/invoices/serializers.py
Due: Run unit tests, Run migration test

Improve SDK
  src/waldur_freeipa/serializers.py
  src/waldur_freeipa/views.py
Due: Run unit tests, Run migration test

[WAL-8286] Add action to update offering image
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Set backend_name when creating a support user in atlassian
  src/waldur_core/server/base_settings.py
  src/waldur_mastermind/support/backend/atlassian.py
Due: Run unit tests, Run migration test

[WAL-7866] Move countries list to constance
  src/waldur_core/core/metadata.py
  src/waldur_core/core/serializers.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Make SLURM resource sync more frequent
  src/waldur_mastermind/marketplace_slurm_remote/extension.py
Due: Run unit tests, Run migration test

[WAL-8234] Test multiple the same local categories.
  src/waldur_mastermind/marketplace_remote/tests/test_remote_synchronisation.py
  src/waldur_mastermind/marketplace_remote/tests/test_remote_synchronisation_task.py
Due: Run unit tests, Run migration test

[WAL-8345] remove brand label color settings
  docker/rootfs/etc/waldur/whitelabeling.yaml
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test, Try building docker image

Expose forwarded headers if available in gunicorn logs
  docker/rootfs/etc/waldur/gunicorn.conf.py
Due: Try building docker image

Improve OpenAPI schema for SDK generator
  src/waldur_core/logging/views.py
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/tests/test_project.py
  src/waldur_core/structure/views.py
  src/waldur_digitalocean/views.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Fix OAI SDK
  src/waldur_auth_social/serializers.py
  src/waldur_auth_social/views.py
Due: Run unit tests, Run migration test

Fix icons OAI
  src/waldur_core/core/views.py
Due: Run unit tests, Run migration test

[WAL-7866] Add serializer for OpenApi type generation for db settings override endpoint and fix dark theme text
  src/waldur_core/core/views.py
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test

[WAL-8360] Openstack sync of network is removing description.
  src/waldur_openstack/backend.py
Due: Run unit tests, Run migration test

Improve OAI for golang SDK
  src/waldur_aws/migrations/0006_alter_instance_state_alter_volume_state.py
  src/waldur_azure/migrations/0022_alter_network_state_alter_networkinterface_state_and_more.py
  src/waldur_core/core/enums.py
  src/waldur_core/core/openapi_generators.py
  src/waldur_core/core/schema_hooks.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/structure/migrations/0051_alter_servicesettings_state.py
  src/waldur_core/structure/tests/migrations/0001_initial.py
  src/waldur_digitalocean/migrations/0005_alter_droplet_state.py
  src/waldur_firecrest/migrations/0004_alter_job_state.py
  src/waldur_mastermind/google/migrations/0004_alter_googlecalendar_state.py
  src/waldur_mastermind/marketplace/tests/test_tasks.py
  src/waldur_mastermind/promotions/filters.py
  src/waldur_mastermind/support/migrations/0012_alter_attachment_state_alter_comment_state_and_more.py
  src/waldur_openstack/migrations/0047_alter_backup_state_alter_floatingip_state_and_more.py
  src/waldur_openstack_replication/migrations/0002_alter_migration_state.py
  src/waldur_rancher/migrations/0040_alter_application_state_alter_cluster_state_and_more.py
  src/waldur_rancher/serializers.py
  src/waldur_slurm/migrations/0026_alter_allocation_state.py
  src/waldur_vmware/migrations/0026_alter_disk_state_alter_port_state_and_more.py
Due: Run unit tests, Run migration test

Add CI/CD job for Go SDK
  .gitlab-ci.yml
Due: none

Add job to upload Go SDK to GitHub
  .gitlab-ci.yml
Due: none

Fix oapi-codegen install
  .gitlab-ci.yml
Due: none

Upload Python SDK to GitHub
  .gitlab-ci.yml
Due: none

[WAL-8328] Modify Access control feature for organization.
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/migrations/0052_accesssubnet_description.py
  src/waldur_core/structure/models.py
Due: Run unit tests, Run migration test

Fix openapi schema diff generation by using different image tag
  .gitlab-ci.yml
Due: none

Upload TypeScript SDK to GitHub
  .gitlab-ci.yml
Due: none

Fix openapi-python-client installation
  .gitlab-ci.yml
Due: none

Move service_provider_can_create_offering_user from options to plugin_options
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0156_move_service_provider_can_create_offering_user_to_plugin_options.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_remote/tests/test_offerings.py
  src/waldur_mastermind/marketplace_slurm_remote/tasks.py
  src/waldur_mastermind/marketplace_slurm_remote/tests/fixtures.py
  src/waldur_mastermind/marketplace_slurm_remote/tests/test_offering_user.py
  src/waldur_mastermind/marketplace_slurm_remote/tests/test_robot_account.py
  src/waldur_mastermind/policy/policy_actions.py
  src/waldur_mastermind/policy/tests/test_actions.py
Due: Run unit tests, Run migration test

Fix upload of SDK
  .gitlab-ci.yml
Due: none

Fix push
  .gitlab-ci.yml
Due: none

Fix upload
  .gitlab-ci.yml
Due: none

Fix for Python SDK
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

[bugfix] Check types for Numeric values in remote sync
  src/waldur_mastermind/marketplace_remote/utils.py
Due: Run unit tests, Run migration test

[WAL-8273] Add new filters to InvoiceItem api
  src/waldur_mastermind/invoices/filters.py
Due: Run unit tests, Run migration test

Drop upload SDK to HomePort, leave upload to GitHub
  .gitlab-ci.yml
Due: none

Improve OpenAPI schema generator
  src/waldur_core/core/api_groups_mapping.py
  src/waldur_core/core/schema_hooks.py
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test

Improve OpenAPI schema
  src/waldur_core/core/schema_hooks.py
Due: Run unit tests, Run migration test

Improve OAI SDK
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/support/serializers.py
  src/waldur_mastermind/support/views.py
Due: Run unit tests, Run migration test

Improve OAI SDK for report
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Improve OAI SDK for OpenStackSubNetAllocationPoolField
  src/waldur_openstack/serializers.py
Due: Run unit tests, Run migration test
