Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Renew the session when a login records its authentication method [#527]
  src/waldur_auth_saml2/views.py
  src/waldur_auth_social/views.py
  src/waldur_core/core/authentication.py
  src/waldur_core/core/tests/test_authentication.py
  src/waldur_core/core/views.py
  src/waldur_core/passkeys/ceremony_views.py
Due: Run unit tests, Run migration test

Name the applicant and project team in order tickets [#525]
  docs/core-concepts/proposals.md
  src/waldur_mastermind/marketplace_support/templates/marketplace_support/create_resource_template.txt
  src/waldur_mastermind/marketplace_support/tests/test_format_description.py
  src/waldur_mastermind/marketplace_support/utils.py
  src/waldur_mastermind/proposal/tests/test_order_author.py
Due: Run unit tests, Run migration test

Emit pub/sub events for call and proposal state changes [#172]
  docs/design/pubsub-architecture.md
  docs/guides/agent-pubsub.md
  src/waldur_core/logging/enums.py
  src/waldur_core/logging/event_dispatch.py
  src/waldur_core/logging/serializers.py
  src/waldur_core/logging/views.py
  src/waldur_core/permissions/utils.py
  src/waldur_mastermind/proposal/apps.py
  src/waldur_mastermind/proposal/event_publishing.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/tests/test_event_publishing.py
  src/waldur_mastermind/proposal/utils.py
Due: Run unit tests, Run migration test

Make telemetry opt-out and fix its feature gate [#528]
  docker/rootfs/etc/waldur/features.json
  src/waldur_core/core/features.py
  src/waldur_core/core/migrations/0051_telemetry_opt_out.py
  src/waldur_core/core/tests/test_feature_defaults.py
  src/waldur_core/core/tests/test_telemetry_opt_out_migration.py
  src/waldur_core/core/views.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/server/dev_settings.py
  src/waldur_core/server/test_settings.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_tasks.py
Due: Run unit tests, Run migration test, Try building docker image

Add a public-sector accounting demo preset and fix three preset-loader bugs [#529]
  docs/guides/presets.md
  scripts/generate_public_sector_preset.py
  src/waldur_mastermind/marketplace/demo_presets/presets/public_sector_accounting.json
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
Due: Run unit tests, Run migration test

Allow Brreg as an onboarding validation method [#531]
  src/waldur_core/onboarding/tests/test_validation_choices.py
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Let the global support role read service provider stat and revenue [#530]
  src/waldur_mastermind/marketplace/tests/test_service_provider_support_access.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Show providers the compliance checklist assigned to their offering [#532]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Publish release SBOMs as GitHub release assets [#233]
  .gitlab-ci.yml
Due: none

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/templates.md
  docs/handlers.md
Due: none

Fix 500 when FreeIPA username is already taken
  src/waldur_freeipa/serializers.py
  src/waldur_freeipa/tests/test_profiles.py
Due: Run unit tests, Run migration test

Forward the chosen networks and folder of a VMware order to the VM [#556]
  src/waldur_mastermind/marketplace_vmware/processors.py
  src/waldur_mastermind/marketplace_vmware/tests/test_order.py
  src/waldur_vmware/backend.py
  src/waldur_vmware/migrations/0031_template_nic_count.py
  src/waldur_vmware/models.py
  src/waldur_vmware/serializers.py
  src/waldur_vmware/tests/test_template.py
  src/waldur_vmware/tests/test_vm.py
Due: Run unit tests, Run migration test

Allow filtering quota analytics by organization [waldur/waldur-homeport#12]
  src/waldur_mastermind/analytics/tests/test_customer_quotas.py
  src/waldur_mastermind/analytics/tests/test_project_quotas.py
  src/waldur_mastermind/analytics/views.py
Due: Run unit tests, Run migration test

Export a call's configuration and import it on another portal [#557]
  src/waldur_mastermind/proposal/call_transfer.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_call_transfer.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Carry a call's reference code in its export [#557]
  src/waldur_mastermind/proposal/call_transfer.py
  src/waldur_mastermind/proposal/tests/test_call_transfer.py
Due: Run unit tests, Run migration test

Remove Proposal.project_duration and Review.comment_project_duration [#563]
  docs/core-concepts/proposals.md
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
  src/waldur_mastermind/proposal/migrations/0083_remove_project_duration.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
Due: Run unit tests, Run migration test

Describe rounds, evaluation policy and project length as the code has them [#579]
  docs/core-concepts/proposals.md
Due: none

Cancel only drafts when a round ends [#553]
  docs/admin/scheduled.md
  docs/design/pubsub-architecture.md
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/tests/test_event_publishing.py
  src/waldur_mastermind/proposal/tests/test_proposals.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Save the round when closing it and refuse to close an ended round [#426]
  src/waldur_mastermind/proposal/tests/test_rounds.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Describe reviewer assignment and bids as the code has them [#580]
  docs/core-concepts/proposals-matching.md
  docs/core-concepts/proposals.md
Due: none

Notify only the offering managers of a proposal's requested offerings [#554]
  src/waldur_mastermind/proposal/notification_rules.py
  src/waldur_mastermind/proposal/permissions.py
  src/waldur_mastermind/proposal/tests/test_notification_rules.py
  src/waldur_mastermind/proposal/tests/test_technical_assessment.py
Due: Run unit tests, Run migration test

Limit what reviewers see of unsent and conflicted assignments [#581]
  src/waldur_mastermind/chat/tools/proposals_reviewer/review_assistant.py
  src/waldur_mastermind/chat/tools/proposals_reviewer/review_workload.py
  src/waldur_mastermind/proposal/enums.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/tests/test_assignment_disclosure.py
  src/waldur_mastermind/proposal/utils.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Add KPI definition model for project business KPIs
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/migrations/0299_offeringkpi_resourcekpivalue.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/offering_merge_coverage.py
  src/waldur_mastermind/marketplace/tests/factories.py
  src/waldur_mastermind/marketplace/tests/test_kpi_definitions.py
Due: Run unit tests, Run migration test

Import and export a call's disclosure level and assignment configuration [#585]
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_demo_presets.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
Due: Run unit tests, Run migration test

Handle duplicate Zammad SupportUser rows during comment sync
  src/waldur_mastermind/support/backend/zammad.py
  src/waldur_mastermind/support/tests/test_issue_sync.py
Due: Run unit tests, Run migration test

Apply the call's applicant visibility to the proposal team list for reviewers [#583]
  docs/core-concepts/proposals-eligibility.md
  src/waldur_core/permissions/views.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_team_applicant_visibility.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Remove workspace-local test settings and ignore local overrides
  .gitignore
  src/waldur_core/server/conftest.py
  src/waldur_core/server/test_settings_ws2.py
  src/waldur_core/server/test_settings_ws2_arch.py
Due: Run unit tests, Run migration test

Fix reviewer assignment batch emails, reminders and deadline extension [#572]
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/proposal/managers.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/templates/proposal/assignment_batch_expired_message.html
  src/waldur_mastermind/proposal/templates/proposal/assignment_batch_expired_message.txt
  src/waldur_mastermind/proposal/templates/proposal/assignment_batch_expired_subject.txt
  src/waldur_mastermind/proposal/templates/proposal/assignment_expiry_reminder_message.html
  src/waldur_mastermind/proposal/templates/proposal/assignment_expiry_reminder_message.txt
  src/waldur_mastermind/proposal/templates/proposal/assignment_expiry_reminder_subject.txt
  src/waldur_mastermind/proposal/templates/proposal/reviewer_assignment_invitation_message.html
  src/waldur_mastermind/proposal/templates/proposal/reviewer_assignment_invitation_message.txt
  src/waldur_mastermind/proposal/templates/proposal/reviewer_assignment_invitation_subject.txt
  src/waldur_mastermind/proposal/tests/test_assignment_batch_notifications.py
  src/waldur_mastermind/proposal/tests/test_assignment_batches.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Start a call's evaluation at the round cut-off when configured [#564]
  src/waldur_mastermind/proposal/enums.py
  src/waldur_mastermind/proposal/extension.py
  src/waldur_mastermind/proposal/migrations/0084_call_evaluation_start.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/tests/test_evaluation_start.py
  src/waldur_mastermind/proposal/views.py
  src/waldur_mastermind/proposal/workflow_service.py
Due: Run unit tests, Run migration test

Derive component limits from order-form formulas and sums [#562]
  docs/guides/marketplace-custom-options.md
  src/waldur_mastermind/common/serializers.py
  src/waldur_mastermind/marketplace/callbacks.py
  src/waldur_mastermind/marketplace/derived_limits.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/processors.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_derived_limits.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Expire reviewer pool invitations on every invitation path [#578]
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/proposal/extension.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/templates/proposal/reviewer_pool_invitation_expired_message.html
  src/waldur_mastermind/proposal/templates/proposal/reviewer_pool_invitation_expired_message.txt
  src/waldur_mastermind/proposal/templates/proposal/reviewer_pool_invitation_expired_subject.txt
  src/waldur_mastermind/proposal/tests/test_pool_invitation_expiry.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Enforce reviewers' assignment limits from their open assignments [#577]
  src/waldur_core/logging/enums.py
  src/waldur_mastermind/proposal/filters.py
  src/waldur_mastermind/proposal/managers.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_reviewer_workload.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Fix broken Waldur logo URL in README
  README.md
Due: none

Export a call's proposals and reviews as CSV
  docs/core-concepts/proposals.md
  src/waldur_mastermind/proposal/exports.py
  src/waldur_mastermind/proposal/migrations/0085_proposal_submitted_at.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/tests/test_evaluation_start.py
  src/waldur_mastermind/proposal/tests/test_exports.py
  src/waldur_mastermind/proposal/utils.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Regenerate admin docs for new proposal tasks and notifications [#589]
  docs/admin/notifications.md
  docs/admin/scheduled.md
  src/waldur_core/structure/management/commands/print_notifications.py
Due: Run unit tests, Run migration test

Bump oauthlib and pyjwt to fix OSV scan findings
  uv.lock
Due: none

Rewrite the backend i18n doc and fold in the language guide [waldur/waldur-docs#19]
  docs/guides/how-to-add-new-language.md
  docs/i18n.md
Due: none

Keep a paired formula option while resources hold changed values [#562]
  docs/guides/marketplace-custom-options.md
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_derived_limits.py
Due: Run unit tests, Run migration test

Email approvers and requesters about resource end date change requests [#521]
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/templates/marketplace/notification_resource_end_date_change_request_approved_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/notification_resource_end_date_change_request_approved_message.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notification_resource_end_date_change_request_approved_subject.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notification_resource_end_date_change_request_created_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/notification_resource_end_date_change_request_created_message.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notification_resource_end_date_change_request_created_subject.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notification_resource_end_date_change_request_rejected_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/notification_resource_end_date_change_request_rejected_message.txt
  src/waldur_mastermind/marketplace/templates/marketplace/notification_resource_end_date_change_request_rejected_subject.txt
  src/waldur_mastermind/marketplace/tests/test_resource_end_date_change_request.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/notifications.md
  docs/admin/templates.md
  docs/events.md
  docs/handlers.md
  docs/mixins.md
Due: none

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
