Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Avoid duplicate remote resource fetch in resource pull
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_tasks.py
Due: Run unit tests, Run migration test

[WAL-9387] Add pull_tenant_load_balancers" to TenantPullExecutor.
  src/waldur_openstack/executors.py
  src/waldur_openstack/octavia.py
  src/waldur_openstack/tests/test_loadbalancer.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Fix NestedPriceEstimateSerializer returning numbers instead of strings
  src/waldur_mastermind/billing/serializers.py
  src/waldur_mastermind/billing/tests/test_filter.py
  src/waldur_mastermind/billing/tests/test_price_current.py
  src/waldur_mastermind/billing/tests/test_price_estimates.py
Due: Run unit tests, Run migration test

Add feature to hide resource add button from users
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

Skip Octavia sync when load-balancer service is not in the catalog
  src/waldur_openstack/backend.py
  src/waldur_openstack/octavia.py
Due: Run unit tests, Run migration test

Fix user filter including users with revoked project/organization roles
  src/waldur_core/structure/filters.py
Due: Run unit tests, Run migration test

[WAL-7982] Expose timestamp in error details and output logs of orders
  src/waldur_mastermind/marketplace/migrations/0223_order_error_updated_at_order_output_updated_at.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_mastermind/marketplace/tests/test_order_provider_consumer_info.py
  src/waldur_mastermind/marketplace/tests/test_order_review.py
  src/waldur_mastermind/marketplace/tests/test_order_set_state.py
  src/waldur_mastermind/marketplace/tests/test_tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_order.py
  src/waldur_mastermind/marketplace_support/tests/test_order_output.py
Due: Run unit tests, Run migration test

Add ORDER.CREATE permission to restrict CUSTOMER.READER from creating orders
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/enums.py
  src/waldur_core/permissions/fixtures.py
  src/waldur_core/permissions/migrations/0019_order_create_permission.py
  src/waldur_mastermind/booking/tests/test_order.py
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_mastermind/marketplace/tests/test_order_end_date.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_openstack/tests/test_order.py
  src/waldur_mastermind/marketplace_remote/tests/test_duplicate_resource.py
  src/waldur_rancher/tests/test_cluster.py
Due: Run unit tests, Run migration test, Try building docker image

Add cross-organization notification isolation tests
  src/waldur_core/logging/tests/test_cross_org_notification_isolation.py
Due: Run unit tests, Run migration test

Fix scope_name serializer field type: UUIDField -> CharField
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/features.md
  docs/marketplace_provision.mmd
Due: none

Fix plan prices serialized as strings instead of floats
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Validate LB algorithm against provider capabilities
  src/waldur_openstack/models.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_loadbalancer.py
Due: Run unit tests, Run migration test

Add set_security_groups action for LB VIP port
  src/waldur_openstack/backend.py
  src/waldur_openstack/executors.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_loadbalancer.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Drop feature for hiding resource add button from users
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

Update OpenStack plugin docs for LB security groups and algorithm validation
  docs/plugins/openstack.md
Due: none

feat: implement monthly component usage reporting [WAL-9823]
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/marketplace/extension.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/management/commands/init_component_usage_reporting.py
  src/waldur_mastermind/marketplace/migrations/0224_componentusagemonthly.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/factories.py
  src/waldur_mastermind/marketplace/tests/test_component_usage_reporting.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Add version data to software catalog extension and parent package listings
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_software_catalogs.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/admin/scheduled.md
Due: none

[WAL-9845] AI Assistant: Add keyword-based intent classifier for conditional tool loading
  src/waldur_mastermind/chat/context_assembler.py
  src/waldur_mastermind/chat/intent_classifier.py
  src/waldur_mastermind/chat/llm_streamer.py
  src/waldur_mastermind/chat/tests/test_context_assembler.py
  src/waldur_mastermind/chat/tests/test_intent_classifier.py
  src/waldur_mastermind/chat/tests/test_tools.py
  src/waldur_mastermind/chat/tools/base.py
  src/waldur_mastermind/chat/tools/create_vm.py
  src/waldur_mastermind/chat/tools/enums.py
  src/waldur_mastermind/chat/tools/list_projects.py
  src/waldur_mastermind/chat/tools/preview_vm.py
  src/waldur_mastermind/chat/tools/registry.py
  src/waldur_mastermind/chat/tools/show_user_resources.py
  src/waldur_mastermind/chat/tools/tool_sets.py
  src/waldur_mastermind/chat/validation_scenarios/tool_usage.yaml
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

Fix get_quotas return type annotation causing Go SDK unmarshal error
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/policy/serializers.py
Due: Run unit tests, Run migration test

Add project affiliations with external organizations [WAL-9846]
  src/waldur_core/structure/admin.py
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/migrations/0074_affiliatedorganization.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/factories.py
  src/waldur_core/structure/tests/test_affiliated_organization.py
  src/waldur_core/structure/urls.py
  src/waldur_core/structure/views.py
  src/waldur_mastermind/chat/tests/test_streamer.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/core_structure.mmd
Due: none

[WAL-9817] Improve AI assistant resource table data
  src/waldur_mastermind/chat/components.py
  src/waldur_mastermind/chat/serializers.py
  src/waldur_mastermind/chat/tests/test_streamer.py
  src/waldur_mastermind/chat/tests/test_tool_executor.py
  src/waldur_mastermind/chat/tests/test_tools.py
  src/waldur_mastermind/chat/tools/show_user_resources.py
Due: Run unit tests, Run migration test

Fix minimal_price serialised as Decimal string instead of JSON number
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Revert "Fix minimal_price serialised as Decimal string instead of JSON number"
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Offering coverimage
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Add passwords for call_management preset users
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Add AI Assistant tools for proposal and review management
  pyproject.toml
  src/waldur_mastermind/chat/apps.py
  src/waldur_mastermind/chat/components.py
  src/waldur_mastermind/chat/intent_classifier.py
  src/waldur_mastermind/chat/llm_streamer.py
  src/waldur_mastermind/chat/semantic_routing.py
  src/waldur_mastermind/chat/tests/test_context_assembler.py
  src/waldur_mastermind/chat/tests/test_intent_classifier.py
  src/waldur_mastermind/chat/tests/test_proposal_tools.py
  src/waldur_mastermind/chat/tools/base.py
  src/waldur_mastermind/chat/tools/call_insights.py
  src/waldur_mastermind/chat/tools/create_vm.py
  src/waldur_mastermind/chat/tools/enums.py
  src/waldur_mastermind/chat/tools/find_matching_calls.py
  src/waldur_mastermind/chat/tools/guide_proposal.py
  src/waldur_mastermind/chat/tools/list_projects.py
  src/waldur_mastermind/chat/tools/preview_vm.py
  src/waldur_mastermind/chat/tools/proposal_helpers.py
  src/waldur_mastermind/chat/tools/proposal_overview.py
  src/waldur_mastermind/chat/tools/review_assistant.py
  src/waldur_mastermind/chat/tools/review_workload.py
  src/waldur_mastermind/chat/tools/show_user_resources.py
  src/waldur_mastermind/chat/tools/tool_sets.py
Due: Run unit tests, Run migration test

Update lockfile
  uv.lock
Due: none

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

Add missing table fields to ChatResponseSerializer
  src/waldur_mastermind/chat/serializers.py
Due: Run unit tests, Run migration test

Fix UniqueViolation in constance key rename migration [core.0025]
  src/waldur_core/core/migrations/0025_rename_llm_chat_constance_keys.py
  src/waldur_core/core/tests/test_constance_rename_migration.py
Due: Run unit tests, Run migration test

Fix missing local semantic routing
  pyproject.toml
  uv.lock
Due: Run unit tests, Run migration test

Add GDPR-compliant address attribute to User model
  src/waldur_auth_social/const.py
  src/waldur_auth_social/serializers.py
  src/waldur_core/core/migrations/0031_add_address_to_user.py
  src/waldur_core/core/models.py
  src/waldur_core/core/tests/test_user_attributes.py
  src/waldur_core/core/user_attributes.py
  src/waldur_core/structure/serializers.py
  src/waldur_mastermind/marketplace/migrations/0225_add_expose_address_to_offering_user_attribute_config.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Fix prepaid duration calculation to use order start_date
  pyproject.toml
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_order_end_date.py
  uv.lock
Due: Run unit tests, Run migration test

Exclude torch from Docker build to fix Alpine compatibility
  docker_build.sh
Due: none

Fix Docker build: move torch deps to local-ml group
  docker_build.sh
  pyproject.toml
  uv.lock
Due: Run unit tests, Run migration test

feat: use server-side pagination for reports
  src/waldur_mastermind/marketplace/tests/test_stats.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test
