Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Document short-lived Matrix web chat sessions [#433]
  docs/admin-guide/matrix-appservice-setup.md
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
Due: none

Add a proposal administrator role, require a proposal manager, freeze the team after submission and pick notified roles per step [#574]
  docker/rootfs/etc/waldur/permissions.yaml
  docs/core-concepts/checklists.md
  docs/core-concepts/permissions.md
  docs/core-concepts/proposals.md
  docs/events.md
  src/waldur_core/core/tests/unittests/test_broadcast_mail.py
  src/waldur_core/core/utils.py
  src/waldur_core/logging/enums.py
  src/waldur_core/permissions/enums.py
  src/waldur_core/permissions/fixtures.py
  src/waldur_core/permissions/serializers.py
  src/waldur_core/permissions/utils.py
  src/waldur_core/permissions/views.py
  src/waldur_core/users/models.py
  src/waldur_core/users/serializers.py
  src/waldur_core/users/utils.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/proposal/apps.py
  src/waldur_mastermind/proposal/call_transfer.py
  src/waldur_mastermind/proposal/handlers.py
  src/waldur_mastermind/proposal/migrations/0086_proposal_admin_role_and_notified_roles.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/notification_rules.py
  src/waldur_mastermind/proposal/permissions.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/tests/test_allocate_strategy.py
  src/waldur_mastermind/proposal/tests/test_archived_enforcement.py
  src/waldur_mastermind/proposal/tests/test_call_transfer.py
  src/waldur_mastermind/proposal/tests/test_notification_roles.py
  src/waldur_mastermind/proposal/tests/test_order_author.py
  src/waldur_mastermind/proposal/tests/test_proposal_admin.py
  src/waldur_mastermind/proposal/tests/test_proposal_compliance.py
  src/waldur_mastermind/proposal/tests/test_proposal_project_role_mapping.py
  src/waldur_mastermind/proposal/tests/test_proposal_team.py
  src/waldur_mastermind/proposal/tests/test_purchase_orders.py
  src/waldur_mastermind/proposal/tests/test_role_expiration.py
  src/waldur_mastermind/proposal/utils.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test, Try building docker image

Log one event per proposal team change after submission [#574]
  docs/core-concepts/permissions.md
  docs/events.md
  src/waldur_core/logging/enums.py
  src/waldur_core/permissions/handlers.py
  src/waldur_core/permissions/tests/test_log.py
  src/waldur_core/permissions/utils.py
  src/waldur_mastermind/proposal/apps.py
  src/waldur_mastermind/proposal/handlers.py
  src/waldur_mastermind/proposal/tests/test_proposal_team.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/admin/scheduled.md
  docs/handlers.md
  docs/mixins.md
Due: none

Compare a metric's period so far with the same days of the previous one [#638]
  src/waldur_mastermind/marketplace_metrics/query.py
  src/waldur_mastermind/marketplace_metrics/tests/test_read_and_goals.py
Due: Run unit tests, Run migration test

Describe what the call and catalogue feature flags do
  docs/admin/features.md
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

Match the class path a site agent reports in the limit precision advisory [#637]
  src/waldur_mastermind/marketplace_site_agent/tests/test_limit_precision_advisory.py
  src/waldur_mastermind/marketplace_site_agent/utils.py
Due: Run unit tests, Run migration test

Match list grants on their own role permissions, not role names [#619]
  src/waldur_core/structure/managers.py
  src/waldur_core/structure/tests/test_project_permissions.py
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/tests/test_scope_helpers_by_permission.py
Due: Run unit tests, Run migration test

Queue only the appservice events of rooms Waldur manages [#18]
  src/waldur_mastermind/matrix_chat/tests/test_appservice.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/mixins.md
Due: none

Treat panel members as evaluators and let live reviewers read compliance answers [#588]
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_applicant_visibility.py
  src/waldur_mastermind/proposal/tests/test_proposal_compliance.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Conceal applicant identity from evaluators on every proposal path [#587]
  src/waldur_core/checklist/mixins.py
  src/waldur_core/logging/filters.py
  src/waldur_core/logging/tasks.py
  src/waldur_core/logging/utils.py
  src/waldur_core/permissions/handlers.py
  src/waldur_mastermind/proposal/apps.py
  src/waldur_mastermind/proposal/filters.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_applicant_identity_paths.py
  src/waldur_mastermind/proposal/tests/test_applicant_visibility.py
  src/waldur_mastermind/proposal/tests/test_proposal_compliance.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Keep Matrix secrets out of Sentry and logs, harden the appservice webhook [#636]
  docker/rootfs/etc/waldur/settings.py
  src/waldur_core/logging/sentry.py
  src/waldur_core/logging/tests/test_sentry_scrubbing.py
  src/waldur_mastermind/marketplace_support/management/commands/override_constance_settings.py
  src/waldur_mastermind/matrix_chat/tests/test_appservice.py
  src/waldur_mastermind/matrix_chat/views.py
  src/waldur_mastermind/support/tests/test_constance_override.py
Due: Run unit tests, Run migration test, Try building docker image

Return null type_name for volumes without a type [waldur/waldur-homeport#257]
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_instance.py
  src/waldur_openstack/tests/test_volume.py
Due: Run unit tests, Run migration test

Carry open drafts into the call's next round at the cut-off [#565]
  docs/design/pubsub-architecture.md
  src/waldur_core/logging/enums.py
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/proposal/migrations/0087_call_carry_over_drafts.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/templates/proposal/proposal_draft_carried_over_message.html
  src/waldur_mastermind/proposal/templates/proposal/proposal_draft_carried_over_message.txt
  src/waldur_mastermind/proposal/templates/proposal/proposal_draft_carried_over_subject.txt
  src/waldur_mastermind/proposal/templates/proposal/proposal_submission_deadline_approaching_message.html
  src/waldur_mastermind/proposal/templates/proposal/proposal_submission_deadline_approaching_message.txt
  src/waldur_mastermind/proposal/tests/test_draft_carry_over.py
  src/waldur_mastermind/proposal/tests/test_rounds.py
  src/waldur_mastermind/proposal/utils.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Return 400 for out-of-range history timestamps
  src/waldur_core/core/tests/test_history_mixin.py
  src/waldur_core/core/views.py
  src/waldur_mastermind/marketplace/tests/test_resource_history.py
Due: Run unit tests, Run migration test

Let staff open a support request with an opening message [#491]
  docs/support.md
  src/waldur_mastermind/support/backend/basic.py
  src/waldur_mastermind/support/handlers.py
  src/waldur_mastermind/support/serializers.py
  src/waldur_mastermind/support/tests/test_issue_created_notification.py
  src/waldur_mastermind/support/tests/test_staff_initiated_issue.py
  src/waldur_mastermind/support/tests/unittests/test_provider_helpdesk.py
  src/waldur_mastermind/support/utils.py
  src/waldur_mastermind/support/views.py
Due: Run unit tests, Run migration test

Terminate expired resources whose end date requester lost access [#648]
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/tests/test_tasks.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/notifications.md
  docs/admin/scheduled.md
  docs/admin/templates.md
  docs/events.md
  docs/mixins.md
Due: none

Word the comment mail for any caller and keep staff requests' description plain [#491]
  docs/admin/notifications.md
  docs/admin/templates.md
  docs/support.md
  src/waldur_mastermind/support/serializers.py
  src/waldur_mastermind/support/templates/support/notification_comment_added_message.html
  src/waldur_mastermind/support/templates/support/notification_comment_added_message.txt
  src/waldur_mastermind/support/templates/support/notification_comment_added_subject.txt
  src/waldur_mastermind/support/tests/test_issues.py
  src/waldur_mastermind/support/tests/test_staff_initiated_issue.py
  src/waldur_mastermind/support/views.py
Due: Run unit tests, Run migration test

Bump multidict to 6.9.1 for GHSA-54p9-h82j-f925
  uv.lock
Due: none

Expose the organization slug of a provider project group [#649]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_provider_project_groups.py
Due: Run unit tests, Run migration test

Attach invoices to notification emails as PDF rendered with Typst [#651]
  Dockerfile
  pyproject.toml
  src/waldur_core/core/utils.py
  src/waldur_core/structure/notifications.py
  src/waldur_core/templates/waldur_core/font.css
  src/waldur_mastermind/invoices/pdf/fonts/OFL.md
  src/waldur_mastermind/invoices/pdf/fonts/SourceSans3-Bold.ttf
  src/waldur_mastermind/invoices/pdf/fonts/SourceSans3-Regular.ttf
  src/waldur_mastermind/invoices/pdf/fonts/SourceSans3-Semibold.ttf
  src/waldur_mastermind/invoices/pdf/invoice.typ
  src/waldur_mastermind/invoices/tasks.py
  src/waldur_mastermind/invoices/templates/invoices/invoice.html
  src/waldur_mastermind/invoices/templates/invoices/notification_message.html
  src/waldur_mastermind/invoices/templates/invoices/notification_message.txt
  src/waldur_mastermind/invoices/templates/invoices/notification_subject.txt
  src/waldur_mastermind/invoices/tests/test_invoices.py
  src/waldur_mastermind/invoices/tests/unittests/test_invoice_pdf.py
  src/waldur_mastermind/invoices/tests/unittests/test_tasks.py
  src/waldur_mastermind/invoices/utils.py
  uv.lock
Due: Run unit tests, Run migration test, Try building docker image

Give a round a post-cut-off lifecycle and publish its results at once [#566]
  docs/design/pubsub-architecture.md
  src/waldur_core/logging/enums.py
  src/waldur_core/logging/filters.py
  src/waldur_core/logging/tasks.py
  src/waldur_core/logging/tests/test_event_type_guard.py
  src/waldur_core/logging/utils.py
  src/waldur_mastermind/proposal/apps.py
  src/waldur_mastermind/proposal/call_transfer.py
  src/waldur_mastermind/proposal/enums.py
  src/waldur_mastermind/proposal/media_access.py
  src/waldur_mastermind/proposal/migrations/0088_round_lifecycle_publish_results.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/permissions.py
  src/waldur_mastermind/proposal/round_lifecycle.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/tests/test_round_lifecycle.py
  src/waldur_mastermind/proposal/tests/test_rounds.py
  src/waldur_mastermind/proposal/urls.py
  src/waldur_mastermind/proposal/utils.py
  src/waldur_mastermind/proposal/views.py
  src/waldur_mastermind/proposal/workflow_service.py
Due: Run unit tests, Run migration test

Show networks RBAC-shared by OpenStack projects Waldur does not manage [#601]
  src/waldur_openstack/apps.py
  src/waldur_openstack/backend.py
  src/waldur_openstack/handlers.py
  src/waldur_openstack/migrations/0088_tenant_is_managed.py
  src/waldur_openstack/models.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tasks.py
  src/waldur_openstack/tests/test_live_unmanaged_owner_share.py
  src/waldur_openstack/tests/test_rbac_shared_subnet_actions.py
  src/waldur_openstack/tests/test_unmanaged_owner_share.py
  src/waldur_openstack/utils.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Store the OpenStack discovery choices where the plugin reads them [#652]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace_openstack/tests/test_discovery_integration.py
  src/waldur_openstack/openstack_discovery.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_floating_ip_external_network.py
  src/waldur_openstack/tests/test_instance.py
  src/waldur_openstack/tests/test_openstack_discovery.py
  src/waldur_openstack/tests/test_openstack_discovery_api.py
Due: Run unit tests, Run migration test

Let the allocation decision award amounts and offerings that differ from the request [#573]
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/offering_merge.py
  src/waldur_mastermind/marketplace/offering_merge_coverage.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
  src/waldur_mastermind/proposal/managers.py
  src/waldur_mastermind/proposal/migrations/0089_awardedresource.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/permissions.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_awarded_resources.py
  src/waldur_mastermind/proposal/urls.py
  src/waldur_mastermind/proposal/utils.py
  src/waldur_mastermind/proposal/views.py
  src/waldur_mastermind/proposal/workflow_service.py
Due: Run unit tests, Run migration test

Document the round lifecycle, held decisions and awarded resources in the proposals guide
  docs/core-concepts/proposals.md
Due: none

Say on subnets whether their owner is managed [#655]
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_unmanaged_owner_share.py
Due: Run unit tests, Run migration test

Limit history exports to those who manage the room, and expire them [#636]
  docs/admin-guide/matrix-appservice-setup.md
  docs/guides/media-access.md
  src/waldur_core/media/access.py
  src/waldur_core/media/tests/test_access_registry.py
  src/waldur_core/media/views.py
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/matrix_chat/apps.py
  src/waldur_mastermind/matrix_chat/extension.py
  src/waldur_mastermind/matrix_chat/handlers.py
  src/waldur_mastermind/matrix_chat/managers.py
  src/waldur_mastermind/matrix_chat/media_access.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_export_access.py
  src/waldur_mastermind/matrix_chat/tests/test_media_access.py
  src/waldur_mastermind/matrix_chat/tests/test_views.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Bound Matrix device and token lifetimes from Waldur's side [#636]
  src/waldur_mastermind/matrix_chat/extension.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/migrations/0005_matrixuserprofile_last_web_session_at.py
  src/waldur_mastermind/matrix_chat/models.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_lifetimes.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Fix EESSI catalogue override via management command import
  src/waldur_mastermind/marketplace/catalog_loaders/base.py
  src/waldur_mastermind/marketplace/tests/test_catalog_loaders.py
  src/waldur_mastermind/marketplace/tests/test_load_eessi_catalog.py
Due: Run unit tests, Run migration test

Invite a new customer role holder to the customer's project rooms [#18]
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_mastermind/matrix_chat/handlers.py
  src/waldur_mastermind/matrix_chat/managers.py
  src/waldur_mastermind/matrix_chat/models.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_handlers.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_views.py
Due: Run unit tests, Run migration test

Let offering order viewers read component stats and state counters
  src/waldur_mastermind/marketplace/tests/test_offering_state_counters.py
  src/waldur_mastermind/marketplace/tests/test_service_provider_manager_access.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

End every Matrix session and room membership when access ends [#636]
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_mastermind/matrix_chat/apps.py
  src/waldur_mastermind/matrix_chat/handlers.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/migrations/0006_matrixroommember_manually_joined.py
  src/waldur_mastermind/matrix_chat/models.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_handlers.py
  src/waldur_mastermind/matrix_chat/tests/test_integration.py
  src/waldur_mastermind/matrix_chat/tests/test_revocation.py
  src/waldur_mastermind/matrix_chat/tests/test_sessions.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
Due: Run unit tests, Run migration test

Pause grace-period resources on the first day and keep them paused [#653]
  docs/guides/slurm-periodic-usage-policy-configuration.md
  src/waldur_core/structure/models.py
  src/waldur_mastermind/chat/tests/test_explain_resource_paused_reason.py
  src/waldur_mastermind/chat/tools/account/explain_resource_paused_reason.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/management/commands/rebill_historical_usage.py
  src/waldur_mastermind/marketplace/migrations/0304_resource_paused_by_grace_period.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_grace_period_pause.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/policy/apps.py
  src/waldur_mastermind/policy/policy_actions.py
  src/waldur_mastermind/policy/tasks.py
  src/waldur_mastermind/policy/tests/test_slurm_celery_policy_evaluation.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/notifications.md
  docs/admin/scheduled.md
  docs/admin/templates.md
  docs/events.md
  docs/handlers.md
  docs/marketplace_provision.mmd
  docs/mixins.md
Due: none

Gate credit-funded cost policies on the live credit balance [#650]
  src/waldur_mastermind/invoices/compensations.py
  src/waldur_mastermind/marketplace/management/commands/rebill_historical_usage.py
  src/waldur_mastermind/marketplace/tests/test_rebill_historical_usage_policy_preview.py
  src/waldur_mastermind/policy/eta.py
  src/waldur_mastermind/policy/models.py
  src/waldur_mastermind/policy/serializers.py
  src/waldur_mastermind/policy/tests/test_live_credit_balance.py
Due: Run unit tests, Run migration test

Make whoever may create a project's room an admin in it [#18]
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
Due: Run unit tests, Run migration test

Diagnose the appservice namespace, name the homeserver, log rejected homeserver calls [#656]
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_mastermind/matrix_chat/tests/test_appservice.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test
