Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Add user permission filtering to affected_resources_count [WAL-9808]
  src/waldur_mastermind/policy/serializers.py
  src/waldur_mastermind/policy/tests/test_policy.py
Due: Run unit tests, Run migration test

Add ProjectCredit audit logging, neutralize migration 0017
  src/waldur_core/logging/enums.py
  src/waldur_mastermind/invoices/apps.py
  src/waldur_mastermind/invoices/compensations.py
  src/waldur_mastermind/invoices/handlers.py
  src/waldur_mastermind/invoices/migrations/0017_safe_invoice_task_execution.py
  src/waldur_mastermind/invoices/tasks.py
  src/waldur_mastermind/invoices/tests/test_credits.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/events.md
  docs/handlers.md
Due: none

Add --include-events flag to export_structure command
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/tests/test_export_structure.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
Due: none

Fix N+1 query on /api/users/ endpoint
  src/waldur_core/structure/serializers.py
Due: Run unit tests, Run migration test

[WAL-9801] Fix AI Assistant persisting full message instead of partial on stop + Refactor code
  src/waldur_mastermind/chat/llm_streamer.py
  src/waldur_mastermind/chat/migrations/0006_threadsession_cancel_requested_at_and_more.py
  src/waldur_mastermind/chat/models.py
  src/waldur_mastermind/chat/tests/test_chat.py
  src/waldur_mastermind/chat/tests/test_persistence_rbac.py
  src/waldur_mastermind/chat/tests/test_streamer.py
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

Remove unnecessary feature for project end date mandatory
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

Fix EESSI catalog update using wrong version for per-catalog updates
  src/waldur_mastermind/marketplace/tasks.py
Due: Run unit tests, Run migration test

[WAL-9809] Fix AI assistant token usage counting
  src/waldur_mastermind/chat/llm_streamer.py
Due: Run unit tests, Run migration test

[WAL-9810] Enable AI-Assistant name and organization customization
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/chat/context_assembler.py
  src/waldur_mastermind/chat/prompts/assembly.py
  src/waldur_mastermind/chat/prompts/persona.py
  src/waldur_mastermind/chat/prompts/rejection.py
  src/waldur_mastermind/chat/prompts/scope_boundary.py
  src/waldur_mastermind/chat/prompts/tool_instructions.py
  src/waldur_mastermind/chat/tests/test_context_assembler.py
  src/waldur_mastermind/chat/tests/test_tools.py
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

feat: implement reporting and analytics endpoints for proposal statistics and add demo preset data
  src/waldur_mastermind/marketplace/demo_presets/presets/reporting.json
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_stats.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Fix Decimal * float TypeError in plan cost estimate [CSCS-2SQ]
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_order_estimate.py
Due: Run unit tests, Run migration test

Enforce email restrictions when creating invitations
  src/waldur_core/users/serializers.py
  src/waldur_core/users/tests/test_invitation.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/features.md
Due: none

Disable all notifications by default
  docker/rootfs/etc/waldur/notifications.json
  src/waldur_core/core/migrations/0027_notification_default_disabled.py
  src/waldur_core/core/models.py
  src/waldur_core/structure/management/commands/load_notifications.py
  src/waldur_core/structure/tests/factories.py
  src/waldur_core/structure/tests/test_notifications.py
Due: Run unit tests, Run migration test, Try building docker image

[WAL-9814] Fix offeringuser's usernames cleared on plugin options update
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/tests/test_handlers.py
Due: Run unit tests, Run migration test

Fix limit usage filtering by billing_period instead of date
  src/waldur_core/structure/tests/test_customer.py
  src/waldur_core/structure/utils.py
  src/waldur_mastermind/marketplace/management/commands/backfill_plan_periods.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_limit_usage_billing_period.py
Due: Run unit tests, Run migration test

Fix ComponentUsage duplicates caused by plan_period mismatch
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Fix software catalog settings group names to match frontend tabs
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/policy/tests/test_slurm_periodic_policy_api.py
Due: Run unit tests, Run migration test

Add bulk article code update API for staff users
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_article_code_update.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/policy/tests/test_slurm_periodic_policy_api.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

[WAL-9819] Optimize user lookup during SSH key sync
  src/waldur_auth_social/tasks.py
  src/waldur_auth_social/tests/test_ssh_key_sync.py
Due: Run unit tests, Run migration test

Add feature toggle to conceal pending provider orders
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/features.md
Due: none

Escape user input in GLauth TOML config to prevent parse errors
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_offering_user.py
Due: Run unit tests, Run migration test

Debounce cost policy evaluation to prevent false triggers at month boundaries
  src/waldur_core/server/test_settings.py
  src/waldur_core/server/test_settings_local.py
  src/waldur_mastermind/policy/extension.py
  src/waldur_mastermind/policy/handlers.py
  src/waldur_mastermind/policy/tests/test_cost_policy_month_boundary.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/scheduled.md
Due: none

fix: wrap asynchronous task execution in transaction.on_commit to ensure database consistency
  src/waldur_core/core/executors.py
Due: Run unit tests, Run migration test

refactor: migrate test classes from APITestCase to APITransactionTestCase
  src/waldur_mastermind/marketplace_openstack/tests/utils.py
  src/waldur_mastermind/marketplace_rancher/tests/test_cluster_lb_ip.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_resources.py
  src/waldur_openstack/tests/test_router.py
Due: Run unit tests, Run migration test

[Bugfix] Add normalization to oidc claim parsing
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/utils.py
Due: Run unit tests, Run migration test

refactor: force celery task discovery and raise exception for missing tasks in print_scheduled_jobs command
  src/waldur_core/core/management/commands/print_scheduled_jobs.py
Due: Run unit tests, Run migration test

Increase TransactionTestCase limit to address latest changes
  .gitlab-ci.yml
Due: none

refactor: migrate BaseOpenStackTest to APITestCase and update TenantCreateTest base classes
  src/waldur_mastermind/marketplace_openstack/tests/utils.py
  src/waldur_openstack/tests/test_tenant.py
Due: Run unit tests, Run migration test

Edit test_tenant.py
  src/waldur_openstack/tests/test_tenant.py
Due: Run unit tests, Run migration test

Account for available project/customer credit in cost policy evaluation
  src/waldur_mastermind/policy/models.py
  src/waldur_mastermind/policy/tests/test_credit_aware_policy.py
Due: Run unit tests, Run migration test

[WAL-9818] Add constance setting for the OIDC_BLOCK_CREATION_OF_UNINVITED_USERS response message
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/utils.py
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

feat: add resource_attributes filter to marketplace resources endpoint
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/tests/test_filters.py
  src/waldur_openportal/tests/test_handlers.py
Due: Run unit tests, Run migration test

Unify limit_usage calculation between panel display and policy enforcement
  src/waldur_core/structure/tests/test_customer.py
  src/waldur_core/structure/tests/test_project.py
  src/waldur_core/structure/utils.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_current_usages_integration.py
  src/waldur_mastermind/marketplace/tests/test_limit_usage_billing_period.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_openportal/handlers.py
  src/waldur_mastermind/marketplace_openportal_remote/handlers.py
  src/waldur_mastermind/marketplace_openstack/utils.py
  src/waldur_mastermind/marketplace_slurm/handlers.py
  src/waldur_mastermind/policy/models.py
Due: Run unit tests, Run migration test
