Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Expose project start date on marketplace provider resources
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
Due: Run unit tests, Run migration test

Offer no statuses on a provider-routed issue [waldur/waldur-homeport#103]
  src/waldur_mastermind/support/serializers.py
  src/waldur_mastermind/support/tests/test_issue_set_status.py
Due: Run unit tests, Run migration test

Restrict the support statistics to support and providers [waldur/waldur-homeport#103]
  src/waldur_mastermind/support/tests/test_issue_set_status.py
  src/waldur_mastermind/support/views.py
Due: Run unit tests, Run migration test

Notify staff when a ticket arrives on the built-in service desk
  docs/admin/notifications.md
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/support/apps.py
  src/waldur_mastermind/support/handlers.py
  src/waldur_mastermind/support/tasks.py
  src/waldur_mastermind/support/templates/support/notification_issue_created_message.html
  src/waldur_mastermind/support/templates/support/notification_issue_created_message.txt
  src/waldur_mastermind/support/templates/support/notification_issue_created_subject.txt
  src/waldur_mastermind/support/tests/test_issue_created_notification.py
Due: Run unit tests, Run migration test

Say that an empty credit offering list means every offering [#337]
  src/waldur_mastermind/invoices/migrations/0031_credit_offerings_help_text.py
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/invoices/serializers.py
Due: Run unit tests, Run migration test

Send the support notifications that never fire, and unbreak an unconfigured Zammad
  docs/admin/notifications.md
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/support/backend/zammad_utils.py
  src/waldur_mastermind/support/tasks.py
  src/waldur_mastermind/support/templates/support/notification_issue_escalated_message.html
  src/waldur_mastermind/support/templates/support/notification_issue_escalated_message.txt
  src/waldur_mastermind/support/templates/support/notification_issue_escalated_subject.txt
  src/waldur_mastermind/support/tests/test_issue_created_notification.py
  src/waldur_mastermind/support/tests/test_unconfigured_backend.py
Due: Run unit tests, Run migration test

Report when a cost policy will fire (eta_days) [#332]
  src/waldur_mastermind/policy/eta.py
  src/waldur_mastermind/policy/models.py
  src/waldur_mastermind/policy/serializers.py
  src/waldur_mastermind/policy/tests/test_cost_policy_eta.py
  src/waldur_mastermind/policy/tests/test_eta_scenarios.py
Due: Run unit tests, Run migration test

Expand docs to include the public maintenance announcements info
  docs/maintenance-announcement.md
Due: none

Publish the cost-policy ETA contract in the schema [#338]
  src/waldur_mastermind/policy/serializers.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/templates.md
  docs/handlers.md
Due: none

Bump djangorestframework to 3.18.0 to fix two known vulnerabilities
  src/waldur_core/logging/tests/test_hooks.py
  uv.lock
Due: Run unit tests, Run migration test

Support Nova instance metadata [#190]
  docs/events.md
  src/waldur_core/logging/enums.py
  src/waldur_mastermind/marketplace_openstack/processors.py
  src/waldur_mastermind/marketplace_openstack/tests/test_order.py
  src/waldur_openstack/backend.py
  src/waldur_openstack/executors.py
  src/waldur_openstack/migrations/0082_instance_metadata.py
  src/waldur_openstack/models.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_action_event_types.py
  src/waldur_openstack/tests/test_backend.py
  src/waldur_openstack/tests/test_instance.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Rewrite the VMware backend on pyVmomi and validate it against vcsim [#283]
  .gitlab-ci.yml
  conftest.py
  docker/vcsim-dev/docker-compose.yml
  pyproject.toml
  src/waldur_vmware/backend.py
  src/waldur_vmware/client.py
  src/waldur_vmware/serializers.py
  src/waldur_vmware/tests/conftest.py
  src/waldur_vmware/tests/test_backend_units.py
  src/waldur_vmware/tests/test_cluster.py
  src/waldur_vmware/tests/test_datastore.py
  src/waldur_vmware/tests/test_network.py
  src/waldur_vmware/tests/test_template.py
  src/waldur_vmware/tests/test_vcsim_lifecycle.py
  src/waldur_vmware/tests/test_vcsim_pull.py
  src/waldur_vmware/tests/test_vim_utils.py
  src/waldur_vmware/tests/test_vm.py
  src/waldur_vmware/tests/vcsim.py
  src/waldur_vmware/vim_utils.py
  uv.lock
Due: Run unit tests, Run migration test, Try building docker image

Grant RESOURCE.SET_END_DATE to OFFERING.MANAGER [#318]
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
Due: Run unit tests, Run migration test, Try building docker image

Refuse plans and pricing on offerings that are not charged
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_plan_discount.py
  src/waldur_mastermind/marketplace/tests/test_plans.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Run linters from the shared prek template [#343]
  .gitlab-ci.yml
Due: none

Limit the plan guard to child offerings
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_plans.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Drop the pinned waldur-pipelines ref from the linters include [#343]
  .gitlab-ci.yml
Due: none

Remove the dead UWSGI_SOCKET default from the image entrypoint [#345]
  docker/rootfs/app-entrypoint.sh
Due: Try building docker image

Advertise only the event groups a deployment can emit [#340]
  src/waldur_core/core/apps.py
  src/waldur_core/core/views.py
  src/waldur_core/logging/apps.py
  src/waldur_core/logging/availability.py
  src/waldur_core/logging/checks.py
  src/waldur_core/logging/enums.py
  src/waldur_core/logging/migrations/0028_split_openstack_resource_event_groups.py
  src/waldur_core/logging/tests/test_availability.py
  src/waldur_core/logging/tests/test_events_stats.py
  src/waldur_core/logging/tests/test_openstack_resources_migration.py
  src/waldur_core/logging/views.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_openstack/tests/test_event_groups.py
Due: Run unit tests, Run migration test

Address ToS consent filtering gaps in compliance viewset and glauth
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Skip volume resource handler on unrelated marketplace resource saves
  src/waldur_mastermind/marketplace_openstack/handlers.py
  src/waldur_mastermind/marketplace_openstack/tests/test_order.py
Due: Run unit tests, Run migration test

[WAL-7819] Unblock OpenStack VM termination by auto-cleaning backups/snapshots [WAL-7819]
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_openstack/processors.py
  src/waldur_mastermind/marketplace_openstack/tests/test_order.py
  src/waldur_mastermind/marketplace_openstack/utils.py
  src/waldur_mastermind/marketplace_rancher/processors.py
  src/waldur_mastermind/policy/policy_actions.py
  src/waldur_mastermind/policy/tests/test_actions.py
  src/waldur_openstack/executors.py
  src/waldur_openstack/tasks.py
  src/waldur_openstack/tests/test_instance.py
  src/waldur_openstack/views.py
  src/waldur_rancher/tasks.py
  src/waldur_rancher/tests/test_cluster.py
  src/waldur_rancher/validators.py
  src/waldur_rancher/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/events.md
  docs/handlers.md
Due: none

Coerce fractional limits to Decimal in total-period billing [#349]
  src/waldur_mastermind/marketplace/billing_limit.py
  src/waldur_mastermind/marketplace/tests/test_invoice.py
Due: Run unit tests, Run migration test

Guard organization-scoped role clone integrity [#316]
  src/waldur_core/permissions/fixtures.py
  src/waldur_core/permissions/serializers.py
  src/waldur_core/permissions/tests/test_org_scoped_roles.py
  src/waldur_core/permissions/tests/test_utils.py
  src/waldur_core/permissions/utils.py
Due: Run unit tests, Run migration test

Fold the user-action queue into the dashboard feed [#339]
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_dashboard.py
  src/waldur_core/structure/views.py
  src/waldur_core/user_actions/providers.py
  src/waldur_core/user_actions/user_actions.py
Due: Run unit tests, Run migration test

Add api-auth/default/init/ to start login with the DEFAULT_IDP provider [#353]
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/urls.py
  src/waldur_auth_social/views.py
Due: Run unit tests, Run migration test

Depend squashes only on what their replaced range depends on [#354]
  .claude/agents/squash-migrations.md
  .gitlab-ci.yml
  scripts/squash_migrations.py
  src/waldur_auth_social/migrations/0001_squashed_0015.py
  src/waldur_autoprovisioning/migrations/0001_squashed_0009.py
  src/waldur_core/core/migration_operations.py
  src/waldur_core/core/migrations/0002_alter_user_username_squashed_0013_alter_user_phone_number.py
  src/waldur_core/core/migrations/0014_squashed_0014_0024.py
  src/waldur_core/core/migrations/0033_squashed_0045.py
  src/waldur_core/core/tests/test_migrate_fresh.py
  src/waldur_core/logging/migrations/0001_squashed_0026.py
  src/waldur_core/permissions/migrations/0001_squashed_0026.py
  src/waldur_core/permissions/migrations/0014_unify_log.py
  src/waldur_core/structure/migrations/0041_squashed_0085.py
  src/waldur_core/users/migrations/0001_squashed_0025.py
  src/waldur_core/users/migrations/0010_clean_duplicate_profile_changed_logs.py
  src/waldur_freeipa/migrations/0001_squashed_0005.py
  src/waldur_mastermind/chat/migrations/0001_squashed_0018.py
  src/waldur_mastermind/invoices/migrations/0002_invoiceitem_backend_uuid_squashed_0012_invoice_events.py
  src/waldur_mastermind/invoices/migrations/0020_squashed_0030.py
  src/waldur_mastermind/marketplace/migrations/0077_squashed_0104.py
  src/waldur_mastermind/marketplace/migrations/0108_squashed_0131.py
  src/waldur_mastermind/marketplace/migrations/0132_squashed_0132_0179.py
  src/waldur_mastermind/marketplace/migrations/0180_squashed_0225.py
  src/waldur_mastermind/marketplace/migrations/0226_squashed_0263.py
  src/waldur_mastermind/marketplace/migrations/0264_squashed_0279.py
  src/waldur_mastermind/marketplace_openstack/migrations/0001_squashed_0019.py
  src/waldur_mastermind/notifications/migrations/0001_squashed_0009.py
  src/waldur_mastermind/policy/migrations/0001_initial_squashed_0010_customerestimatedcostpolicy_options_and_more.py
  src/waldur_mastermind/proposal/migrations/0001_squashed_0074.py
  src/waldur_mastermind/proposal/migrations/0078_call_slug_index_and_default.py
  src/waldur_mastermind/proposal/tests/test_migration_0078_call_slug.py
  src/waldur_mastermind/support/migrations/0001_squashed_0027.py
  src/waldur_openstack/migrations/0037_squashed_0081.py
  src/waldur_openstack_tenant/migrations/0040_squashed_0041.py
  src/waldur_rancher/migrations/0001_squashed_0058.py
Due: Run unit tests, Run migration test

Type the pub/sub admin fields the frontend was guessing [#325]
  src/waldur_core/logging/enums.py
  src/waldur_core/logging/filters.py
  src/waldur_core/logging/serializers.py
  src/waldur_core/logging/tests/test_event_consumers_list.py
  src/waldur_core/logging/tests/test_rabbitmq_stats.py
  src/waldur_core/logging/views.py
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/marketplace_site_agent/serializers.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_agent_queue.py
  src/waldur_mastermind/marketplace_site_agent/views.py
Due: Run unit tests, Run migration test

Mark completed maintenance in announcement banner
  src/waldur_mastermind/marketplace/maintenance_utils.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_signals.py
Due: Run unit tests, Run migration test

Report and prune orphaned notification rows [#311]
  src/waldur_core/structure/management/commands/load_notifications.py
  src/waldur_core/structure/management/commands/print_notifications.py
  src/waldur_core/structure/tests/test_notifications.py
Due: Run unit tests, Run migration test

Make api-auth/default/init/ safe and cheap to probe [#353]
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/views.py
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test

Report a stored zero quota limit as zero instead of unlimited [#350]
  src/waldur_core/quotas/models.py
  src/waldur_core/quotas/tests/test_models.py
  src/waldur_mastermind/marketplace_openstack/tests/test_order.py
  src/waldur_mastermind/marketplace_openstack/tests/test_utils.py
  src/waldur_openstack/tests/test_executors.py
Due: Run unit tests, Run migration test

Add per-plan billing mode so one OpenStack offering can carry a limit plan and a usage plan [#346]
  src/waldur_core/logging/enums.py
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/chat/tools/marketplace/helpers.py
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/invoices/serializers.py
  src/waldur_mastermind/invoices/tests/test_limit_item_termination_units.py
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/billing.py
  src/waldur_mastermind/marketplace/billing_limit.py
  src/waldur_mastermind/marketplace/billing_mode.py
  src/waldur_mastermind/marketplace/billing_usage.py
  src/waldur_mastermind/marketplace/billing_utils.py
  src/waldur_mastermind/marketplace/callbacks.py
  src/waldur_mastermind/marketplace/demo_presets/presets/hpc_ai_platform.json
  src/waldur_mastermind/marketplace/demo_presets/presets/openstack_cloud.json
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/log.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/management/commands/rebill_historical_usage.py
  src/waldur_mastermind/marketplace/migrations/0281_plan_billing_mode.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/order_approval.py
  src/waldur_mastermind/marketplace/processors.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/templates/marketplace/marketplace_resource_update_succeeded_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/marketplace_resource_update_succeeded_message.txt
  src/waldur_mastermind/marketplace/templatetags/waldur_marketplace.py
  src/waldur_mastermind/marketplace/tests/test_billing_mode.py
  src/waldur_mastermind/marketplace/tests/test_plan_switch_billing_mode.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_openstack/processors.py
  src/waldur_mastermind/marketplace_openstack/utils.py
  src/waldur_mastermind/marketplace_support/utils.py
  src/waldur_openstack/tasks.py
Due: Run unit tests, Run migration test

Renumber the plan billing mode migration onto the squash-repair leaf [#346]
  src/waldur_mastermind/marketplace/migrations/0282_plan_billing_mode.py
Due: Run unit tests, Run migration test

Cache vCenter sessions per process rather than per backend [#313]
  src/waldur_vmware/apps.py
  src/waldur_vmware/backend.py
  src/waldur_vmware/client.py
  src/waldur_vmware/sessions.py
  src/waldur_vmware/tests/conftest.py
  src/waldur_vmware/tests/test_sessions.py
  src/waldur_vmware/tests/test_vcsim_pull.py
  src/waldur_vmware/tests/test_vm.py
  src/waldur_vmware/tests/vcsim.py
Due: Run unit tests, Run migration test

Install the image from the lock, and stop re-resolving after it [#359]
  docker_build.sh
  pyproject.toml
  uv.lock
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/notifications.md
  docs/admin/templates.md
  docs/marketplace_provision.mmd
  docs/mixins.md
Due: none
