Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Group resource permissions by provider and consumer [WAL-7756]
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/core/management/commands/print_permissions_description.py
  src/waldur_core/permissions/enums.py
Due: Run unit tests, Run migration test, Try building docker image

Sync ports after tenant replication [WAL-7717]
  src/waldur_openstack_replication/executors.py
Due: Run unit tests, Run migration test

Expose offering slug in offering permissions
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Update external address on floating IP creation
  src/waldur_mastermind/marketplace_openstack/handlers.py
Due: Run unit tests, Run migration test

Revert "Update external address on floating IP creation"
  src/waldur_mastermind/marketplace_openstack/handlers.py
Due: Run unit tests, Run migration test

Improve handlers for estimated cost policies
  src/waldur_mastermind/policy/handlers.py
Due: Run unit tests, Run migration test

Update resetting of policy actions
  src/waldur_mastermind/policy/utils.py
Due: Run unit tests, Run migration test

Update external addresses when floating IP has been created.
  src/waldur_mastermind/marketplace_openstack/handlers.py
  src/waldur_mastermind/marketplace_openstack/utils.py
Due: Run unit tests, Run migration test

Add more granular provider permissions [WAL-7756]
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/enums.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test, Try building docker image

Allow service provider manager to create and delete offering.
  docker/rootfs/etc/waldur/permissions.yaml
Due: Try building docker image

Handle deletion of ServiceSettings on deletion of Openstack Offering [WAL-7764]
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
Due: Run unit tests, Run migration test

Introduce list permissions.
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/enums.py
  src/waldur_core/structure/managers.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/tests/fixtures.py
  src/waldur_core/structure/tests/test_customer.py
  src/waldur_core/structure/tests/test_project.py
  src/waldur_core/structure/tests/test_project_permissions.py
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_digitalocean/tests/test_provision.py
  src/waldur_mastermind/marketplace/models.py
Due: Run unit tests, Run migration test, Try building docker image

Drop stale volume types [WAL-7763]
  src/waldur_openstack/backend.py
Due: Run unit tests, Run migration test

Skip component processing if it is not found [WAL-7773]
  src/waldur_mastermind/marketplace/registrators.py
Due: Run unit tests, Run migration test

[WAL-7753] Introduce feature toggle for user reviews
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

[WAL-6439] Add replica helm db router
  src/waldur_core/core/database_routers.py
Due: Run unit tests, Run migration test

Extend permissions for service manager role [WAL-7756]
  Dockerfile
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/enums.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/tests/fixtures.py
  src/waldur_core/users/filters.py
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_remote/tests/test_order.py
  src/waldur_mastermind/marketplace_script/views.py
Due: Run unit tests, Run migration test, Try building docker image

Improve caching function
  src/waldur_mastermind/invoices/models.py
Due: Run unit tests, Run migration test

[WAL-7715] Creating support tickets on project team changes.
  src/waldur_core/permissions/models.py
  src/waldur_mastermind/marketplace_support/apps.py
  src/waldur_mastermind/marketplace_support/handlers.py
  src/waldur_mastermind/marketplace_support/templates/marketplace_support/create_project_membership_update_issue.txt
  src/waldur_mastermind/marketplace_support/tests/test_create_issue_if_membership_changed.py
  src/waldur_mastermind/marketplace_support/utils.py
Due: Run unit tests, Run migration test

Enhance OIDC integration with optional PKCE support [WAL-6306]
  src/waldur_auth_social/migrations/0007_identityprovider_enable_pkce.py
  src/waldur_auth_social/models.py
  src/waldur_auth_social/urls.py
  src/waldur_auth_social/views.py
  src/waldur_core/core/views.py
  src/waldur_core/server/__init__.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/celery_app.py
  src/waldur_mastermind/support/management/commands/status.py
Due: Run unit tests, Run migration test

Fix order processing task
  src/waldur_mastermind/marketplace/tasks.py
Due: Run unit tests, Run migration test

[WAL-7410] Open up growth reporting for non-global users
  src/waldur_mastermind/invoices/tests/test_growth.py
  src/waldur_mastermind/invoices/views.py
Due: Run unit tests, Run migration test

Avoid LRU cache for creation order because it is not invalidated correctly.
  src/waldur_mastermind/marketplace/models.py
Due: Run unit tests, Run migration test

Optimize MonthlyCompensation
  src/waldur_mastermind/invoices/compensations.py
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/invoices/tasks.py
  src/waldur_mastermind/invoices/tests/test_credits.py
  src/waldur_mastermind/invoices/utils.py
  src/waldur_mastermind/invoices/views.py
  src/waldur_mastermind/policy/models.py
Due: Run unit tests, Run migration test

Allow project roles to list projects.
  docker/rootfs/etc/waldur/permissions.yaml
Due: Try building docker image

[WAL-7791] Add filter for user check to aggregate usage and limits stats
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Add default permissions for Project.Member role
  docker/rootfs/etc/waldur/permissions.yaml
Due: Try building docker image

Revert change of completion endpoint
  src/waldur_auth_social/urls.py
Due: Run unit tests, Run migration test

Revert "Revert change of completion endpoint"
  src/waldur_auth_social/urls.py
Due: Run unit tests, Run migration test

Revert "Merge branch 'feature/WAL-6306' into 'develop'"
  src/waldur_auth_social/migrations/0007_identityprovider_enable_pkce.py
  src/waldur_auth_social/models.py
  src/waldur_auth_social/urls.py
  src/waldur_auth_social/views.py
  src/waldur_core/core/views.py
  src/waldur_core/server/__init__.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/celery.py
  src/waldur_mastermind/support/management/commands/status.py
Due: Run unit tests, Run migration test

Restore migration
  src/waldur_auth_social/migrations/0007_identityprovider_enable_pkce.py
Due: Run unit tests, Run migration test

Update models.py
  src/waldur_auth_social/models.py
Due: Run unit tests, Run migration test

[WAL-7411] Open up BaseQuotasViewSet to non-staff users
  src/waldur_mastermind/analytics/tests/test_customer_quotas.py
  src/waldur_mastermind/analytics/tests/test_project_quotas.py
  src/waldur_mastermind/analytics/views.py
Due: Run unit tests, Run migration test

Revoke also inactive permissions on deadline
  src/waldur_core/permissions/tasks.py
Due: Run unit tests, Run migration test

Fix volume type pull
  src/waldur_openstack/backend.py
Due: Run unit tests, Run migration test

Refactor setting of default MTU for openstack network
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace_openstack/handlers.py
  src/waldur_mastermind/marketplace_openstack/processors.py
  src/waldur_mastermind/marketplace_openstack/serializers.py
  src/waldur_mastermind/marketplace_openstack/tests/test_network.py
  src/waldur_openstack/serializers.py
Due: Run unit tests, Run migration test

[WAL-7815] Removal of cost policies should trigger recalculation of policies
  src/waldur_mastermind/policy/apps.py
  src/waldur_mastermind/policy/handlers.py
  src/waldur_mastermind/policy/tests/test_handlers.py
Due: Run unit tests, Run migration test

Enhance OIDC integration with optional PKCE support [WAL-6306]
  src/waldur_auth_social/urls.py
  src/waldur_auth_social/views.py
Due: Run unit tests, Run migration test

[WAL-7155] Switching to alpine base image for Docker
  Dockerfile
  docker/rootfs/etc/nginx/http.d/mastermind.conf
  docker/rootfs/usr/local/bin/mastermind
Due: Try building docker image

Fix resource offering view.
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test
