Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Bump cryptography to 48.0.1 and aiohttp to 3.14.1 to fix OSV vulnerabilities
  pyproject.toml
  uv.lock
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

Expose project metadata checklist answers in project serializer
  src/waldur_core/checklist/utils.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_project_metadata_exposure.py
  src/waldur_mastermind/marketplace/tests/test_service_provider_project_metadata.py
Due: Run unit tests, Run migration test

[WAL-10048] Expose user avatar images in chat, proposal review and support comment serializers
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/views.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/support/serializers.py
Due: Run unit tests, Run migration test

[WAL-9818] Show OIDC uninvited-user block message on login page
  src/waldur_auth_social/exceptions.py
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/utils.py
  src/waldur_auth_social/views.py
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Support-assistant validation harness + credit/compensation tools
  scripts/README_support_validation.md
  scripts/_llm_tracer.py
  scripts/generate_realistic_credit_preset.py
  scripts/support_validation_run.py
  src/waldur_core/server/support_validation_settings.py
  src/waldur_mastermind/chat/block_schemas.py
  src/waldur_mastermind/chat/llm_streamer.py
  src/waldur_mastermind/chat/prompts/tool_instructions.py
  src/waldur_mastermind/chat/tests/test_block_cleaning.py
  src/waldur_mastermind/chat/tests/test_evaluators_credit.py
  src/waldur_mastermind/chat/tests/test_explain_invoice_compensations.py
  src/waldur_mastermind/chat/tests/test_explain_project_credit_balance.py
  src/waldur_mastermind/chat/tests/test_explain_resource_paused_reason.py
  src/waldur_mastermind/chat/tests/test_get_customer_credit_overview.py
  src/waldur_mastermind/chat/tests/test_list_overdrawn_projects.py
  src/waldur_mastermind/chat/tests/test_tools.py
  src/waldur_mastermind/chat/tools/account/__init__.py
  src/waldur_mastermind/chat/tools/account/explain_invoice_compensations.py
  src/waldur_mastermind/chat/tools/account/explain_project_credit_balance.py
  src/waldur_mastermind/chat/tools/account/explain_resource_paused_reason.py
  src/waldur_mastermind/chat/tools/account/get_customer_credit_overview.py
  src/waldur_mastermind/chat/tools/account/helpers.py
  src/waldur_mastermind/chat/tools/account/list_overdrawn_projects.py
  src/waldur_mastermind/chat/tools/enums.py
  src/waldur_mastermind/chat/tools/tool_sets.py
  src/waldur_mastermind/chat/validation/evaluators.py
  src/waldur_mastermind/chat/validation/scenarios.py
  src/waldur_mastermind/chat/validation_scenarios/support_compensations.yaml
  src/waldur_mastermind/chat/validation_scenarios/support_credits.yaml
  src/waldur_mastermind/chat/validation_scenarios/support_resource_state.yaml
  src/waldur_mastermind/chat/validation_scenarios/support_sessions.yaml
  src/waldur_mastermind/marketplace/demo_presets/presets/credit_realistic.json
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
Due: Run unit tests, Run migration test

Bump msgpack to 1.2.1 to fix GHSA-6v7p-g79w-8964
  uv.lock
Due: none

Downgrade integration-agent permission denial to warning with context
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Reduce process memory footprint + add memory profiling harness
  .gitlab-ci.yml
  CLAUDE.md
  Dockerfile
  docker/rootfs/etc/waldur/gunicorn.conf.py
  pyproject.toml
  scripts/measure_runtime_memory.py
  scripts/measure_startup_memory.py
  scripts/memory_profiles/.gitignore
  scripts/plot_memory_comparison.py
  src/waldur_azure/backend.py
  src/waldur_azure/client.py
  src/waldur_core/checklist/models.py
  src/waldur_core/media/storage.py
  src/waldur_core/media/utils.py
  src/waldur_core/media/validators.py
  src/waldur_core/server/celery_settings.py
  src/waldur_kubernetes/backend.py
  src/waldur_mastermind/marketplace_rancher/handlers.py
  src/waldur_mastermind/marketplace_script/utils.py
  src/waldur_rancher/tasks.py
  src/waldur_vmware/backend.py
  uv.lock
Due: Run unit tests, Run migration test, Try building docker image

Fix lost-update race in periodic usage policy evaluation [WAL-10058]
  docs/guides/slurm-periodic-usage-policy-configuration.md
  src/waldur_mastermind/policy/tasks.py
  src/waldur_mastermind/policy/tests/test_slurm_celery_policy_evaluation.py
Due: Run unit tests, Run migration test

Add User.affiliation_vat_code field
  src/waldur_auth_social/const.py
  src/waldur_core/core/migrations/0036_user_organization_vat_code.py
  src/waldur_core/core/models.py
  src/waldur_core/core/tests/test_user_attributes.py
  src/waldur_core/core/user_attributes.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_user.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/migrations/0243_offeringuserattributeconfig_expose_organization_vat_code.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/proposal/migrations/0058_callapplicantvisibilityconfig_expose_organization_vat_code.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_applicant_visibility.py
Due: Run unit tests, Run migration test

Fix offering thumbnail import overflowing varchar(100)
  src/waldur_mastermind/marketplace/management/commands/import_offering.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
Due: Run unit tests, Run migration test

[WAL-10056] Allow service provider to update offering when management is enabled
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Expose coverage.xml as downloadable pipeline artifact
  tests/generate-pipeline.sh
Due: none

Disable psycopg3 prepared statements on Django DB connections [WAL-10057]
  docker/rootfs/etc/waldur/settings.py
Due: Try building docker image

Skip remote offering pull when backend_id is empty [WAL-10060]
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_offerings.py
Due: Run unit tests, Run migration test

Add organization_vat_code to service provider user serializer
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Never reset SLURM raw usage for single-shot offerings [HPCMP-495]
  src/waldur_mastermind/policy/models.py
  src/waldur_mastermind/policy/tests/test_raw_usage_reset_gating.py
Due: Run unit tests, Run migration test

Add User.organization_address field
  src/waldur_auth_social/const.py
  src/waldur_core/core/migrations/0037_user_organization_address.py
  src/waldur_core/core/models.py
  src/waldur_core/core/tests/test_user_attributes.py
  src/waldur_core/core/user_attributes.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_user.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/migrations/0244_offeringuserattributeconfig_expose_organization_address.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/proposal/migrations/0059_callapplicantvisibilityconfig_expose_organization_address.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_applicant_visibility.py
Due: Run unit tests, Run migration test

Add per-offering role restriction for marketplace offerings
  docs/offering-visibility.md
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/tests/test_role_filters.py
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_restricted_offering.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Improve error message for course account bulk creation
  src/waldur_mastermind/marketplace/tasks.py
Due: Run unit tests, Run migration test

Return expired and canceled invitation details to invitees
  src/waldur_core/users/filters.py
  src/waldur_core/users/tests/test_invitation.py
Due: Run unit tests, Run migration test

Expose ip_address in OpenStack port allowed_address_pairs read schema [WAL-10068]
  src/waldur_openstack/serializers.py
Due: Run unit tests, Run migration test

Fix 500 on project create when description exceeds limit after HTML clean
  src/waldur_core/core/serializers.py
  src/waldur_core/core/tests/test_serializers.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_project.py
Due: Run unit tests, Run migration test

Document account name policy vs resource slug template conflict [WAL-9925]
  docs/core-concepts/offering.md
Due: none

Reject disabling port security when allowed address pairs are set
  src/waldur_openstack/tests/test_port_audit.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Fix double counter in resource slug generation under churn [WAL-9925]
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
Due: Run unit tests, Run migration test

Expose historical user roles for staff/support lookup [WAL-10031]
  src/waldur_core/permissions/filters.py
  src/waldur_core/permissions/migrations/0022_userrole_revoke_reason_userrole_revoked_by.py
  src/waldur_core/permissions/models.py
  src/waldur_core/permissions/serializers.py
  src/waldur_core/permissions/tests/test_historical_roles.py
  src/waldur_core/permissions/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/core_permissions.mmd
Due: none

Fix extract_error_details_from_httpx_error crash on transport-level errors
  src/waldur_mastermind/marketplace/tests/test_course_accounts.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Refactor GLAuth TOML config generation to use tomli-w
  pyproject.toml
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_offering_user.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_robot_account.py
  uv.lock
Due: Run unit tests, Run migration test

Allow reporting and backfilling usage for prepaid components [WAL-10071]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
Due: Run unit tests, Run migration test

[WAL-10070] Auto start and complete scheduled maintenance announcements
  src/waldur_mastermind/marketplace/extension.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_automation.py
Due: Run unit tests, Run migration test

Apply preset quota limits and usages on tenant import [WAL-9951]
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/scheduled.md
Due: none

fixing missing User-Agent
  src/waldur_openstack/session.py
Due: Run unit tests, Run migration test

Set explicit User-Agent on Placement client requests
  src/waldur_openstack/session.py
Due: Run unit tests, Run migration test

Fix whitelabeling icon URLs using internal host from cached configuration
  src/waldur_core/core/logos.py
  src/waldur_core/core/tests/test_public_settings.py
  src/waldur_core/core/views.py
Due: Run unit tests, Run migration test
