Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Fix template
  src/waldur_core/structure/notifications.py
Due: Run unit tests, Run migration test

Refactor
  src/waldur_mastermind/policy/models.py
  src/waldur_mastermind/policy/tests/test_slurm_celery_policy_evaluation.py
  src/waldur_mastermind/policy/tests/test_slurm_periodic_policy_basic.py
  src/waldur_mastermind/policy/tests/test_slurm_periodic_policy_stomp.py
  src/waldur_mastermind/policy/tests/test_slurm_periodic_policy_stomp_simple.py
  src/waldur_mastermind/policy/tests/test_slurm_periodic_usage_actions.py
  src/waldur_mastermind/policy/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/admin/notifications.md
  docs/admin/scheduled.md
  docs/admin/templates.md
  docs/handlers.md
Due: none

Add tracking of db growth
  src/waldur_core/core/serializers.py
  src/waldur_core/core/tasks.py
  src/waldur_core/core/templates/core/table_growth_alert_message.html
  src/waldur_core/core/templates/core/table_growth_alert_message.txt
  src/waldur_core/core/templates/core/table_growth_alert_subject.txt
  src/waldur_core/core/tests/test_table_growth.py
  src/waldur_core/core/views.py
  src/waldur_core/server/celery_settings.py
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/marketplace/demo_presets/presets/hpc_ai_platform.json
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_site_agent_config.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/scheduled.md
  docs/admin/templates.md
Due: none

Update openstack documentation
  docs/admin/table-growth-monitoring.md
  docs/plugins/openstack.md
Due: none

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/admin/scheduled.md
Due: none

Fix migrations
  docs/plugins/openstack.md
  src/waldur_mastermind/policy/migrations/0014_slurmpolicyevaluationlog_slurmcommandhistory.py
Due: Run unit tests, Run migration test

Fix serialier
  src/waldur_core/structure/serializers.py
Due: Run unit tests, Run migration test

Fix RabbitMQ host resolution in initdb for Docker Compose
  docker/rootfs/usr/local/bin/initdb
Due: Try building docker image

[WAL-1961] Audit log should include events related to aggregate components.
  src/waldur_openstack/tests/unittests/test_backend.py
Due: Run unit tests, Run migration test

Don't use bulk create API in create OpenStack network flow
  src/waldur_openstack/backend.py
Due: Run unit tests, Run migration test

Don't use bulk API for subnet create in OpenStack
  src/waldur_openstack/backend.py
Due: Run unit tests, Run migration test

Handle case where network is None in TenantCreateErrorTask
  src/waldur_openstack/tasks.py
Due: Run unit tests, Run migration test

Fix migrations
  src/waldur_mastermind/marketplace/migrations/0182_order_attachment_order_request_comment.py
Due: Run unit tests, Run migration test

Add set_erred and set_ok staff-only actions to ResourceViewSet and RouterViewSet
  docs/guides/resource-actions.md
  docs/plugins/openstack.md
  docs/project-lifecycle.md
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
  src/waldur_openstack/tests/test_set_erred.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/templates.md
Due: none

Fix broken 0014_slurmpolicyevaluationlog_slurmcommandhistory migration
  src/waldur_mastermind/policy/migrations/0014_slurmpolicyevaluationlog_slurmcommandhistory.py
Due: Run unit tests, Run migration test

[WAL-9465] Use QuestionWithAnswerSerializer for onboarding checklists to fetch question conditions
  src/waldur_core/onboarding/views.py
Due: Run unit tests, Run migration test

Fix TransitionNotAllowed when saving OfferingUser in DELETED state [PUHURI-PORTALS-EK7]
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_offering_user_freeipa_state_bug.py
Due: Run unit tests, Run migration test

Reject usage updates on finalized invoices [HPCMP-412]
  src/waldur_mastermind/marketplace/billing_usage.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
Due: Run unit tests, Run migration test

Fix invoice generation for annual billing
  src/waldur_mastermind/marketplace/billing_limit.py
  src/waldur_mastermind/marketplace/tests/test_invoice.py
Due: Run unit tests, Run migration test

Allow exposing registration_method in offering serializer by default
  src/waldur_mastermind/marketplace/models.py
Due: Run unit tests, Run migration test

Add missing migration
  src/waldur_mastermind/marketplace/migrations/0204_offeringuserattributeconfig_expose_registration_method.py
Due: Run unit tests, Run migration test

[Feature] Refactor SCIM to use offering user usernames for entitlements
  src/waldur_core/users/scim/tasks.py
  src/waldur_core/users/tests/test_scim_tasks.py
Due: Run unit tests, Run migration test

Fix quarterly/annual limit changes creating duplicate invoice items
  docs/guides/billing-and-invoicing.md
  src/waldur_mastermind/marketplace/billing_limit.py
  src/waldur_mastermind/marketplace/tests/test_invoice.py
Due: Run unit tests, Run migration test

Fix N+1 queries on marketplace orders list endpoint [PUHURI-PORTALS-DWX]
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

[Feature ] Allow export/import/cleanup of software catalogues
  src/waldur_mastermind/marketplace/management/commands/cleanup_structure.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_export_structure.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
Due: Run unit tests, Run migration test

Add discovery support + openstack extnet
  src/waldur_mastermind/marketplace_openstack/utils.py
  src/waldur_openstack/admin.py
  src/waldur_openstack/backend.py
  src/waldur_openstack/discovery_serializers.py
  src/waldur_openstack/discovery_views.py
  src/waldur_openstack/filters.py
  src/waldur_openstack/migrations/0064_external_network_models.py
  src/waldur_openstack/migrations/0065_populate_external_network_refs.py
  src/waldur_openstack/models.py
  src/waldur_openstack/openstack_discovery.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/factories.py
  src/waldur_openstack/tests/test_external_network.py
  src/waldur_openstack/tests/test_openstack_discovery.py
  src/waldur_openstack/tests/test_openstack_discovery_api.py
  src/waldur_openstack/urls.py
  src/waldur_openstack/utils.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

[WAL-7349] Allow org owners in both orgs to move project
  src/waldur_core/structure/permissions.py
  src/waldur_core/structure/tests/test_project.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Fix undefined variable exception
  src/waldur_openstack/backend.py
Due: Run unit tests, Run migration test

Add filter to customers
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/tests/test_customer.py
Due: Run unit tests, Run migration test

Fix safer software catalog management [PUHURI-PORTALS-EF7]
  docs/admin/configuration-guide.md
  docs/guides/marketplace-software-catalogs.md
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/marketplace/catalog_loaders/__init__.py
  src/waldur_mastermind/marketplace/catalog_loaders/base.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_catalog_loaders.py
  src/waldur_mastermind/marketplace/tests/test_catalog_tasks.py
  src/waldur_mastermind/marketplace/tests/test_software_catalogs.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

Fix SLURM QoS not changing on downscaling [HPCMP-421]
  docs/guides/event-subscription-queues.md
  src/waldur_mastermind/policy/models.py
  src/waldur_mastermind/policy/serializers.py
  src/waldur_mastermind/policy/tasks.py
  src/waldur_mastermind/policy/tests/test_slurm_celery_policy_evaluation.py
Due: Run unit tests, Run migration test

feat: Allow disabling specific resource actions for marketplace offerings.
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Fix version history API returning empty results for new objects [HPCMP-415]
  docs/guides/version-history-api.md
  src/waldur_core/core/apps.py
  src/waldur_core/core/handlers.py
  src/waldur_core/core/tests/test_history_mixin.py
  src/waldur_core/core/views.py
  src/waldur_core/structure/apps.py
  src/waldur_mastermind/invoices/apps.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/tests/test_resource_history.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/handlers.md
Due: none

Fix TypeError when saving date values in offering plugin_options JSONField
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
Due: Run unit tests, Run migration test
