Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Add show_organisation_reporting feature flag [waldur/waldur-homeport#12]
  docs/admin/features.md
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

Fix users being able to change the state of their offering users despite not...
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Replace real company data and a dead Confluence link in config examples
  docker/rootfs/etc/waldur-templates/saml2/saml2.conf.py.example
  src/waldur_mastermind/invoices/extension.py
Due: Run unit tests, Run migration test, Try building docker image

Print volume discounts under the item they reduce in invoice PDFs
  src/waldur_mastermind/invoices/pdf/invoice.typ
  src/waldur_mastermind/invoices/tests/unittests/test_invoice_pdf.py
  src/waldur_mastermind/invoices/utils.py
  src/waldur_mastermind/marketplace/billing_discount.py
Due: Run unit tests, Run migration test

Give organization readers read access to users, projects, resources, orders and invitations
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_mastermind/marketplace/tests/test_customer_reader_role.py
Due: Run unit tests, Run migration test, Try building docker image

Describe the live credit balance in the cost policy guide [#650]
  docs/guides/billing-and-invoicing.md
Due: none

Remove unrouted OfferingUserGroupViewSet and its broken serializer [#77]
  docs/core-concepts/permissions.md
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Remove avoidable warnings: Octavia catalog lookup and short API secrets [#662]
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
  src/waldur_openstack/backend.py
  src/waldur_openstack/octavia.py
  src/waldur_openstack/tests/test_loadbalancer.py
Due: Run unit tests, Run migration test

Follow MATRIX_ROOM.CREATE changes in project rooms, and lower power levels at member sync [#661]
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_mastermind/matrix_chat/apps.py
  src/waldur_mastermind/matrix_chat/handlers.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/models.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_handlers.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
Due: Run unit tests, Run migration test

Scope software catalogue link and partition lookups to the offering [#665]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_qos.py
  src/waldur_mastermind/marketplace/tests/test_software_catalogs.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Reject relinking a catalogue link to a catalogue the offering already has [#665]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_software_catalogs.py
Due: Run unit tests, Run migration test

Fix software catalog cleanup deleting distinct EESSI versions
  docs/admin/scheduled.md
  docs/guides/marketplace-software-catalogs.md
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_catalog_tasks.py
Due: Run unit tests, Run migration test

Unfederated project rooms, literal names in bot messages, owner check for customer rooms [#636]
  src/waldur_mastermind/matrix_chat/formatting.py
  src/waldur_mastermind/matrix_chat/handlers.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_room_hardening.py
Due: Run unit tests, Run migration test

Refuse to take over Matrix accounts this Waldur did not create [#636]
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/matrix_chat/management/commands/link_matrix_account.py
  src/waldur_mastermind/matrix_chat/managers.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/tests/test_appservice.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_lifetimes.py
  src/waldur_mastermind/matrix_chat/tests/test_link_matrix_account.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Allow multi-version software catalog import and Spack refresh
  docs/guides/marketplace-software-catalogs.md
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_catalog_tasks.py
  src/waldur_mastermind/marketplace/tests/test_software_catalogs.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Generate Matrix passwords on request instead of deriving them [#636]
  docs/admin-guide/matrix-appservice-setup.md
  docs/events.md
  src/waldur_core/logging/enums.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/matrix_chat/handlers.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_account_lock.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_credentials.py
  src/waldur_mastermind/matrix_chat/tests/test_integration.py
  src/waldur_mastermind/matrix_chat/tests/test_passwords.py
  src/waldur_mastermind/matrix_chat/tests/test_revocation.py
  src/waldur_mastermind/matrix_chat/tests/test_sessions.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
  src/waldur_mastermind/matrix_chat/urls.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Fall back to the tenant offering's provider for unmanaged network owners
  src/waldur_openstack/backend.py
  src/waldur_openstack/tests/test_unmanaged_owner_share.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/scheduled.md
  docs/handlers.md
Due: none

Run Tuwunel v1.9.3 in the Matrix dev stack [#669]
  docker/matrix-dev/docker-compose.yml
Due: Try building docker image

Find the columns reencrypt_fields rotates from their field class [#684]
  docs/field-encryption.md
  src/waldur_core/core/fields.py
  src/waldur_core/core/management/commands/reencrypt_fields.py
  src/waldur_core/core/tests/test_reencrypt_fields.py
  src/waldur_mastermind/marketplace/migrations/0305_resourceapikey_key_ciphertext_field.py
  src/waldur_mastermind/marketplace/models.py
Due: Run unit tests, Run migration test

Escrow Matrix recovery keys behind a per-user setup lease [#685]
  docs/admin-guide/matrix-appservice-setup.md
  docs/field-encryption.md
  src/waldur_core/core/tests/test_reencrypt_fields.py
  src/waldur_core/logging/enums.py
  src/waldur_core/logging/sentry.py
  src/waldur_core/logging/tests/test_sentry_scrubbing.py
  src/waldur_core/server/base_settings.py
  src/waldur_mastermind/matrix_chat/crypto_setup.py
  src/waldur_mastermind/matrix_chat/extension.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/migrations/0007_recovery_key_and_crypto_lease.py
  src/waldur_mastermind/matrix_chat/migrations/0008_crypto_temporary_password_until.py
  src/waldur_mastermind/matrix_chat/models.py
  src/waldur_mastermind/matrix_chat/recovery_keys.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_crypto_setup.py
  src/waldur_mastermind/matrix_chat/tests/test_recovery_keys.py
  src/waldur_mastermind/matrix_chat/tests/test_sessions.py
  src/waldur_mastermind/matrix_chat/urls.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Encrypt secret Constance settings at rest [#683]
  docs/field-encryption.md
  src/waldur_core/core/constance_backend.py
  src/waldur_core/core/management/commands/reencrypt_fields.py
  src/waldur_core/core/migrations/0053_encrypt_constance_secrets.py
  src/waldur_core/core/tests/test_constance_backend.py
  src/waldur_core/core/tests/test_reencrypt_fields.py
  src/waldur_core/core/views.py
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Keep the Matrix bot's crypto store in Postgres and fix nio for it [#686]
  .gitlab-ci.yml
  pyproject.toml
  src/waldur_mastermind/matrix_chat/crypto/__init__.py
  src/waldur_mastermind/matrix_chat/crypto/nio_compat.py
  src/waldur_mastermind/matrix_chat/crypto/store.py
  src/waldur_mastermind/matrix_chat/tests/test_crypto_store.py
  src/waldur_mastermind/matrix_chat/tests/test_nio_compat.py
  uv.lock
Due: Run unit tests, Run migration test

Run the Matrix bot as an encrypted member of every room [#686]
  docker/rootfs/usr/local/bin/matrix-bot
  docs/field-encryption.md
  src/waldur_core/core/tests/test_reencrypt_fields.py
  src/waldur_core/logging/sentry.py
  src/waldur_mastermind/matrix_chat/bot.py
  src/waldur_mastermind/matrix_chat/bot_state.py
  src/waldur_mastermind/matrix_chat/crypto/cross_signing.py
  src/waldur_mastermind/matrix_chat/extension.py
  src/waldur_mastermind/matrix_chat/management/commands/matrix_bot.py
  src/waldur_mastermind/matrix_chat/migrations/0009_bot_identity_and_outbox.py
  src/waldur_mastermind/matrix_chat/models.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_bot.py
  src/waldur_mastermind/matrix_chat/tests/test_cross_signing.py
Due: Run unit tests, Run migration test, Try building docker image

Create every Matrix room encrypted, and post only through the bot [#686]
  src/waldur_mastermind/matrix_chat/bot.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_appservice.py
  src/waldur_mastermind/matrix_chat/tests/test_bot.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_room_hardening.py
  src/waldur_mastermind/matrix_chat/tests/test_tasks.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Let the Matrix bot wait for its settings and start over when they change [#686]
  src/waldur_mastermind/matrix_chat/bot.py
  src/waldur_mastermind/matrix_chat/management/commands/matrix_bot.py
  src/waldur_mastermind/matrix_chat/tests/test_bot.py
Due: Run unit tests, Run migration test

Let the Matrix bot wait for migrations on a fresh install [#686]
  src/waldur_mastermind/matrix_chat/management/commands/matrix_bot.py
  src/waldur_mastermind/matrix_chat/tests/test_bot.py
Due: Run unit tests, Run migration test

Say that Matrix calls are encrypted in transit only [#686]
  docs/admin-guide/matrix-appservice-setup.md
Due: none

Check room membership before issuing call tokens [#699]
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/matrix_chat/livekit_client.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tasks.py
  src/waldur_mastermind/matrix_chat/tests/test_call_token.py
  src/waldur_mastermind/matrix_chat/urls.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Serve the call token API that Matrix clients use [#699]
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_core/logging/sentry.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/middleware.py
  src/waldur_mastermind/matrix_chat/apps.py
  src/waldur_mastermind/matrix_chat/handlers.py
  src/waldur_mastermind/matrix_chat/livekit_client.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/tests/test_call_token.py
  src/waldur_mastermind/matrix_chat/tests/test_livekit_service.py
  src/waldur_mastermind/matrix_chat/urls.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Issue call tokens only while the user keeps access to the room [#699]
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_mastermind/matrix_chat/tests/test_livekit_service.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Drop the leftovers of lk-jwt-service [#699]
  docker/matrix-dev/Caddyfile
  docker/matrix-dev/docker-compose.yml
  docker/matrix-dev/tuwunel.toml
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/dev_matrix_settings.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tests/test_call_token.py
  src/waldur_mastermind/matrix_chat/tests/test_livekit_service.py
  src/waldur_mastermind/matrix_chat/urls.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test, Try building docker image

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/scheduled.md
  docs/events.md
Due: none

Add init_matrix_settings for env-driven Constance seeding [#18]
  docker/rootfs/usr/local/bin/matrix-init
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_core/logging/sentry.py
  src/waldur_core/logging/tests/test_sentry_scrubbing.py
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/matrix_chat/management/commands/init_matrix_settings.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tests/test_appservice.py
  src/waldur_mastermind/matrix_chat/tests/test_init_matrix_settings.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test, Try building docker image

Register the Matrix appservice on Tuwunel from the command line [#18]
  docker/rootfs/etc/waldur/gunicorn.conf.py
  docs/admin-guide/matrix-appservice-setup.md
  src/waldur_core/logging/sentry.py
  src/waldur_core/logging/tests/test_sentry_scrubbing.py
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/matrix_chat/appservice_registration.py
  src/waldur_mastermind/matrix_chat/management/commands/generate_appservice_registration.py
  src/waldur_mastermind/matrix_chat/management/commands/register_matrix_appservice.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tests/test_appservice.py
  src/waldur_mastermind/matrix_chat/tests/test_appservice_registration.py
  src/waldur_mastermind/matrix_chat/urls.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test, Try building docker image

Single sign-on for Matrix clients: matching IDs, safe setup, docs [#636]
  docs/admin-guide/matrix-appservice-setup.md
  docs/admin-guide/matrix-sso.md
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/matrix_chat/management/commands/init_matrix_settings.py
  src/waldur_mastermind/matrix_chat/management/commands/link_matrix_account.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tests/test_appservice.py
  src/waldur_mastermind/matrix_chat/tests/test_client.py
  src/waldur_mastermind/matrix_chat/tests/test_link_matrix_account.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
Due: none

Return offering-exposed user attributes from provider list_users [#702]
  src/waldur_core/permissions/views.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_user_roles.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Document provider list_users user attributes [#702]
  docs/core-concepts/offering-users.md
Due: none

Add a production checklist to the Matrix admin guide [#701]
  docs/admin-guide/matrix-appservice-setup.md
Due: none
