Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Revert "[WAL-5300] Upgrade mastermind to python3.11"
  .gitlab-ci.yml
  Dockerfile
  gitlab-ci-test/Dockerfile
  poetry.lock
  pyproject.toml
Due: Run unit tests, Run migration test, Try building docker image

Update lock file to match pyproject
  poetry.lock
Due: Run unit tests, Run migration test

Provider -> users API should not leak extra permission data [WAL-5408]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/fixtures.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Update invoice item quantity when it is terminated using stored limits.
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/marketplace_openstack/tests/test_invoice.py
Due: Run unit tests, Run migration test

Extend display of project affiliations with permissions inferred from organization roles.
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Bump django version
  poetry.lock
  pyproject.toml
Due: Run unit tests, Run migration test

Bump croniter
  poetry.lock
  pyproject.toml
Due: Run unit tests, Run migration test

[WAL-5487] Avoid GitLab docker registry
  .gitlab-ci.yml
Due: none

[WAL-5482] Move whitelabeling binary to mastermind
  docker/rootfs/usr/local/bin/initdb
  docker/rootfs/usr/local/bin/set_whitelabeling.sh
Due: Try building docker image

Refactor validate limits method.
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

API for user's organizations in provider workspace [WAL-5407]
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Drop offering children from details serializer.
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Introduce endpoint to get VM and volume offering for VPC resource [WAL-5301]
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Introduce provider -> offerings endpoint [WAL-5417]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Expose registration_method in provider endpoint
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Fix set_whitelabeling script path
  docker/rootfs/usr/local/bin/initdb
Due: Try building docker image

Expose additional fields to service providers
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Fix estimation calculations
  src/waldur_mastermind/invoices/utils.py
Due: Run unit tests, Run migration test

Allow to filter order item by multiple offering types at once [WAL-5494]
  src/waldur_mastermind/marketplace/filters.py
Due: Run unit tests, Run migration test

Fix TAAT_METADATA_URL env var
  docker/rootfs/usr/local/bin/saml2-metadata-sync
Due: Try building docker image

[WAL-5391] No additional approval for RA if changing resource limits
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_order.py
Due: Run unit tests, Run migration test

Drop PDF support [WAL-5488]
  .isort.cfg
  Dockerfile
  poetry.lock
  pyproject.toml
  src/waldur_core/media/utils.py
  src/waldur_mastermind/invoices/admin.py
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/invoices/serializers.py
  src/waldur_mastermind/invoices/tasks.py
  src/waldur_mastermind/invoices/tests/test_invoices.py
  src/waldur_mastermind/invoices/tests/unittests/test_tasks.py
  src/waldur_mastermind/invoices/tests/unittests/test_utils.py
  src/waldur_mastermind/invoices/utils.py
  src/waldur_mastermind/invoices/views.py
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/templates/marketplace/order.html
  src/waldur_mastermind/marketplace/tests/unittests/test_utils.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test, Try building docker image

[WAL-5500] Allow serving whitelabeling logos through the backend API
  docker/rootfs/usr/local/bin/set_whitelabeling.sh
  src/waldur_core/core/management/commands/set_constance_image.py
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test, Try building docker image

Expose resource count in projects [WAL-5460]
  src/waldur_core/structure/serializers.py
Due: Run unit tests, Run migration test

Switch pysaml2 to a fixed version
  poetry.lock
  pyproject.toml
Due: Run unit tests, Run migration test

Implement support for robot accounts [WAL-5492]
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/migrations/0081_robotaccount.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Bump Django version
  poetry.lock
  pyproject.toml
Due: Run unit tests, Run migration test

Expose staff-support affiliations in Personal affiliations [WAL-5502]
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Bump python waldur client
  pyproject.toml
Due: Run unit tests, Run migration test

Fix lock
  poetry.lock
Due: Run unit tests, Run migration test

Fix loading of images
  src/waldur_core/core/management/commands/set_constance_image.py
Due: Run unit tests, Run migration test

Fix typo
  src/waldur_core/core/management/commands/set_constance_image.py
Due: Run unit tests, Run migration test

Fix filename: replace commas
  src/waldur_core/media/utils.py
Due: Run unit tests, Run migration test

Expose floating IPs counter.
  src/waldur_openstack/openstack_tenant/views.py
Due: Run unit tests, Run migration test

Validate VPC limits. Ensure that storage, cpu and ram are specified.
  src/waldur_mastermind/marketplace/plugins.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_openstack/apps.py
  src/waldur_mastermind/marketplace_openstack/migrations/0015_fix_limits.py
  src/waldur_mastermind/marketplace_openstack/tests/test_order_item.py
  src/waldur_mastermind/marketplace_openstack/utils.py
Due: Run unit tests, Run migration test

[WAL-5329] Refactor Google Calendar sync.
  src/waldur_mastermind/booking/admin.py
  src/waldur_mastermind/booking/calendar.py
  src/waldur_mastermind/booking/migrations/0003_bookingslot.py
  src/waldur_mastermind/booking/models.py
  src/waldur_mastermind/booking/processors.py
  src/waldur_mastermind/booking/serializers.py
  src/waldur_mastermind/booking/tests/test_bookings.py
  src/waldur_mastermind/booking/tests/test_offerings.py
  src/waldur_mastermind/booking/tests/test_order_item.py
  src/waldur_mastermind/booking/tests/test_resource.py
  src/waldur_mastermind/booking/utils.py
  src/waldur_mastermind/google/backend.py
  src/waldur_mastermind/google/extension.py
  src/waldur_mastermind/google/filters.py
  src/waldur_mastermind/google/migrations/0003_del_dev_credentials.py
  src/waldur_mastermind/google/models.py
  src/waldur_mastermind/google/serializers.py
  src/waldur_mastermind/google/tests/factories.py
  src/waldur_mastermind/google/tests/test_authorize.py
  src/waldur_mastermind/google/tests/test_google_credentials.py
  src/waldur_mastermind/google/urls.py
  src/waldur_mastermind/google/views.py
  src/waldur_mastermind/marketplace/log.py
Due: Run unit tests, Run migration test

Fix formatting
  src/waldur_mastermind/booking/migrations/0003_bookingslot.py
  src/waldur_mastermind/google/migrations/0003_del_dev_credentials.py
Due: Run unit tests, Run migration test

[WAL-5531] add SUPPORT_PORTAL_URL to whitelabeling
  docker/rootfs/usr/local/bin/set_whitelabeling.sh
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test, Try building docker image

Fetch regular users for SLURM associations
  src/waldur_core/core/metadata.py
  src/waldur_mastermind/marketplace_slurm_remote/views.py
Due: Run unit tests, Run migration test

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
