Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

[WAL-6277] Allow marking organization as "Call manager".
  src/waldur_mastermind/promotions/tests/test_campaigns.py
  src/waldur_mastermind/proposal/filters.py
  src/waldur_mastermind/proposal/migrations/0002_callmanager.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/__init__.py
  src/waldur_mastermind/proposal/tests/factories.py
  src/waldur_mastermind/proposal/tests/fixtures.py
  src/waldur_mastermind/proposal/tests/test_call_managers.py
  src/waldur_mastermind/proposal/urls.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Remove allow-all from a default set of sec groups
  src/waldur_core/core/metadata.py
Due: Run unit tests, Run migration test

[WAL-6283] Make SSL verification optional
  src/waldur_auth_social/serializers.py
Due: Run unit tests, Run migration test

Allow to filter permissions by user UUID.
  src/waldur_core/permissions/views.py
Due: Run unit tests, Run migration test

Temporarily drop markdown-fix because of failure to install node
  .pre-commit-config.yaml
Due: none

Add feature toggle for call management
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

[WAL-6260] Move whitelabeling configuration to a single override job
  docker/rootfs/etc/waldur/whitelabeling.yaml
  docker/rootfs/usr/local/bin/init-whitelabeling
Due: Try building docker image

[WAL-6260] Additional fixes
  docker/rootfs/usr/local/bin/init-whitelabeling
  docker/rootfs/usr/local/bin/initdb
Due: Try building docker image

[WAL-6259] Adding event groups and types pipeline copying to homeport
  .gitlab-ci.yml
  src/waldur_core/core/management/commands/print_events_enums.py
Due: Run unit tests, Run migration test

Use verify flag for OIDC token generation
  src/waldur_auth_social/views.py
Due: Run unit tests, Run migration test

[WAL-6259] Copying enums from mastermind to homeport root folder
  .gitlab-ci.yml
Due: none

[WAL-6217] Enable dynamic roles permissions for project create/update api
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/enums.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_customer.py
  src/waldur_core/structure/tests/test_project.py
  src/waldur_core/structure/views.py
  src/waldur_mastermind/marketplace_remote/tests/test_project_update.py
Due: Run unit tests, Run migration test, Try building docker image

[WAL-6275] Add support for requesting / confirming offering allocation to proposals.
  src/waldur_mastermind/proposal/admin.py
  src/waldur_mastermind/proposal/extension.py
  src/waldur_mastermind/proposal/filters.py
  src/waldur_mastermind/proposal/migrations/0001_initial.py
  src/waldur_mastermind/proposal/migrations/0002_callmanager.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/factories.py
  src/waldur_mastermind/proposal/tests/fixtures.py
  src/waldur_mastermind/proposal/tests/test_calls.py
  src/waldur_mastermind/proposal/tests/test_managers.py
  src/waldur_mastermind/proposal/urls.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Fix migrations.
  src/waldur_mastermind/proposal/migrations/0001_initial.py
  src/waldur_mastermind/proposal/migrations/0002_callmanager.py
  src/waldur_mastermind/proposal/migrations/0003_requested_offering.py
Due: Run unit tests, Run migration test

Rename Manager to CallManagingOrganisation
  src/waldur_mastermind/proposal/admin.py
  src/waldur_mastermind/proposal/filters.py
  src/waldur_mastermind/proposal/migrations/0004_rename_manager.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/factories.py
  src/waldur_mastermind/proposal/tests/fixtures.py
  src/waldur_mastermind/proposal/tests/test_calls.py
  src/waldur_mastermind/proposal/tests/test_managers.py
  src/waldur_mastermind/proposal/urls.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Update user email on user login for Keycloak
  src/waldur_auth_social/utils.py
  src/waldur_auth_social/views.py
Due: Run unit tests, Run migration test

Fix typo
  src/waldur_auth_social/utils.py
Due: Run unit tests, Run migration test

[WAL-6256] Improve documentation for the import action
  src/waldur_auth_social/management/commands/import_auth_social.py
Due: Run unit tests, Run migration test

Fix proposal migrations.
  src/waldur_mastermind/proposal/migrations/0001_initial.py
  src/waldur_mastermind/proposal/migrations/0002_callmanager.py
  src/waldur_mastermind/proposal/migrations/0003_requested_offering.py
  src/waldur_mastermind/proposal/migrations/0004_rename_manager.py
Due: Run unit tests, Run migration test

Raise error if backend ID is empty [WAL-6314]
  src/waldur_mastermind/marketplace_remote/processors.py
Due: Run unit tests, Run migration test

Expose call management organization status [WAL-6319]
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Replace order item UUID with order UUID only when there's exactly one item in order.
  src/waldur_mastermind/marketplace/migrations/0106_merge_order_item_with_order_step2.py
Due: Run unit tests, Run migration test

[WAL-6326] Switch erred resource to terminated state.
  src/waldur_mastermind/marketplace_remote/processors.py
Due: Run unit tests, Run migration test

Recalculate quotas via regular Celery task [WAL-6292]
  docker/rootfs/usr/local/bin/initdb
  src/waldur_core/core/utils.py
  src/waldur_core/quotas/management/commands/__init__.py
  src/waldur_core/quotas/management/commands/recalculatequotas.py
  src/waldur_core/quotas/models.py
  src/waldur_core/quotas/signals.py
  src/waldur_core/quotas/tasks.py
  src/waldur_core/quotas/tests/test_fields.py
  src/waldur_core/quotas/tests/test_models.py
  src/waldur_core/quotas/tests/test_quotas_fields.py
  src/waldur_core/quotas/tests/test_tasks.py
  src/waldur_core/quotas/tests/unittests/__init__.py
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test, Try building docker image

Fix service provider stats endpoint [WAL-6329]
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Fix error when offering is serialized but its scope is not found.
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Drop leftover feature toggles for next/legacy branching. Use develop by default [WAL-6324]
  .gitlab-ci.yml
  docker/rootfs/etc/waldur/features.json
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test, Try building docker image

Distinguish between pending provider and pending consumer states [WAL-6328]
  src/waldur_hpc/handlers.py
  src/waldur_mastermind/booking/utils.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0107_merge_order_item_with_order_step3.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_cart.py
  src/waldur_mastermind/marketplace/tests/test_order_review.py
  src/waldur_mastermind/marketplace/tests/test_order_set_state.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_remote/tests/test_order.py
  src/waldur_mastermind/marketplace_remote/utils.py
Due: Run unit tests, Run migration test

[WAL-6302] Add support for creating Proposals in response to calls.
  src/waldur_mastermind/proposal/admin.py
  src/waldur_mastermind/proposal/filters.py
  src/waldur_mastermind/proposal/migrations/0004_proposal.py
  src/waldur_mastermind/proposal/migrations/0005_proposal_state.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/factories.py
  src/waldur_mastermind/proposal/tests/fixtures.py
  src/waldur_mastermind/proposal/tests/test_proposals.py
  src/waldur_mastermind/proposal/tests/test_rounds.py
  src/waldur_mastermind/proposal/urls.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Add detect-yaml pre-commit for *.yaml files to waldur-mastermind [WAL-6313]
  .pre-commit-config.yaml
Due: none

[wal-6340] Fix proposal state.
  src/waldur_mastermind/proposal/migrations/0005_proposal_state.py
  src/waldur_mastermind/proposal/models.py
Due: Run unit tests, Run migration test

Assume that plugin options for OS VM offering are defined in OS VPC offering.
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Drop old permission models.
  src/waldur_core/permissions/utils.py
  src/waldur_core/structure/migrations/0041_delete_old_permissions.py
  src/waldur_core/structure/models.py
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/migrations/0112_delete_offeringpermission.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/factories.py
  src/waldur_mastermind/marketplace/tests/test_offering_permissions.py
  src/waldur_mastermind/marketplace/tests/test_order_review.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Export model diagrams to Waldur docs [WAL-6320]
  .gitlab-ci.yml
  Dockerfile
  gitlab-ci-test/Dockerfile
  poetry.lock
  pyproject.toml
  src/waldur_core/server/doc_settings.py
  src/waldur_core/templates/django_extensions/graph_models/django2018/label.dot
Due: Run unit tests, Run migration test, Try building docker image

[WAL-5422] Introduce endpoint to list discounted resources by campaign
  src/waldur_mastermind/promotions/tests/test_campaigns.py
  src/waldur_mastermind/promotions/views.py
Due: Run unit tests, Run migration test

Don't use database templates loader in doc settings.
  src/waldur_core/server/doc_settings.py
Due: Run unit tests, Run migration test

Fix template context processors in docs settings.
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/doc_settings.py
Due: Run unit tests, Run migration test

Specify templates dir to override graph models.
  src/waldur_core/server/doc_settings.py
Due: Run unit tests, Run migration test

Add database model schemas to developer docs.
  docs/index.md
  docs/models.md
Due: none
