Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Feature/sentry bugs
  src/waldur_mastermind/marketplace_rancher/tests/test_usage_collection.py
  src/waldur_mastermind/marketplace_rancher/utils.py
  src/waldur_mastermind/support/backend/atlassian.py
  src/waldur_mastermind/support/tests/unittests/test_backend.py
  src/waldur_rancher/backend.py
Due: Run unit tests, Run migration test

Expose customer UUID in base resource serializer
  src/waldur_core/structure/serializers.py
Due: Run unit tests, Run migration test

Fix creation using POST data
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Fix exporter
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

[WAL-9327] Initial commit for adding broadcast and notification templates for ToS consent
  docker/rootfs/etc/waldur/notifications.json
  src/waldur_core/structure/notifications.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/templates/marketplace/tos_consent_required_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/tos_consent_required_message.txt
  src/waldur_mastermind/marketplace/templates/marketplace/tos_consent_required_subject.txt
  src/waldur_mastermind/marketplace/templates/marketplace/tos_reconsent_required_message.html
  src/waldur_mastermind/marketplace/templates/marketplace/tos_reconsent_required_message.txt
  src/waldur_mastermind/marketplace/templates/marketplace/tos_reconsent_required_subject.txt
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
Due: Run unit tests, Run migration test, Try building docker image

Fix/permissions
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/tests/test_export_roles.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/tests/test_access_subnet.py
Due: Run unit tests, Run migration test, Try building docker image

Add missing migration
  src/waldur_core/structure/migrations/0066_alter_accesssubnet_options.py
Due: Run unit tests, Run migration test

Allow setting end date on recovery
  docs/guides/marketplace-software-catalogs.md
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Refactor billing service: extract limit component processing
  docs/core-concepts/marketplace.md
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/billing.py
  src/waldur_mastermind/marketplace/billing_limit.py
  src/waldur_mastermind/marketplace/billing_usage.py
  src/waldur_mastermind/marketplace/billing_utils.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0108_squashed_0131.py
  src/waldur_mastermind/marketplace/migrations/0130_fix_limits_of_slurm_offering_components.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_invoice.py
  src/waldur_mastermind/marketplace/tests/test_registrators.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_slurm/apps.py
  src/waldur_mastermind/marketplace_support/tests/test_invoice.py
  src/waldur_mastermind/promotions/handlers.py
  src/waldur_mastermind/promotions/models.py
Due: Run unit tests, Run migration test

Fix/usability extensions
  src/waldur_core/core/features.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/tests/test_filters.py
Due: Run unit tests, Run migration test

[WAL-9140] Save generated docs into the repo
  .gitlab-ci.yml
  docs/admin/.keep
Due: none

[WAL-9311] Implement country configuration system for manual onboarding
  docs/customer-onboarding-complete-guide.md
  src/waldur_core/checklist/enums.py
  src/waldur_core/checklist/migrations/0007_alter_checklist_checklist_type.py
  src/waldur_core/onboarding/admin.py
  src/waldur_core/onboarding/migrations/0003_onboarding_checklists.py
  src/waldur_core/onboarding/models.py
  src/waldur_core/onboarding/serializers.py
  src/waldur_core/onboarding/tests/factories.py
  src/waldur_core/onboarding/tests/test_estonia_ariregister.py
  src/waldur_core/onboarding/tests/test_manual_validation.py
  src/waldur_core/onboarding/urls.py
  src/waldur_core/onboarding/validators.py
  src/waldur_core/onboarding/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/admin/notifications.md
  docs/admin/scheduled.md
  docs/admin/templates.md
  docs/core_permissions.mmd
  docs/core_structure.mmd
  docs/events.md
  docs/handlers.md
  docs/marketplace_catalog.mmd
  docs/marketplace_category.mmd
  docs/marketplace_provision.mmd
  docs/mixins.md
Due: none

Sync Ansible module config
  ansible-generator-config.yaml
Due: none

Fix OAI schema
  src/waldur_core/onboarding/views.py
Due: Run unit tests, Run migration test

Build Go SDK for validation
  .gitlab-ci.yml
Due: none

Fix endings
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/admin/notifications.md
  docs/admin/scheduled.md
  docs/admin/templates.md
  docs/core_permissions.mmd
  docs/core_structure.mmd
  docs/events.md
  docs/marketplace_catalog.mmd
  docs/marketplace_category.mmd
  docs/marketplace_provision.mmd
  docs/mixins.md
Due: none

Exclude docs from EOF checker
  .pre-commit-config.yaml
Due: none

Skip build step
  .gitlab-ci.yml
Due: none

Mark fields as optional if they are dynamically modified
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/proposal/serializers.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/admin/notifications.md
  docs/admin/scheduled.md
  docs/admin/templates.md
  docs/core_permissions.mmd
  docs/core_structure.mmd
  docs/events.md
  docs/marketplace_catalog.mmd
  docs/marketplace_category.mmd
  docs/marketplace_provision.mmd
  docs/mixins.md
Due: none

Fix OAI schema generation: make field introspection more robust with context
  src/waldur_core/core/openapi_inspector.py
Due: Run unit tests, Run migration test

Enable setting of max security group quota
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace_openstack/tests/test_offering.py
  src/waldur_mastermind/marketplace_openstack/utils.py
Due: Run unit tests, Run migration test

Fix OAI schema generation
  src/waldur_core/core/openapi_inspector.py
Due: Run unit tests, Run migration test

Fix creation of atlassian tickets
  src/waldur_mastermind/support/backend/atlassian.py
  src/waldur_mastermind/support/tests/test_issues.py
  src/waldur_mastermind/support/tests/unittests/test_backend.py
Due: Run unit tests, Run migration test

CustomerComponentUsagePolicy: fix component_limits_set update logic.
  src/waldur_mastermind/policy/serializers.py
  src/waldur_mastermind/policy/tests/test_customer_component_usage.py
  src/waldur_mastermind/policy/tests/test_offering_usage.py
Due: Run unit tests, Run migration test

[WAL-9322] Integrate Austrian business registry API (Wirtschafts-Compass) for...
  src/waldur_core/core/migrations/0019_user_birth_date.py
  src/waldur_core/core/models.py
  src/waldur_core/onboarding/backends/__init__.py
  src/waldur_core/onboarding/backends/austria.py
  src/waldur_core/onboarding/backends/base.py
  src/waldur_core/onboarding/backends/estonia.py
  src/waldur_core/onboarding/enums.py
  src/waldur_core/onboarding/migrations/0004_alter_onboardingverification_validation_method.py
  src/waldur_core/onboarding/tests/fixtures.py
  src/waldur_core/onboarding/tests/test_austria_register.py
  src/waldur_core/onboarding/validators.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/serializers.py
Due: Run unit tests, Run migration test

Add filters to onboarding country confings
  src/waldur_core/onboarding/filters.py
  src/waldur_core/onboarding/serializers.py
  src/waldur_core/onboarding/views.py
Due: Run unit tests, Run migration test

Add rancher documentation
  docs/plugins/rancher.md
Due: none

Cleanup description
  docs/plugins/rancher.md
Due: none

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

Add Cascade user input option [WAL-9372]
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/admin/notifications.md
  docs/admin/scheduled.md
  docs/admin/templates.md
  docs/events.md
  docs/guides/marketplace-custom-options.md
  docs/handlers.md
  docs/mixins.md
  src/waldur_core/core/management/commands/print_commands.py
  src/waldur_core/core/management/commands/print_events.py
  src/waldur_core/core/management/commands/print_features_docs.py
  src/waldur_core/core/management/commands/print_mixins.py
  src/waldur_core/core/management/commands/print_registered_handlers.py
  src/waldur_core/core/management/commands/print_scheduled_jobs.py
  src/waldur_core/core/management/commands/print_settings.py
  src/waldur_core/core/management/commands/print_templates.py
  src/waldur_core/structure/management/commands/print_notifications.py
  src/waldur_mastermind/common/serializers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_conditional_cascade_edge_cases.py
  src/waldur_mastermind/marketplace/tests/test_conditional_cascade_error_handling.py
  src/waldur_mastermind/marketplace/tests/test_conditional_cascade_options.py
  src/waldur_mastermind/marketplace/tests/test_conditional_cascade_validation.py
  src/waldur_mastermind/marketplace_openstack/tests/test_utils.py
Due: Run unit tests, Run migration test

Include fields from signals into openapi
  src/waldur_core/core/openapi_inspector.py
  src/waldur_core/core/tests/test_openapi_inspector.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/templates.md
Due: none

Optimise Claude prompts
  .claude/CLAUDE_SUBAGENT_USAGE.md
  .claude/agents/code-reviewer.md
  .claude/agents/docs-writer.md
  .claude/agents/implementation.md
  .claude/agents/performance-analyzer.md
  .claude/agents/test-generator.md
  CLAUDE.md
Due: none

Update invoices and components when changing type of component
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_components.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Add exposure of metadata in API for OpenAPI export [WAL-9374]
  docs/guides/marketplace-custom-options.md
  src/waldur_core/core/views.py
  src/waldur_core/server/urls.py
Due: Run unit tests, Run migration test

Add option type for calculation based on limit [WAL-9373]
  docs/guides/marketplace-custom-options.md
  src/waldur_mastermind/common/serializers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_component_multiplier_options.py
Due: Run unit tests, Run migration test

Drop enum uploads in favor of sdk
  .gitlab-ci.yml
Due: none
