Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

[Feature/Bugfix] Update usage documentation with relevant information
  docs/component-usage.md
Due: none

Improve API docs
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Allow to specify custom security groups during OS VPC creation [WAL-9281]
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_tenant.py
Due: Run unit tests, Run migration test

Allow defining a common policy for all organizations
  docs/admin/add-category-sections.md
  docs/guides/slurm-periodic-usage-policy-configuration.md
  docs/plugins/openstack.md
  pyproject.toml
  src/waldur_mastermind/policy/migrations/0013_add_apply_to_all_field.py
  src/waldur_mastermind/policy/models.py
  src/waldur_mastermind/policy/policy_actions.py
  src/waldur_mastermind/policy/serializers.py
  src/waldur_mastermind/policy/tests/factories.py
  src/waldur_mastermind/policy/tests/test_apply_to_all.py
  src/waldur_mastermind/policy/tests/test_slurm_periodic_policy_basic.py
  src/waldur_mastermind/policy/tests/test_slurm_periodic_usage_actions.py
  uv.lock
Due: Run unit tests, Run migration test

Move django-cors-headers to mandatory dependencies for CF tunnel
  pyproject.toml
  uv.lock
Due: Run unit tests, Run migration test

Improve API docs
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_openstack/processors.py
Due: Run unit tests, Run migration test

Fix publishing task name
  src/waldur_core/logging/tasks.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
Due: Run unit tests, Run migration test

Introduce push_security_groups operation for OS VPC [WAL-9281]
  src/waldur_openstack/backend.py
  src/waldur_openstack/executors.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/tests/test_security_groups.py
  src/waldur_openstack/views.py
  src/waldur_rancher/serializers.py
Due: Run unit tests, Run migration test

Migrate from kaniko to buildah
  .gitlab-ci.yml
Due: none

Fix OpenStack cyclic network recreation for RBAC case.
  src/waldur_openstack/backend.py
  src/waldur_openstack/tests/test_network_sync.py
  src/waldur_openstack/tests/unittests/test_backend.py
Due: Run unit tests, Run migration test

Fix buildah login
  .gitlab-ci.yml
Due: none

[WAL-9359] Move celery to stable queues
  docker/rootfs/etc/waldur/settings.py
  docker/rootfs/usr/local/bin/initdb
  pyproject.toml
  src/waldur_core/core/management/commands/migrate_rabbitmq_queues.py
  src/waldur_core/server/celery_settings.py
  uv.lock
Due: Run unit tests, Run migration test, Try building docker image

Handle concurrent invoice update
  src/waldur_mastermind/invoices/models.py
Due: Run unit tests, Run migration test

Fix race condition on resource creation
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_openportal/handlers.py
Due: Run unit tests, Run migration test

Generate changelog with breaking changes for Waldur Ansible Collections
  .gitlab-ci.yml
  scripts/generate_ansible_changelog.py
Due: none

Allow to update OS VPC SG
  ansible-generator-config.yaml
Due: none

Use HTTP instead of SSH for GIT clone
  .gitlab-ci.yml
Due: none

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
Due: none

Upgrade openstack libraries
  pyproject.toml
  src/waldur_openstack/management/__init__.py
  src/waldur_openstack/management/commands/__init__.py
  src/waldur_openstack/management/commands/validate_openstack_services.py
  uv.lock
Due: Run unit tests, Run migration test

[WAL-9408] Expose feature toggle and settings for LLM chat inference
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
Due: none

fix: move the workaround fields to correct serializer
  src/waldur_core/onboarding/serializers.py
  src/waldur_core/onboarding/validators.py
  src/waldur_core/onboarding/views.py
Due: Run unit tests, Run migration test

Fix slurm docs
  docs/guides/marketplace-slurm-partitions.md
  docs/guides/marketplace-software-catalogs.md
  src/waldur_freeipa/handlers.py
Due: Run unit tests, Run migration test

Fix grace period signals in openportal
  src/waldur_core/structure/models.py
  src/waldur_core/structure/tests/test_project.py
Due: Run unit tests, Run migration test

Fix loading of openportal
  src/waldur_openportal/board.py
  src/waldur_openportal/client.py
  src/waldur_openportal/op.py
  src/waldur_openportal/tasks.py
  src/waldur_openportal/tests/test_client_board.py
  src/waldur_openportal/tests/test_configuration.py
  src/waldur_openportal/tests/test_integration.py
  src/waldur_openportal/tests/test_tasks.py
Due: Run unit tests, Run migration test

Fix recursion
  src/waldur_mastermind/billing/serializers.py
  src/waldur_mastermind/billing/tests/test_serializer_optimization.py
  src/waldur_mastermind/invoices/serializers.py
Due: Run unit tests, Run migration test

Expose order slug
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

[WAL-9396] Add limit reallocation action for resources
  src/waldur_mastermind/marketplace/callbacks.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Extend identifier logic
  docs/identifiers.md
Due: none

Introduce internal notes for the maintance announcements
  src/waldur_mastermind/marketplace/migrations/0196_add_internal_notes_to_maintenance_announcement.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_announcement.py
Due: Run unit tests, Run migration test

Use a better way for transitioning to new queues
  src/waldur_core/core/management/commands/migrate_rabbitmq_queues.py
  src/waldur_core/core/tests/test_celery_config.py
  src/waldur_core/core/tests/test_health_check.py
  src/waldur_core/server/celery_settings.py
  src/waldur_core/server/celeryconf.py
Due: Run unit tests, Run migration test

Fix creation of reviews for the after round strategy
  src/waldur_mastermind/proposal/tasks.py
  src/waldur_mastermind/proposal/tests/test_duplicate_notifications.py
  src/waldur_mastermind/proposal/tests/test_review_strategy.py
  src/waldur_mastermind/proposal/utils.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Fix customer request link on creating.
  src/waldur_mastermind/support/backend/atlassian.py
  src/waldur_mastermind/support/tests/test_issues.py
  src/waldur_mastermind/support/views.py
Due: Run unit tests, Run migration test

Improve export-import scripts
  src/waldur_mastermind/marketplace/management/commands/cleanup_structure.py
  src/waldur_mastermind/marketplace/management/commands/export_structure.py
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
  src/waldur_mastermind/marketplace/tests/test_export_structure.py
  src/waldur_mastermind/marketplace/tests/test_import_structure.py
Due: Run unit tests, Run migration test

Bump waldur-api-client version
  pyproject.toml
  src/waldur_mastermind/marketplace_remote/tests/test_offerings.py
  uv.lock
Due: Run unit tests, Run migration test

Fix check for rmq availability
  docker/rootfs/usr/local/bin/initdb
Due: Try building docker image

Force migration of queues
  docker/rootfs/usr/local/bin/initdb
Due: Try building docker image

Better check for rmq admin
  docker/rootfs/usr/local/bin/initdb
Due: Try building docker image

Handle case for failed migration of queue
  src/waldur_core/core/management/commands/migrate_rabbitmq_queues.py
Due: Run unit tests, Run migration test
