Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Fix InvalidCursorName crash in sync_allocation_limits
  src/waldur_openportal/tasks.py
  src/waldur_openportal/tests/test_tasks.py
Due: Run unit tests, Run migration test

Fix volume discount applied to duration-multiplied quantity
  src/waldur_mastermind/marketplace/billing_limit.py
  src/waldur_mastermind/marketplace/tests/test_discount_invoice.py
Due: Run unit tests, Run migration test

Remove duplicate get_financial_report_url in test_price_estimates
  src/waldur_mastermind/billing/tests/test_price_estimates.py
Due: Run unit tests, Run migration test

Extract shared update_component_quota to marketplace utils
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_openportal/handlers.py
  src/waldur_mastermind/marketplace_openportal_remote/handlers.py
  src/waldur_mastermind/marketplace_slurm/handlers.py
Due: Run unit tests, Run migration test

Extract UserEmailPatternsValidatorMixin to deduplicate 5 validators
  src/waldur_autoprovisioning/serializers.py
  src/waldur_core/core/serializers.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/users/serializers.py
Due: Run unit tests, Run migration test

Fix group invitations blocked by OIDC_BLOCK_CREATION_OF_UNINVITED_USERS
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/utils.py
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

Register credits with django-reversion for revision history
  src/waldur_mastermind/invoices/admin.py
  src/waldur_mastermind/invoices/models.py
Due: Run unit tests, Run migration test

Log estimated cost and credit state when cost policy fires
  src/waldur_mastermind/policy/policy_actions.py
  src/waldur_mastermind/policy/utils.py
Due: Run unit tests, Run migration test

Add credit management demo preset
  src/waldur_mastermind/marketplace/demo_presets/presets/credit_management.json
Due: Run unit tests, Run migration test

Add credit balance snapshots to compensation events
  src/waldur_mastermind/invoices/compensations.py
  src/waldur_mastermind/invoices/tasks.py
Due: Run unit tests, Run migration test

Log old_value in SET_TO_ZERO_OVERDUE_CREDIT events
  src/waldur_mastermind/invoices/tasks.py
Due: Run unit tests, Run migration test

Fix deactivated users unable to login via OIDC with pending invitation
  src/waldur_auth_social/tests/test_oidc.py
  src/waldur_auth_social/utils.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
  docs/mixins.md
Due: none

Remove .iterator() calls to avoid server-side cursors incompatible with PgBouncer
  src/waldur_auth_saml2/utils.py
  src/waldur_auth_social/utils.py
  src/waldur_core/core/managers.py
  src/waldur_mastermind/invoices/tasks.py
  src/waldur_openstack/backend.py
Due: Run unit tests, Run migration test

[WAL-9872] Introduce SET_CONSUMER_ORDER_INFO permission for responding to provider requests
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/enums.py
  src/waldur_core/permissions/migrations/0020_set_consumer_info_permission.py
  src/waldur_mastermind/marketplace/tests/test_order_provider_consumer_info.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test, Try building docker image

[WAL-9486] Implement user feedback collection
  src/waldur_core/logging/enums.py
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/chat/enums.py
  src/waldur_mastermind/chat/migrations/0009_message_feedback_category_message_feedback_comment_and_more.py
  src/waldur_mastermind/chat/models.py
  src/waldur_mastermind/chat/serializers.py
  src/waldur_mastermind/chat/tests/test_message_feedback.py
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

Add custom project slug template on Customer
  docs/identifiers.md
  src/waldur_core/structure/migrations/0075_customer_project_slug_template.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_project_slug_template.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/core_structure.mmd
  docs/events.md
Due: none

feat: Final merge of OpenPortal extension from Isambard fork
  src/waldur_openportal/api.py
  src/waldur_openportal/apps.py
  src/waldur_openportal/board.py
  src/waldur_openportal/handlers.py
  src/waldur_openportal/models.py
  src/waldur_openportal/op.py
  src/waldur_openportal/remotebackend.py
  src/waldur_openportal/remoteclient.py
  src/waldur_openportal/tasks.py
  src/waldur_openportal/tests/test_tasks.py
  src/waldur_openportal/urls.py
Due: Run unit tests, Run migration test

Add PO support to update_limits and enrich renewal ticket descriptions
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_support/processor.py
  src/waldur_mastermind/marketplace_support/templates/marketplace_support/renewal_template.txt
  src/waldur_mastermind/marketplace_support/utils.py
Due: Run unit tests, Run migration test

Fix slug template not applied when creating projects via API
  src/waldur_core/core/serializers.py
  src/waldur_core/structure/tests/test_project_slug_template.py
Due: Run unit tests, Run migration test

Refactor Hook management system to use model inheritance
  src/waldur_core/core/managers.py
  src/waldur_core/logging/filters.py
  src/waldur_core/logging/migrations/0023_basehook_concrete.py
  src/waldur_core/logging/models.py
  src/waldur_core/logging/serializers.py
  src/waldur_core/logging/tests/factories.py
  src/waldur_core/logging/tests/test_hooks.py
  src/waldur_core/logging/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/templates.md
Due: none

refactor: rename affiliated organizations serializer and remove redundant UUID filters from SSH key and resource filters
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Skip integration test trigger when SKIP_TESTS is set
  .gitlab-ci.yml
Due: none

Add procps to Dockerfile to restore liveness probe
  Dockerfile
Due: Try building docker image

feat: add scheduled celery task to refresh price estimates daily
  src/waldur_mastermind/billing/extension.py
  src/waldur_mastermind/billing/tasks.py
Due: Run unit tests, Run migration test

refactor: simplify invoice aggregation logic using reusable expressions and annotations
  src/waldur_core/core/serializers.py
  src/waldur_core/core/utils.py
  src/waldur_core/structure/tests/test_project_slug_template.py
  src/waldur_core/users/serializers.py
  src/waldur_mastermind/invoices/utils.py
  src/waldur_mastermind/marketplace/tests/test_order_cost.py
  src/waldur_mastermind/policy/tests/test_slurm_initial_settings.py
Due: Run unit tests, Run migration test

Add has_consent filter to resource team endpoint
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/scheduled.md
Due: none

Bump lxml to fix GHSA-vfmq-68hx-4jfw
  pyproject.toml
  uv.lock
Due: Run unit tests, Run migration test

Refactor Customer serialization architecture to eliminate 'request-as-cache' anti-patterns
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
  src/waldur_mastermind/billing/serializers.py
Due: Run unit tests, Run migration test

refactor: migrate project resource count calculation to ListSerializer for bulk performance optimization
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

refactor: remove complex serializer eager load optimizations and simplify price estimate retrieval logic
  src/waldur_core/structure/serializers.py
  src/waldur_mastermind/billing/serializers.py
  src/waldur_mastermind/billing/tests/test_serializer_optimization.py
  src/waldur_mastermind/invoices/serializers.py
Due: Run unit tests, Run migration test

[WAL-7926] Add cpu_allocation_ratio to OpenStack service settings.
  src/waldur_openstack/serializers.py
  src/waldur_openstack/views.py
Due: Run unit tests, Run migration test

Fix user_has_consent=false filter incorrectly excluding offerings with no consent records
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
Due: Run unit tests, Run migration test

Fix potential OOM in sync_slurm_periodic_settings task
  src/waldur_mastermind/policy/tasks.py
Due: Run unit tests, Run migration test

Fix affected_offerings missing from maintenance announcement template API response
  src/waldur_mastermind/marketplace/migrations/0227_fix_maintenanceannouncementofferingtemplate_related_name.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_announcement_template.py
Due: Run unit tests, Run migration test

[WAL-9510] Enable management of pre-defined system prompts for AI assistants
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/chat/context_assembler.py
  src/waldur_mastermind/chat/migrations/0008_systemprompt.py
  src/waldur_mastermind/chat/migrations/0010_merge_20260421_0810.py
  src/waldur_mastermind/chat/models.py
  src/waldur_mastermind/chat/prompts/assembly.py
  src/waldur_mastermind/chat/serializers.py
  src/waldur_mastermind/chat/tests/test_system_prompt.py
  src/waldur_mastermind/chat/tests/test_tools.py
  src/waldur_mastermind/chat/urls.py
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none
