Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

[WAL-8080] Move freeipa settings to constance
  src/waldur_core/core/metadata.py
  src/waldur_core/core/serializers.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/users/utils.py
  src/waldur_freeipa/backend.py
  src/waldur_freeipa/models.py
  src/waldur_freeipa/tasks.py
  src/waldur_freeipa/tests/helpers.py
  src/waldur_freeipa/tests/test_profiles.py
  src/waldur_freeipa/utils.py
Due: Run unit tests, Run migration test

[WAL-8051] Add logging of server_create_parameters and volume to system log for Openstack.
  src/waldur_openstack/backend.py
Due: Run unit tests, Run migration test

Drop deprecated ProjectRole and CustomerRole fields
  src/waldur_core/core/admin.py
  src/waldur_core/permissions/mixins.py
  src/waldur_core/structure/admin.py
  src/waldur_core/structure/migrations/0001_squashed_0036.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/permissions.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_admin.py
  src/waldur_core/structure/tests/test_customer.py
  src/waldur_core/structure/views.py
  src/waldur_core/users/migrations/0001_squashed_0012.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_offering_permissions.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_checklist/admin.py
  src/waldur_mastermind/marketplace_checklist/migrations/0001_squashed_0012_alter_answer_value.py
  src/waldur_mastermind/marketplace_checklist/migrations/0005_remove_checklistprojectrole_checklist_and_more.py
  src/waldur_mastermind/marketplace_checklist/models.py
  src/waldur_mastermind/marketplace_checklist/serializers.py
  src/waldur_mastermind/marketplace_checklist/tests/test_roles.py
  src/waldur_mastermind/marketplace_checklist/views.py
  src/waldur_mastermind/marketplace_remote/handlers.py
  src/waldur_mastermind/marketplace_remote/views.py
  src/waldur_mastermind/policy/serializers.py
  src/waldur_mastermind/promotions/serializers.py
  src/waldur_mastermind/proposal/models.py
  src/waldur_mastermind/support/serializers.py
  src/waldur_mastermind/support/views.py
  src/waldur_rancher/utils.py
Due: Run unit tests, Run migration test

Remove NGINX from prod container image
  Dockerfile
  docker/rootfs/etc/nginx/nginx.conf
  docker/rootfs/etc/nginx/proxy.conf
  docker/rootfs/usr/local/bin/mastermind
  poetry.lock
  pyproject.toml
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test, Try building docker image

[WAL-8027] Drop native name&description fields from template model
  src/waldur_mastermind/support/admin.py
  src/waldur_mastermind/support/migrations/0010_remove_template_native_description_and_more.py
  src/waldur_mastermind/support/models.py
  src/waldur_mastermind/support/serializers.py
Due: Run unit tests, Run migration test

Fix gunicorn port
  docker/rootfs/etc/waldur/gunicorn.conf.py
Due: Try building docker image

Ensure that imported role has system flag
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/management/commands/import_roles.py
Due: Run unit tests, Run migration test, Try building docker image

Enable Service provider manager role by default.
  docker/rootfs/etc/waldur/permissions.yaml
Due: Try building docker image

[WAL-8027] Expose new fields for TemplateAttachments
  src/waldur_mastermind/support/models.py
  src/waldur_mastermind/support/serializers.py
Due: Run unit tests, Run migration test

Allow secret fields to be blank in constance settings serializer
  src/waldur_core/core/serializers.py
Due: Run unit tests, Run migration test

Move check for docker socket permission to application code
  docker/rootfs/app-entrypoint.sh
  src/waldur_mastermind/marketplace_script/tests/test_order.py
  src/waldur_mastermind/marketplace_script/tests/test_output_format.py
  src/waldur_mastermind/marketplace_script/utils.py
Due: Run unit tests, Run migration test, Try building docker image

Expose reviewer's uuid for reviews
  src/waldur_mastermind/proposal/serializers.py
Due: Run unit tests, Run migration test

Revert to using 1001 user as a default
  Dockerfile
Due: Try building docker image

Migrate Mastermind to drf-spectacular [WAL-8172]
  .gitignore
  docker/rootfs/etc/waldur/settings.py
  docker_build.sh
  poetry.lock
  pyproject.toml
  src/waldur_core/core/api_groups_mapping.py
  src/waldur_core/core/management/commands/export_api_docs.py
  src/waldur_core/core/management/commands/print_commands.py
  src/waldur_core/core/schema_hooks.py
  src/waldur_core/core/schemas.py
  src/waldur_core/core/templates/rest_framework_swagger/base.html
  src/waldur_core/core/tests/test_docs.py
  src/waldur_core/landing/templates/landing/apidocs.html
  src/waldur_core/landing/templates/landing/index.html
  src/waldur_core/logging/urls.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/settings.py.example
  src/waldur_core/server/urls.py
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/managers.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/support/serializers.py
  src/waldur_openstack/serializers.py
Due: Run unit tests, Run migration test, Try building docker image

Improve OpenAPI schema generation.
  src/waldur_core/core/api_groups_mapping.py
  src/waldur_core/core/schema_hooks.py
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test

Drop extra prefix for OpenAPI schema
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test

[WAL-8118] Fix default logo filepath
  src/waldur_core/core/logos.py
  src/waldur_core/core/views.py
Due: Run unit tests, Run migration test

Remove redis from waldur mastermind [WAL-7742]
  .devcontainer/docker-compose.yml
  docker/rootfs/etc/waldur/settings.py
  docs/background.md
  docs/install-from-src.md
  poetry.lock
  pyproject.toml
  src/waldur_core/server/base_settings.py
  src/waldur_core/server/dev_settings.py
  src/waldur_mastermind/support/management/commands/status.py
Due: Run unit tests, Run migration test, Try building docker image

Add Waldur user into docker container
  Dockerfile
Due: Try building docker image

[WAL-8182] Failing remote offering sync
  src/waldur_mastermind/marketplace_remote/tasks.py
Due: Run unit tests, Run migration test

[WAL-8118] Fix base settings path resolution for logos when running from code
  src/waldur_core/core/logos.py
Due: Run unit tests, Run migration test

Introduce org and project filter for MP category [WAL-8181]
  src/waldur_mastermind/marketplace/filters.py
Due: Run unit tests, Run migration test

Fix notifications loading
  docker/rootfs/etc/waldur/notifications.json
  src/waldur_core/structure/management/commands/load_notifications.py
Due: Run unit tests, Run migration test, Try building docker image

Synchronize remote group for replicated SG rule [WAL-8180]
  src/waldur_openstack_replication/serializers.py
Due: Run unit tests, Run migration test

Improve OpenAPI schema generation
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

[WAL-8133] Move homeport_url to constance
  src/waldur_core/core/metadata.py
  src/waldur_core/core/utils.py
  src/waldur_core/server/base_settings.py
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/support/serializers.py
  src/waldur_mastermind/support/templates/support/description.txt
Due: Run unit tests, Run migration test

[WAL-8130] Add tests for override_constance_settings command
  .gitignore
  src/waldur_core/core/serializers.py
  src/waldur_mastermind/marketplace_support/management/commands/override_constance_settings.py
  src/waldur_mastermind/support/tests/test_constance_override.py
Due: Run unit tests, Run migration test

Fix utils import
  src/waldur_mastermind/marketplace_slurm_remote/tasks.py
Due: Run unit tests, Run migration test

Fix ComponentUsageSerializer
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

[WAL-7812] Introduce ComponentUserUsageLimitFilter
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Improve typing for OpenAPI schema generator [WAL-8174]
  src/waldur_core/core/models.py
  src/waldur_core/core/views.py
  src/waldur_core/permissions/serializers.py
  src/waldur_core/quotas/serializers.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/registry.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/users/serializers.py
  src/waldur_mastermind/billing/serializers.py
  src/waldur_mastermind/booking/serializers.py
  src/waldur_mastermind/booking/tests/fixtures.py
  src/waldur_mastermind/google/models.py
  src/waldur_mastermind/google/serializers.py
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/invoices/serializers.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/factories.py
  src/waldur_mastermind/marketplace/tests/fixtures.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_script/tests/fixtures.py
  src/waldur_mastermind/marketplace_slurm_remote/tests/fixtures.py
  src/waldur_mastermind/marketplace_support/tests/fixtures.py
  src/waldur_mastermind/marketplace_support/tests/test_processors.py
  src/waldur_mastermind/policy/serializers.py
  src/waldur_mastermind/support/models.py
  src/waldur_mastermind/support/serializers.py
  src/waldur_openstack/models.py
  src/waldur_openstack/serializers.py
  src/waldur_openstack/views.py
  src/waldur_rancher/serializers.py
Due: Run unit tests, Run migration test

WAL-7738 Add squash migrations.
  src/waldur_auth_social/migrations/0001_initial_squashed_0007_identityprovider_enable_pkce.py
  src/waldur_azure/migrations/0001_initial_squashed_0021_image_locations.py
  src/waldur_core/core/migrations/0002_alter_user_username_squashed_0013_alter_user_phone_number.py
  src/waldur_core/logging/migrations/0002_immutable_default_json_squashed_0015_event_index.py
  src/waldur_core/permissions/migrations/0001_initial_squashed_0007_role_is_active.py
  src/waldur_core/permissions/migrations/0009_drop_duplicates_squashed_0015_customer_manager.py
  src/waldur_core/users/migrations/0002_invitation_extra_invitation_text_squashed_0011_alter_permissionrequest_created_by.py
  src/waldur_mastermind/invoices/migrations/0002_invoiceitem_backend_uuid_squashed_0012_invoice_events.py
  src/waldur_mastermind/marketplace_checklist/migrations/0002_translations_squashed_0005_remove_checklistprojectrole_checklist_and_more.py
  src/waldur_mastermind/policy/migrations/0001_initial_squashed_0010_customerestimatedcostpolicy_options_and_more.py
  src/waldur_mastermind/proposal/migrations/0001_initial_squashed_0033_call_organizer.py
  src/waldur_mastermind/support/migrations/0002_add_backend_name_field_squashed_0010_remove_template_native_description_and_more.py
Due: Run unit tests, Run migration test

Add access_url to the sync offering fields
  src/waldur_mastermind/marketplace_remote/constants.py
  src/waldur_mastermind/marketplace_remote/tests/offering.json
  src/waldur_mastermind/marketplace_remote/tests/test_offerings.py
Due: Run unit tests, Run migration test

Fix Zammad users pull [WAL-8074]
  src/waldur_mastermind/support/backend/zammad.py
Due: Run unit tests, Run migration test

Convert fails to warnings
  docker/rootfs/app-entrypoint.sh
Due: Try building docker image

Quickfix override command failing
  src/waldur_mastermind/marketplace_support/management/commands/override_constance_settings.py
Due: Run unit tests, Run migration test

Remove broken test
  src/waldur_mastermind/support/tests/test_constance_override.py
Due: Run unit tests, Run migration test

Bugfix/whitelabeling serializer test
  src/waldur_mastermind/marketplace_support/management/commands/override_constance_settings.py
  src/waldur_mastermind/support/tests/test_constance_override.py
Due: Run unit tests, Run migration test

Allow to activate calls without reviewers
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/proposal/tests/test_calls.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test
