Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Add resource_backend_id field to marketplace_script.ResourceSerializer
  src/waldur_mastermind/marketplace_script/serializers.py
Due: Run unit tests, Run migration test

Change on_delete policy for PermissionRequest.created_by field
  src/waldur_core/users/migrations/0011_alter_permissionrequest_created_by.py
  src/waldur_core/users/models.py
Due: Run unit tests, Run migration test

[WAL-8119] Add serializer for constance settings in override
  src/waldur_mastermind/marketplace_support/management/commands/override_constance_settings.py
Due: Run unit tests, Run migration test

Add order_by to UserRoleMixin.list_users
  src/waldur_core/core/views.py
  src/waldur_core/permissions/tests/test_roles.py
  src/waldur_core/permissions/views.py
Due: Run unit tests, Run migration test

Drop unused folders
  Dockerfile
  docker/rootfs/app-entrypoint.sh
  docker/rootfs/etc/waldur/gunicorn.conf.py
  docker/rootfs/usr/local/bin/beat
  docker/rootfs/usr/local/bin/createadmin
  docker/rootfs/usr/local/bin/createinitialrevisions
  docker/rootfs/usr/local/bin/init-whitelabeling
  docker/rootfs/usr/local/bin/initdb
  docker/rootfs/usr/local/bin/load_reppu_usages_for_previous_month
  docker/rootfs/usr/local/bin/mastermind
  docker/rootfs/usr/local/bin/status
  docker/rootfs/usr/local/bin/worker
Due: Try building docker image

Move CUSTOMER.MANAGER role scope from Customer to ServiceProvider [WAL-8078]
  src/waldur_core/permissions/enums.py
  src/waldur_core/permissions/fixtures.py
  src/waldur_core/permissions/migrations/0015_customer_manager.py
  src/waldur_core/structure/tests/fixtures.py
  src/waldur_core/structure/tests/test_admin.py
  src/waldur_core/structure/tests/test_customer.py
  src/waldur_lexis/tests/test_lexis_link.py
  src/waldur_mastermind/booking/tests/fixtures.py
  src/waldur_mastermind/booking/tests/test_bookings.py
  src/waldur_mastermind/booking/tests/test_resource.py
  src/waldur_mastermind/invoices/tests/test_growth.py
  src/waldur_mastermind/marketplace/tests/fixtures.py
  src/waldur_mastermind/marketplace/tests/test_integration_status.py
  src/waldur_mastermind/marketplace/tests/test_offering_permissions.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/tests/test_order_review.py
  src/waldur_mastermind/marketplace/tests/test_resources.py
  src/waldur_mastermind/marketplace/tests/test_robot_accounts.py
  src/waldur_mastermind/marketplace_remote/tests/test_order.py
  src/waldur_mastermind/marketplace_script/tests/test_dry_run.py
  src/waldur_mastermind/promotions/tests/test_campaigns.py
Due: Run unit tests, Run migration test

Remove unused dependencies
  Dockerfile
Due: Try building docker image

Use setgid instead of chmod for folder permissions
  Dockerfile
  docker/rootfs/app-entrypoint.sh
Due: Try building docker image

Fix permissions for nginx in OKD
  Dockerfile
Due: Try building docker image

Forward nginx errors to /dev/stderr
  docker/rootfs/etc/nginx/http.d/mastermind.conf
Due: Try building docker image

Revert "Remove unused dependencies"
  Dockerfile
Due: Try building docker image

Fix typo
  docker/rootfs/etc/nginx/http.d/mastermind.conf
Due: Try building docker image

Override nginx.conf with non-root defaults
  Dockerfile
  docker/rootfs/etc/nginx/http.d/mastermind.conf
  docker/rootfs/etc/nginx/nginx.conf
Due: Try building docker image

Use 8080 port for container, fix stderr
  Dockerfile
  docker/rootfs/etc/nginx/nginx.conf
Due: Try building docker image

Change uwsgi port to 8081 to avoid conflict
  docker/rootfs/etc/nginx/proxy.conf
  docker/rootfs/etc/waldur/gunicorn.conf.py
Due: Try building docker image

Create celery folder in Dockerfile
  Dockerfile
  docker/rootfs/usr/local/bin/worker
Due: Try building docker image

Disable strict mode for ssh permissions in legacy slurm app
  src/waldur_slurm/base.py
Due: Run unit tests, Run migration test

Fix tests
  src/waldur_slurm/tests/test_backend.py
Due: Run unit tests, Run migration test

[WAL-8125] Drop rating field from Offering
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/migrations/0151_remove_offering_rating.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

[WAL-7951] Improvements to Total price in monthly revenue report
  src/waldur_mastermind/billing/views.py
Due: Run unit tests, Run migration test

Move CUSTOMER.CALL_ORGANIZER role scope from Customer to CallManagingOrganisation [WAL-8077]
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/permissions/enums.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/proposal/migrations/0033_call_organizer.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test, Try building docker image

Fix celery beat permissions
  Dockerfile
  docker/rootfs/usr/local/bin/beat
Due: Try building docker image

Expose new scopes [WAL-8077]
  src/waldur_core/permissions/enums.py
  src/waldur_core/permissions/serializers.py
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Fix override_constance_settings
  src/waldur_mastermind/marketplace_support/management/commands/override_constance_settings.py
Due: Run unit tests, Run migration test

Allow blank values for URL fields
  src/waldur_core/core/serializers.py
Due: Run unit tests, Run migration test

Allow removing images and setting colors to empty
  src/waldur_core/core/serializers.py
  src/waldur_mastermind/marketplace_support/management/commands/override_constance_settings.py
Due: Run unit tests, Run migration test

Expose service provider UUID in customer serializer.
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Add AgentPluginOptionsSerializer
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Add generate_integration_user to the provider offering viewset
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Revert "Add generate_integration_user to the provider offering viewset"
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

[WAL-8073] External IP doesn't seem to be calculated on VM import.
  src/waldur_mastermind/marketplace_openstack/tests/test_import.py
  src/waldur_mastermind/marketplace_openstack/utils.py
Due: Run unit tests, Run migration test

[WAL-8142] Add parent offering field&filter to resources
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

[WAL-8132] Fix bad naming of auto-created resources.
  src/waldur_autoprovisioning/handlers.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Accept requests on all hostnames
  docker/rootfs/etc/nginx/nginx.conf
Due: Try building docker image

Move default idp to constance
  src/waldur_core/core/metadata.py
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test

Add user token management endpoints for staff
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Switch default user to match nginx
  Dockerfile
Due: Try building docker image

[WAL-8027] Extend TemplateViewSet to support crud actions
  src/waldur_mastermind/support/serializers.py
  src/waldur_mastermind/support/tests/test_issue_templates.py
  src/waldur_mastermind/support/views.py
Due: Run unit tests, Run migration test

[WAL-8134] Fix broken project on autoprovisioning.
  src/waldur_autoprovisioning/handlers.py
  src/waldur_autoprovisioning/tests/test_handlers.py
Due: Run unit tests, Run migration test

[WAL-7766] Move FloatingIP.external_address to GenericIPAddressField.
  src/waldur_mastermind/marketplace_openstack/serializers.py
  src/waldur_mastermind/marketplace_openstack/tests/test_offering.py
  src/waldur_mastermind/marketplace_openstack/utils.py
  src/waldur_openstack/migrations/0045_floatingip_external_address.py
  src/waldur_openstack/models.py
Due: Run unit tests, Run migration test
