Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Expose created project in group invitation submit_request response [WAL-9997]
  src/waldur_core/users/models.py
  src/waldur_core/users/serializers.py
  src/waldur_core/users/tests/test_group_invitation.py
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_core/users/views.py
Due: Run unit tests, Run migration test

Restore ?field= projection for endpoints with responses= override
  src/waldur_core/core/openapi_inspector.py
  src/waldur_core/core/tests/test_openapi_inspector.py
Due: Run unit tests, Run migration test

Refresh marketplace usage snapshots on every OpenStack tenant quota pull [WAL-9998]
  src/waldur_mastermind/marketplace_openstack/apps.py
  src/waldur_mastermind/marketplace_openstack/handlers.py
  src/waldur_mastermind/marketplace_openstack/tests/test_usages.py
  src/waldur_openstack/backend.py
  src/waldur_openstack/signals.py
Due: Run unit tests, Run migration test

Fix datetime/date type mismatch in usage-triggered invoice creation [CSCS-5AK]
  src/waldur_mastermind/marketplace/billing.py
  src/waldur_mastermind/marketplace/tests/test_invoice.py
Due: Run unit tests, Run migration test

Defer policy publish to on_commit; drop recursive .save() in project-name handler [CSCS-5AT]
  src/waldur_mastermind/invoices/handlers.py
  src/waldur_mastermind/policy/handlers.py
  src/waldur_mastermind/policy/tests/test_cost_policy_month_boundary.py
Due: Run unit tests, Run migration test

Stop overlay from clobbering CELERY_BROKER_TRANSPORT_OPTIONS
  docker/rootfs/etc/waldur/settings.py
Due: Try building docker image

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/handlers.md
Due: none

Trace OpenStack API calls with per-request latency
  src/waldur_core/core/tasks.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/backend.py
  src/waldur_openstack/session.py
  src/waldur_openstack/tests/fixtures.py
  src/waldur_openstack/tests/test_session.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/configuration-guide.md
Due: none

[Bugfix] Fix has_gpu filter skipping mixed software packages that have gpu modules
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/tests/test_software_catalogs.py
Due: Run unit tests, Run migration test

Enforce purchase order requirement for UPDATE resource orders
  src/waldur_mastermind/marketplace/order_approval.py
  src/waldur_mastermind/marketplace/tests/test_order_auto_approval.py
  src/waldur_mastermind/marketplace/tests/test_order_review.py
Due: Run unit tests, Run migration test

Support optional shared-secret auth on webhook receivers (SEC-C7)
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/marketplace_support/tests/test_smax_termination_cancelled.py
  src/waldur_mastermind/support/tests/smax_base.py
  src/waldur_mastermind/support/tests/test_jira_web_hooks.py
  src/waldur_mastermind/support/tests/test_security_c7_webhook_auth.py
  src/waldur_mastermind/support/tests/test_smax_issues.py
  src/waldur_mastermind/support/tests/test_zammad_issues.py
  src/waldur_mastermind/support/tests/zammad_base.py
  src/waldur_mastermind/support/views.py
Due: Run unit tests, Run migration test

docs: update Waldur screenshot image source in README
  README.md
Due: none

Make close_course_account idempotent for already-closed accounts [CSCS-4K1]
  src/waldur_mastermind/marketplace/tests/test_course_accounts.py
  src/waldur_mastermind/marketplace/utils.py
Due: Run unit tests, Run migration test

Fix site agent offerings displaying backend_id for federated sync offerings when effective id is not set
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_resource_display_options.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
Due: Run unit tests, Run migration test

Drop orphaned SlurmSection feature toggle
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

Fix 500 on openstack-instances rescue/unrescue endpoints
  src/waldur_core/logging/enums.py
  src/waldur_openstack/tests/test_action_event_types.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/features.md
  docs/admin/scheduled.md
  docs/events.md
  docs/handlers.md
Due: none

Support feature flag values in demo presets [WAL-9669]
  src/waldur_mastermind/marketplace/demo_presets/presets/call_management.json
  src/waldur_mastermind/marketplace/management/commands/import_structure.py
Due: Run unit tests, Run migration test

Upgrade sentry-sdk and improve init for tasks and profiling
  docker/rootfs/etc/waldur/settings.py
  uv.lock
Due: Try building docker image

Bump Django to 6.0.6 to fix osv-scanner CVEs
  uv.lock
Due: none

Eliminate N+1 in sync_user_deactivation_status periodic task
  src/waldur_core/permissions/tasks.py
  src/waldur_core/permissions/tests/test_tasks.py
Due: Run unit tests, Run migration test

Handle missing Kubernetes config in orphaned resource cleanup [PUHURI-PORTALS-PPF]
  src/waldur_kubernetes/backend.py
  src/waldur_mastermind/marketplace_script/tasks.py
  src/waldur_mastermind/marketplace_script/tests/test_tasks.py
Due: Run unit tests, Run migration test

Fix completion_percentage denominator for user checklist completions [WAL-9175]
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_user_checklist_completions.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Add public homeserver URL for Matrix browser clients
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/matrix_chat/matrix_client.py
  src/waldur_mastermind/matrix_chat/serializers.py
  src/waldur_mastermind/matrix_chat/tests/test_appservice.py
  src/waldur_mastermind/matrix_chat/tests/test_credentials.py
  src/waldur_mastermind/matrix_chat/views.py
Due: Run unit tests, Run migration test

[WAL-9958] Add offeringuser runtime_state field
  docs/core-concepts/event-based-order-processing.md
  docs/core-concepts/offering-users.md
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0239_offeringuser_runtime_state.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Revoke offering-scoped roles when an offering is deleted
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0239_deactivate_orphaned_offering_roles.py
  src/waldur_mastermind/marketplace/tests/test_offering_role_revocation.py
Due: Run unit tests, Run migration test

Don't require billing plans to delete, pause or archive an offering
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Resolve marketplace migration conflict between 0239 leaf nodes
  src/waldur_mastermind/marketplace/migrations/0240_deactivate_orphaned_offering_roles.py
Due: Run unit tests, Run migration test

Skip credit end_date day=1 validation on partial saves
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/invoices/tests/test_credits.py
Due: Run unit tests, Run migration test

Fix health-check false-positive broker outage from stale pool [CSCS-5B3]
  src/waldur_core/core/health_checks.py
  src/waldur_core/core/tests/test_health_check.py
Due: Run unit tests, Run migration test

Reject duplicate pending invitations from non-API creators
  src/waldur_mastermind/marketplace/tests/test_resource_project_soft_delete.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_openportal/tests/test_invite_user_to_project.py
  src/waldur_openportal/utils.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/handlers.md
Due: none

Reconcile OpenStack instance billing against Placement allocations [WAL-9900]
  src/waldur_mastermind/marketplace_openstack/management/commands/validate_openstack_billing.py
  src/waldur_mastermind/marketplace_openstack/tests/test_validate_billing.py
  src/waldur_mastermind/marketplace_openstack/utils.py
Due: Run unit tests, Run migration test

[WAL-9996] Allow null for required_team_role and resource_name_pattern plugin options
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
Due: Run unit tests, Run migration test

Raise matrix credentials throttle rate to 1000/hour
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test

[WAL-10015] Fix component usage API displaying all data to authenticated users
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_component_usage_permissions.py
  src/waldur_mastermind/marketplace/tests/test_usage.py
Due: Run unit tests, Run migration test

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
