Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*

Adjust maintenance connection logic to admin announcements [WAL-9072]
  docs/maintenance-announcement.md
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/views.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/maintenance_utils.py
  src/waldur_mastermind/marketplace/migrations/0174_maintenanceannouncement_admin_announcement.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_signals.py
  src/waldur_mastermind/notifications/serializers.py
Due: Run unit tests, Run migration test

Fix health check
  src/waldur_core/core/tests/test_celery_config.py
  src/waldur_core/core/tests/test_health_check.py
  src/waldur_core/server/celery_settings.py
Due: Run unit tests, Run migration test

Fix imports
  src/waldur_core/core/tests/test_celery_config.py
  src/waldur_core/core/tests/test_health_check.py
Due: Run unit tests, Run migration test

Fix regular builds
  pyproject.toml
Due: Run unit tests, Run migration test

Fix build configuration for UV
  pyproject.toml
Due: Run unit tests, Run migration test

Update ansible config
  ansible-generator-config.yaml
Due: none

Merge docs with dev dependencies for uv
  .gitlab-ci.yml
  pyproject.toml
  uv.lock
Due: Run unit tests, Run migration test

Update permission description, add tests
  .gitlab-ci.yml
  docs/core-concepts/permissions.md
  gitlab-ci-test/waldur-test
  src/waldur_core/core/client.py
  src/waldur_core/permissions/tests/test_complex_permissions.py
  src/waldur_core/permissions/tests/test_integration.py
  src/waldur_core/permissions/tests/test_time_based_roles.py
  src/waldur_core/permissions/tests/test_utils.py
  src/waldur_core/permissions/utils.py
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/tests/test_customer_user_count_accuracy.py
  src/waldur_core/structure/views.py
  src/waldur_mastermind/proposal/tests/test_call_customer_performance.py
Due: Run unit tests, Run migration test

Skip empty polymorphic schema
  src/waldur_core/core/schema_hooks.py
Due: Run unit tests, Run migration test

[WAL-9088] Add maintenance announcement public vieset
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_announcement.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Add command for dumping override settings
  src/waldur_mastermind/marketplace_support/management/commands/dump_constance_settings.py
  src/waldur_mastermind/marketplace_support/tests/test_dump_constance_settings.py
Due: Run unit tests, Run migration test

Implement OAI extension for OpenStackNestedSecurityGroupSerializer
  src/waldur_core/core/openapi_extensions.py
Due: Run unit tests, Run migration test

Add configuration for OS VPC module
  ansible-generator-config.yaml
Due: none

Add OS network, secgroup, server group, floating IPs modules
  ansible-generator-config.yaml
Due: none

Add GitLab CI/CD jobs to publish Ansible Galaxy collections
  .gitlab-ci.yml
Due: none

Fix CI
  .gitlab-ci.yml
Due: none

Install jq
  .gitlab-ci.yml
Due: none

Remove extra comment
  .gitlab-ci.yml
Due: none

Drop quotes
  .gitlab-ci.yml
Due: none

Filter nested properties by parent container
  ansible-generator-config.yaml
Due: none

Add command for exporting configured permissions
  src/waldur_core/permissions/management/commands/export_roles.py
  src/waldur_core/permissions/tests/test_export_roles.py
Due: Run unit tests, Run migration test

Improve service account management for site agent offerings
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/logging/utils.py
  src/waldur_core/permissions/enums.py
  src/waldur_core/server/urls.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_site_agent/apps.py
  src/waldur_mastermind/marketplace_site_agent/handlers.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_service_account.py
Due: Run unit tests, Run migration test, Try building docker image

[WAL-8798] Implement backend for consent management for Offering ToS
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/extension.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0175_remove_offering_terms_of_service_and_more.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/fixtures.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
  src/waldur_mastermind/marketplace/tests/test_stats.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_remote/constants.py
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_offerings.py
Due: Run unit tests, Run migration test

Fix state validation for offering users
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Revert "[WAL-8798] Implement backend for consent management for Offering ToS"
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/extension.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0175_remove_offering_terms_of_service_and_more.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/fixtures.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
  src/waldur_mastermind/marketplace/tests/test_stats.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_remote/constants.py
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_offerings.py
Due: Run unit tests, Run migration test

Improve configuration format
  ansible-generator-config.yaml
Due: none

Fix OpenStackNestedSecurityGroupSerializerExtension
  src/waldur_core/core/openapi_extensions.py
Due: Run unit tests, Run migration test

Improve ansible config with resolvers for OS VM provision
  ansible-generator-config.yaml
Due: none

Fix name of the service account observable object type
  src/waldur_core/logging/utils.py
  src/waldur_mastermind/marketplace_site_agent/handlers.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_service_account.py
Due: Run unit tests, Run migration test

Improve descriptions for OS models and serializer fields
  src/waldur_core/core/mixins.py
  src/waldur_core/users/migrations/0017_alter_permissionrequest_review_comment_and_more.py
  src/waldur_mastermind/marketplace_remote/migrations/0009_alter_projectupdaterequest_review_comment_and_more.py
  src/waldur_openstack/migrations/0058_alter_backup_instance_alter_backup_snapshots_and_more.py
  src/waldur_openstack/models.py
  src/waldur_openstack/serializers.py
  src/waldur_rancher/migrations/0052_alter_clustersecuritygrouprule_backend_id_and_more.py
Due: Run unit tests, Run migration test

Skeleton of offering compliance [WAL-9035]
  docs/offering-compliance.md
  src/waldur_core/server/urls.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0175_change_compliance_checklists_to_single_checklist.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/factories.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Update Ansible configuration file
  ansible-generator-config.yaml
Due: none

Allow to specify data volumes in instance creation
  src/waldur_mastermind/marketplace_openstack/processors.py
Due: Run unit tests, Run migration test

Update config for ansible
  ansible-generator-config.yaml
Due: none

Allow creation of public group invitations [WAL-9092]
  docs/core-concepts/invitations.md
  src/waldur_core/users/filters.py
  src/waldur_core/users/migrations/0018_add_is_public_to_group_invitation.py
  src/waldur_core/users/models.py
  src/waldur_core/users/serializers.py
  src/waldur_core/users/tests/test_public_group_invitation.py
  src/waldur_core/users/views.py
Due: Run unit tests, Run migration test

Update dependencies, remove deprecated pyvat
  pyproject.toml
  src/waldur_core/structure/migrations/0057_alter_customer_vat_address_alter_customer_vat_name.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_customer.py
  uv.lock
Due: Run unit tests, Run migration test

COnvert gb to mb
  ansible-generator-config.yaml
Due: none

Revert "Revert "[WAL-8798] Implement backend for consent management for Offering ToS""
  pyproject.toml
  src/waldur_core/checklist/tests/test_integration_viewsets.py
  src/waldur_mastermind/marketplace/admin.py
  src/waldur_mastermind/marketplace/extension.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0176_remove_offering_terms_of_service_and_more.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/fixtures.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/tests/test_offerings.py
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
  src/waldur_mastermind/marketplace/tests/test_stats.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_remote/constants.py
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_offerings.py
  uv.lock
Due: Run unit tests, Run migration test

[WAL-9054] Fix review fetch for call managers/organisers
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/fixtures.py
  src/waldur_mastermind/proposal/tests/test_visibility.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test
