Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Widen Instance/Volume name and image_name to 255 [WAL-10102]
  src/waldur_openstack/migrations/0078_alter_instance_image_name_alter_instance_name_and_more.py
  src/waldur_openstack/models.py
Due: Run unit tests, Run migration test

Hide restricted offerings user cannot order from marketplace catalog [WAL-10103]
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/managers.py
  src/waldur_mastermind/marketplace/tests/test_restricted_offering.py
Due: Run unit tests, Run migration test

Collapse organization-group resource count into a single query
  src/waldur_mastermind/marketplace/tests/test_stats.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Skip user's name and surname sync if he has efp in the list of active_isds
  src/waldur_auth_social/tests/test_eduteams.py
  src/waldur_auth_social/tests/test_identity_bridge.py
  src/waldur_auth_social/utils.py
  src/waldur_core/server/constance_settings.py
Due: Run unit tests, Run migration test

refactor: delegate release orchestration and SDK generation to waldur-docs
  .gitlab-ci.yml
  openapi-ts.config.mjs
  scripts/generate-ts-sdk.sh
  scripts/generate_llm_docs.py
  scripts/patch-sdk.mjs
Due: none

ci: inject tag-based dev version into OpenAPI schema on develop/MR runs
  .gitlab-ci.yml
Due: none

Add per-resource allowed access subnets with offering opt-in
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/core/tests/test_utils.py
  src/waldur_core/core/utils.py
  src/waldur_core/logging/enums.py
  src/waldur_core/permissions/enums.py
  src/waldur_core/structure/management/commands/organization_access_subnets.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/management/commands/resource_access_subnets.py
  src/waldur_mastermind/marketplace/migrations/0251_resourceaccesssubnet.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_resource_access_subnet.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test, Try building docker image

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/events.md
  docs/handlers.md
Due: none

chore: increase expiration of generated schema artifacts to one week
  .gitlab-ci.yml
Due: none

Add maintenance announcement creation and state change logging
  docs/maintenance-announcement.md
  src/waldur_core/logging/enums.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/log.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_announcement_events.py
Due: Run unit tests, Run migration test

Organization-scoped custom roles (backend) [WAL-10095]
  docs/guides/organization-roles.md
  src/waldur_autoprovisioning/handlers.py
  src/waldur_autoprovisioning/tests/test_handlers.py
  src/waldur_core/core/schema_hooks.py
  src/waldur_core/onboarding/models.py
  src/waldur_core/permissions/apps.py
  src/waldur_core/permissions/filters.py
  src/waldur_core/permissions/handlers.py
  src/waldur_core/permissions/migrations/0023_customerroleconcealment.py
  src/waldur_core/permissions/mixins.py
  src/waldur_core/permissions/models.py
  src/waldur_core/permissions/serializers.py
  src/waldur_core/permissions/tests/test_org_scoped_roles.py
  src/waldur_core/permissions/urls.py
  src/waldur_core/permissions/utils.py
  src/waldur_core/permissions/views.py
  src/waldur_core/structure/views.py
  src/waldur_core/users/scim/server/groups_view.py
  src/waldur_core/users/serializers.py
  src/waldur_core/users/tests/scim/test_groups.py
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_hpc/handlers.py
  src/waldur_mastermind/proposal/utils.py
Due: Run unit tests, Run migration test

Trim permissions payload on /api/users/me endpoint [WAL-8015]
  src/waldur_core/permissions/serializers.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_user.py
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Bulk category component usage writes to remove N+1 [PUHURI-PORTALS-TC9]
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/tests/test_tasks.py
Due: Run unit tests, Run migration test

Reconcile Instance/Volume resources orphaned under terminated tenants
  src/waldur_mastermind/marketplace_openstack/extension.py
  src/waldur_mastermind/marketplace_openstack/tasks.py
  src/waldur_mastermind/marketplace_openstack/tests/test_tasks.py
Due: Run unit tests, Run migration test

Add provider default access subnets on the offering
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/logging/enums.py
  src/waldur_core/permissions/enums.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/management/commands/resource_access_subnets.py
  src/waldur_mastermind/marketplace/migrations/0252_offeringaccesssubnet.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_offering_access_subnet.py
  src/waldur_mastermind/marketplace/tests/test_resource_access_subnet.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test, Try building docker image

Add full-text search over chat conversation content [WAL-9653]
  src/waldur_mastermind/chat/anonymous/filters.py
  src/waldur_mastermind/chat/anonymous/models.py
  src/waldur_mastermind/chat/anonymous/tests/test_log_search.py
  src/waldur_mastermind/chat/migrations/0013_anonymouschatinteraction_search_text_and_more.py
  src/waldur_mastermind/chat/models.py
  src/waldur_mastermind/chat/tests/test_log_search.py
  src/waldur_mastermind/chat/views.py
Due: Run unit tests, Run migration test

Fix chat search migration pending trigger events error
  src/waldur_mastermind/chat/migrations/0013_anonymouschatinteraction_search_text_and_more.py
  src/waldur_mastermind/chat/migrations/0014_chat_search_gin_indexes.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/scheduled.md
  docs/core_permissions.mmd
  docs/events.md
  docs/handlers.md
Due: none

Add accessible filter to marketplace categories endpoint [WAL-10103]
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_restricted_offering.py
Due: Run unit tests, Run migration test

Fix mermaid syntax in the billing flow diagram
  docs/core-concepts/marketplace.md
Due: none

Fix provider attribution and add scheduled window to maintenance admin announcements
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/maintenance_utils.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_signals.py
Due: Run unit tests, Run migration test

[WAL-10116] Add permission for managing maintenance announcements
  docker/rootfs/etc/waldur/permissions.yaml
  docs/maintenance-announcement.md
  src/waldur_core/permissions/enums.py
  src/waldur_core/structure/tests/fixtures.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/fixtures.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_announcement.py
  src/waldur_mastermind/marketplace/tests/test_maintenance_announcement_template.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test, Try building docker image

Adjust INFO level logs to not leak sensitive information
  src/waldur_auth_social/utils.py
  src/waldur_auth_social/views.py
  src/waldur_auth_valimo/tasks.py
Due: Run unit tests, Run migration test

Fix Instance.external_address to exclude floating IPs without one set
  src/waldur_mastermind/invoices/serializers.py
  src/waldur_openstack/models.py
  src/waldur_openstack/tests/test_models.py
Due: Run unit tests, Run migration test

Allow call organizer to view the call team [WAL-10148]
  src/waldur_mastermind/proposal/tests/test_list_users.py
  src/waldur_mastermind/proposal/views.py
Due: Run unit tests, Run migration test

Show call managers in the call Team list [WAL-10149]
  src/waldur_core/permissions/views.py
  src/waldur_mastermind/proposal/tests/test_list_users.py
Due: Run unit tests, Run migration test

Scope-aware pub/sub: EventConsumer with entity bindings, cheap fan-out, and user-centric events
  .gitignore
  docker/rootfs/etc/waldur/logging.conf.py
  docs/core-concepts/event-based-order-processing.md
  docs/design/pubsub-architecture.md
  docs/guides/agent-pubsub.md
  docs/guides/event-subscription-queues.md
  scripts/validate_docs.py
  src/waldur_core/logging/apps.py
  src/waldur_core/logging/backend.py
  src/waldur_core/logging/enums.py
  src/waldur_core/logging/event_dispatch.py
  src/waldur_core/logging/handlers.py
  src/waldur_core/logging/migrations/0025_eventconsumer.py
  src/waldur_core/logging/models.py
  src/waldur_core/logging/serializers.py
  src/waldur_core/logging/tasks.py
  src/waldur_core/logging/tests/factories.py
  src/waldur_core/logging/tests/test_event_consumer_registration.py
  src/waldur_core/logging/tests/test_global_event_dispatch.py
  src/waldur_core/logging/urls.py
  src/waldur_core/logging/utils.py
  src/waldur_core/logging/views.py
  src/waldur_core/permissions/utils.py
  src/waldur_core/server/dev_settings_glauth.py
  src/waldur_core/server/test_settings_ws2.py
  src/waldur_core/server/test_settings_ws2_arch.py
  src/waldur_mastermind/marketplace/tests/test_consumer_scope_bindings.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_site_agent/apps.py
  src/waldur_mastermind/marketplace_site_agent/extension.py
  src/waldur_mastermind/marketplace_site_agent/handlers.py
  src/waldur_mastermind/marketplace_site_agent/migrations/0004_agentidentity_event_consumer.py
  src/waldur_mastermind/marketplace_site_agent/models.py
  src/waldur_mastermind/marketplace_site_agent/serializers.py
  src/waldur_mastermind/marketplace_site_agent/tasks.py
  src/waldur_mastermind/marketplace_site_agent/tests/factories.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_agent_queue.py
  src/waldur_mastermind/marketplace_site_agent/views.py
Due: Run unit tests, Run migration test, Try building docker image

Fix PermissionRequestSerializer fields to allow null values
  src/waldur_core/users/serializers.py
Due: Run unit tests, Run migration test

[WAL-3444] Add related_user_uuid events filter for user audit logs
  src/waldur_core/logging/filters.py
  src/waldur_core/logging/tests/test_events_stats.py
Due: Run unit tests, Run migration test

Add configurable project name validation regex [HPCMP-500]
  src/waldur_core/core/validators.py
  src/waldur_core/server/constance_settings.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/structure/tests/test_project.py
  src/waldur_core/users/serializers.py
  src/waldur_core/users/tests/test_auto_project_creation.py
  src/waldur_mastermind/proposal/serializers.py
  src/waldur_mastermind/proposal/tests/test_proposals.py
Due: Run unit tests, Run migration test

Fix ProjectMetadataAnswer.answer OpenAPI schema type to match reality
  src/waldur_core/structure/serializers.py
Due: Run unit tests, Run migration test

Update configuration, CLI and developer guide
  docs/admin/cli-guide.md
  docs/admin/configuration-guide.md
  docs/admin/scheduled.md
  docs/admin/templates.md
  docs/handlers.md
Due: none

Allow project users to see invoice items when customer displays billing info in projects
  src/waldur_mastermind/chat/tests/test_explain_invoice_compensations.py
  src/waldur_mastermind/chat/tests/test_explain_resource_paused_reason.py
  src/waldur_mastermind/invoices/models.py
  src/waldur_mastermind/invoices/tests/test_invoice_items.py
Due: Run unit tests, Run migration test

Fix token refresh race causing IntegrityError on concurrent rotation [WAL-10151]
  src/waldur_core/core/authentication.py
  src/waldur_core/core/tests/test_authentication.py
Due: Run unit tests, Run migration test

Bump pyasn1 to 0.6.4 to fix two High CVEs [WAL-10153]
  uv.lock
Due: none

Pub/sub docs follow-up: known-gaps cleanup + integration recipes
  docs/design/pubsub-architecture.md
  docs/guides/agent-pubsub.md
Due: none

Handle transport errors and refresh stale credentials in remote offering sync
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_remote_synchronisation_task.py
  src/waldur_mastermind/marketplace_remote/utils.py
  src/waldur_mastermind/marketplace_remote/utils_sync_remote_offerings.py
  src/waldur_mastermind/marketplace_remote/views.py
Due: Run unit tests, Run migration test

[Fix] Add filtering of offuser by name/lastname
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
Due: Run unit tests, Run migration test

Fix spurious Creating -> Terminated -> Erred double-transition on create failure
  src/waldur_mastermind/marketplace/tests/test_order_set_state.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_orders.py
Due: Run unit tests, Run migration test

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
