Repository waldur/waldur-mastermind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run unit tests, Run migration test, Try building docker image

Run unit tests:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Run migration test:
  image: $CI_REGISTRY/$WALDUR_MASTERMIND_TEST_IMAGE
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/postgres:12-alpine
    alias: postgres
    command:
    - postgres
    - -cfsync=off
    - -cfull_page_writes=off
    - -cmax_connections=1000
    - -cshared_buffers=1GB
  ...

Try building docker image:
  stage: test
  interruptible: true
  services:
  - name: $CI_REGISTRY/waldur/waldur-pipelines/docker:19.03.12-dind
    alias: docker
    command:
    - --mtu=1400
  variables:
    DOCKER_REGISTRY: registry.hpc.ut.ee/mirror/
  script:
  - docker build -t waldur-mastermind:$CI_COMMIT_REF_SLUG .

Skip deletion of invalid Rancher nodes without backend ID [WAL-9144]
  src/waldur_rancher/executors.py
  src/waldur_rancher/tests/test_cluster.py
Due: Run unit tests, Run migration test

Fix CI
  tests/generate-pipeline.sh
Due: none

Forward dotenv to child job
  .gitlab-ci.yml
Due: none

Ignore MP remote dependency in structure admin
  src/waldur_core/structure/admin.py
  tests/dependency_graph.yaml
Due: Run unit tests, Run migration test

Decouple site agent from structure
  src/waldur_core/structure/views.py
  src/waldur_mastermind/marketplace_site_agent/extension.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_user_role_sync.py
  src/waldur_mastermind/marketplace_site_agent/urls.py
  src/waldur_mastermind/marketplace_site_agent/views.py
  tests/build_dependency_graph.py
  tests/dependency_graph.yaml
Due: Run unit tests, Run migration test

Decouple openstack and azure
  src/waldur_mastermind/marketplace_openstack/handlers.py
  tests/dependency_graph.yaml
Due: Run unit tests, Run migration test

Remove dead code
  src/waldur_mastermind/billing/serializers.py
Due: Run unit tests, Run migration test

Drop extra quotes
  tests/generate-pipeline.sh
Due: none

Drop transitive logic in dynamic test selection
  tests/generate-pipeline.sh
  tests/select_tests.py
Due: none

Use double quotes instead of single quotes in test pipeline
  tests/generate-pipeline.sh
Due: none

Fix dependency installation
  tests/generate-pipeline.sh
Due: none

Reorder arguments to fix variable expansion
  tests/generate-pipeline.sh
  tests/waldur-test
Due: none

Make test runner more robust
  tests/waldur-test
Due: none

Fix ServiceAccount state field
  src/waldur_core/server/openapi_settings.py
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/serializers.py
Due: Run unit tests, Run migration test

Document dynamic testing pipeline
  docs/guides/dynamic-tests-scheduling.md
Due: none

Make change detection more robust by ignoring unrelated changes
  tests/select_tests.py
Due: none

Expose additional fields [WAL-9117]
  src/waldur_core/structure/tests/test_customer_project_metadata_compliance.py
  src/waldur_core/users/serializers.py
  src/waldur_core/users/tests/test_group_invitation.py
Due: Run unit tests, Run migration test

Introduce openstack network facts ansible module
  ansible-generator-config.yaml
Due: none

Fix annotation
  src/waldur_core/structure/views.py
Due: Run unit tests, Run migration test

Introduce subnet ansible crud module
  ansible-generator-config.yaml
Due: none

Skip soft-deleted projects from certain queries
  src/waldur_core/quotas/fields.py
  src/waldur_core/structure/filters.py
  src/waldur_core/structure/managers.py
  src/waldur_core/structure/serializers.py
  src/waldur_core/users/views.py
  src/waldur_mastermind/billing/handlers.py
  src/waldur_mastermind/marketplace/tasks.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace_remote/tasks.py
Due: Run unit tests, Run migration test

Introduce openstack actions modules
  ansible-generator-config.yaml
Due: none

Simplify ansible module config
  ansible-generator-config.yaml
Due: none

Add ansible OS RBAC policy module
  ansible-generator-config.yaml
Due: none

Fix permission check for filling compliance checklist
  src/waldur_mastermind/marketplace/tests/test_offering_users.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Improve OAI schema for OS routes and subnets
  src/waldur_core/core/openapi_extensions.py
Due: Run unit tests, Run migration test

Expose IssueStatus management in REST API [WAL-9160]
  docs/guides/dynamic-tests-scheduling.md
  docs/plugins/ticket-based-offerings.md
  docs/support.md
  src/waldur_mastermind/support/migrations/0013_add_uuid_to_issue_status.py
  src/waldur_mastermind/support/migrations/0014_alter_issuestatus_uuid.py
  src/waldur_mastermind/support/models.py
  src/waldur_mastermind/support/serializers.py
  src/waldur_mastermind/support/tests/test_issue_statuses.py
  src/waldur_mastermind/support/urls.py
  src/waldur_mastermind/support/views.py
Due: Run unit tests, Run migration test

[Bugfix] Add conditional filtering of offerings tos based on constance setting
  src/waldur_core/server/constance_settings.py
  src/waldur_mastermind/marketplace/permissions.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/test_order_crud.py
  src/waldur_mastermind/marketplace/tests/test_stats.py
  src/waldur_mastermind/marketplace/tests/test_terms_of_service_consent.py
  src/waldur_mastermind/marketplace/views.py
Due: Run unit tests, Run migration test

Fix notifications (convert key to string in event_groups)
  src/waldur_core/core/management/commands/print_events_enums.py
  src/waldur_core/logging/event_logger.py
  src/waldur_core/logging/tasks.py
  src/waldur_core/logging/tests/test_events_stats.py
  src/waldur_core/logging/tests/test_hooks.py
Due: Run unit tests, Run migration test

Bump health checks, enable rmq and smtp checks
  pyproject.toml
  src/waldur_core/server/base_settings.py
  uv.lock
Due: Run unit tests, Run migration test

Disable unstable checks
  src/waldur_core/server/base_settings.py
Due: Run unit tests, Run migration test

Refactor lookup of instance metadata for images
  src/waldur_openstack/backend.py
  src/waldur_openstack/models.py
  src/waldur_openstack/tests/test_backend.py
Due: Run unit tests, Run migration test

Add extra Ansible module
  ansible-generator-config.yaml
Due: none

Implement remote group resolution for Ansible
  ansible-generator-config.yaml
Due: none

Refactor Ansible config
  ansible-generator-config.yaml
Due: none

Add feature toggle for image display in markdown [WAL-9170]
  src/waldur_core/core/features.py
Due: Run unit tests, Run migration test

[WAL-9080] Updated ToS sync for remote offerings
  src/waldur_mastermind/marketplace_remote/tasks.py
  src/waldur_mastermind/marketplace_remote/tests/test_offerings.py
  src/waldur_mastermind/marketplace_remote/utils.py
Due: Run unit tests, Run migration test

Sync config
  ansible-generator-config.yaml
Due: none

[WAL-9102] Implement course project integration
  docker/rootfs/etc/waldur/permissions.yaml
  src/waldur_core/core/metadata.py
  src/waldur_core/logging/utils.py
  src/waldur_core/permissions/enums.py
  src/waldur_core/server/urls.py
  src/waldur_core/structure/enums.py
  src/waldur_core/structure/migrations/0058_project_kind.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/serializers.py
  src/waldur_mastermind/marketplace/apps.py
  src/waldur_mastermind/marketplace/enums.py
  src/waldur_mastermind/marketplace/filters.py
  src/waldur_mastermind/marketplace/handlers.py
  src/waldur_mastermind/marketplace/migrations/0179_courseaccount.py
  src/waldur_mastermind/marketplace/models.py
  src/waldur_mastermind/marketplace/serializers.py
  src/waldur_mastermind/marketplace/tests/factories.py
  src/waldur_mastermind/marketplace/tests/test_course_accounts.py
  src/waldur_mastermind/marketplace/tests/test_service_providers.py
  src/waldur_mastermind/marketplace/urls.py
  src/waldur_mastermind/marketplace/utils.py
  src/waldur_mastermind/marketplace/views.py
  src/waldur_mastermind/marketplace_site_agent/apps.py
  src/waldur_mastermind/marketplace_site_agent/handlers.py
  src/waldur_mastermind/marketplace_site_agent/tests/test_course_account.py
Due: Run unit tests, Run migration test, Try building docker image

Extend group invitation functionality [WAL-9118]
  src/waldur_core/structure/migrations/0059_customer_description.py
  src/waldur_core/structure/models.py
  src/waldur_core/structure/tests/test_customer.py
  src/waldur_core/structure/views.py
  src/waldur_core/users/filters.py
  src/waldur_core/users/serializers.py
  src/waldur_core/users/tests/test_invitation.py
  src/waldur_core/users/views.py
Due: Run unit tests, Run migration test

Path conditions:
  Run unit tests: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Run migration test: any of: src/**/*, pyproject.toml, poetry.lock, gitlab-ci-test/**/*
  Try building docker image: any of: Dockerfile, docker/**/*
